ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

u li a {
  display: block;
  color: #3247D5;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.requestbtn {
  background-color: #4282be;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.leavelist {
  padding: 0px 20px;
}

.applyleavetxt {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

th {
  background-color: #e4e5e6;
}

td {
  background-color: rgb(247, 242, 242);
  color: #494949;
}

.show3res {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5;
  color: #777;
  text-transform: uppercase;
  padding: 10px 0 5px;
}

.leavebalance {
  /* padding-top: 10px;
  padding-left: 10px; */
  font-weight: bold;
  color: #3247D5;
  font-size: 20px;
}

label {
  margin-bottom: -0.5rem;
}

.leavereq {
  padding-left: 10px;
}

p {
  margin-bottom: 0rem !important;
}

/* .inputfield {
  background-color: rgb(238, 234, 234);
  ;
} */

.table {
  border-color: black;
}

.BackEnt {
  margin-top: -10px;
  font-size: x-large;
  font-weight: 900;
  text-decoration: none;
}

.BACK {
  margin-top: 10px;
  text-decoration: none;
}

.submitbtn {
  background-color: #3247D5;
  color: white;
}

.span {
  color: red;
}

/* .dropfiles {
  height: 130px;
  box-sizing: border-box;

  width: 310px;
  left: 190px;
  top: 455px;
  background: #E2DEFF;
  border: 1px dashed #3247D5;
  border-radius: 5px;
  color: #3247D5;
} */

.dropdowning {
  position: absolute;
  top: 65px;
}

/* .close-btn,
.butn-sadow {
  bottom: -20px;
  left: 60px;
}
 */
.butn-sadow {
  position: relative;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .close-btn {
    left: 130px;
  }
}