.sidenav {
  /* height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: -0.6%;
  left: 0;

  background: #FFFFFF;
 

  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  overflow-x: hidden;
  padding-top: 10px; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  /* top: -0.6%; */
  /* left: 6%; */
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 12%);
  overflow-x: hidden;
  padding-top: 10px;

}

.icon28 {
  font-size: 15px;
  color: #3247D5;
}

.icon {
  color: #3247D5;
}

.sidenav a {
  padding: 10px 0px 5px 0px;
  text-decoration: none;
  font-size: 13px;

  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;

  border-bottom: 1px solid gray;


}




.sideblue a {
  padding: 10px 0px 5px 0px;
  text-decoration: none;
  font-size: 13px;

  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;
  border-bottom: 1px solid gray;

}



.sidenav a:active {
  color: blue;
}

.sidenav img:active {
  background: blue;
  filter: brightness(0.6)contrast(3.4)hue-rotate(217deg)saturate(9.9);
}



.togglebtn {
  /* background-color: #343536; */
  border: none;
  color: aliceblue;
  font-size: 12px;
  padding-left: 5%;
  width: 100%;
  text-align: left;
}


/* .length {
  height: auto;
  overflow-y: scroll;
  font-size: 12px;

} */




a.active {
  color: #3247D5;
  width: 100%;
}

.Active1 {
  display: inline-flex;
  color: #3247D5;
}
.Active2 {
  display: none;
  color: #949393;
}
.Active3 {
  color: #949393;
}
.admin{
  width: 24px;
  margin-right: 0px;
}
.Active4 {
  display: inline-flex; 
  color: #3247D5;
  /* margin-left: 5px; */
}
.Active5 {
/*   margin-left: -10px; */
  color: #949393;
}



