<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <p class="Heading">Subsidiary Master Details</p>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-2">
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row leavereq">
            <div class="col-md-3">
                <label>Subsidiary<span class="span">*</span></label>
            </div>
            <div class="col-md-4">
                <label>Subsidiary Description<span class="span">*</span></label>
            </div>
        </div>
        <div class="row leavereq">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Subsidiary Name" [(ngModel)]="Name" name="Name"
                    id="Name">
            </div>
            <div class="col-md-4">
                <textarea type="text" class="form-control" placeholder="Subsidiary Description"
                    [(ngModel)]="Description" name="Description" id="Description" rows="5"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="button" (click)="Cancel()">CANCEL</button>
            </div>
            <div class="col-lg-1">
                <button type="button" class="button" *ngIf="ID!=undefined"
                    (click)="UpdateSubsidaryMaster()">UPDATE</button>
                <button class="button" *ngIf="ID==undefined" (click)="InsertSubsidaryMaster()">SUBMIT</button>
            </div>
        </div><br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>