p {
    color: #4F4F4F;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
   
}

input select{
  

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */


/* Placeholder */

color: rgba(0, 0, 0, 0.5);
}

.label {
    position: absolute;
    /* width: 133px; */
    height: 15px;



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    /* identical to box height, or 94% */

    letter-spacing: 0.5px;

    /* Gray 2 */

    color: #4F4F4F;
}

/* .styled-select {
    width: 100%;
    height: 35px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url(../../../../../assets/Images/revamp/drop-down-icon.png) no-repeat right white;
    /* border: 2px solid gray; */
/* display: inline-block;
    position: relative;
    font-size: 13px;
    background: #FFFFFF;

  } */
 .styled-select select {
    background: #FFFFFF;
    background: url(/assets/Images/revamp/drop-down-icon.png) no-repeat right white;
    -webkit-appearance: none;
    font-size: 11px;
    border: 0;
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    padding-right: 20px;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

.select {
    background: url(/assets/Images/revamp/drop-down-icon.png) no-repeat right white;
    padding-right: 20px;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

/* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #3247D5 ;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #EAECF1;
    /* background: #FFFFFF; */
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: #3247D5;
}

/* optional styles, I'm using this for centering radiobuttons */
.flex {
    display: flex;
    align-items: center;
}