
<div id="mySidebar" class="sidebar">
  <a (click)="Staff123()" *ngIf="login == 9 && companyid != 1007"
    [ngClass]="(active == 312)&&!mini ? 'menu1' :(active == 312)&&mini?'menu-mini' :'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 312&&!mini)" src="assets/Images/revamp/dashboardwhite-icon.png">
        <img *ngIf="active != 312" src="assets/Images/revamp/dashboardgray-icon.png">
        <img *ngIf="(active == 312&&mini)" src="assets/Images/revamp/dashboardnewblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Staff</span>
      </div>
    </div>
  </a>

  <a (click)="ValidationPassword()" *ngIf="login == 1 && companyid != 1007"
  [ngClass]="(active == ValidationPassword)&&!mini ? 'menu1' :(active == ValidationPassword)&&mini?'menu-mini' :'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == ValidationPassword&&!mini)" src="assets/Images/revamp/dashboardwhite-icon.png">
      <img *ngIf="active != ValidationPassword" src="assets/Images/revamp/dashboardgray-icon.png">
      <img *ngIf="(active == ValidationPassword&&mini)" src="assets/Images/revamp/dashboardnewblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini">
      <span class="icon-text d-flex">Validation Password</span>
    </div>
  </div>
</a>


<a data-toggle="collapse" data-target="#SummaryValidation1" *ngIf="login == 9 && ( companyid == 10013 ||  companyid == 1008) "
(click)="PayrollSummaryValidation()"
[ngClass]="(active == 'PayrollSummaryValidation' )&&!mini ? 'menu1' : (active == 'PayrollSummaryValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'PayrollSummaryValidation'&&!mini)" src="assets/Images/revamp/Payroll Summary Validationwhite-icon.png">
    <img *ngIf="active != 'PayrollSummaryValidation' " src="assets/Images/revamp/Payroll Summary Validationgray-icon.png">
    <img *ngIf="(active == 'PayrollSummaryValidation'&&mini) " src="assets/Images/revamp/Payroll Summary Validationwhite-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Payroll Summary Validation</span>
  </div>
</div>
</a>






<div id="SummaryValidation1" class="collapse" [ngClass]="mini?'':' sub-collapse'">
<a (click)="ValidatedPayrollSummary()"   
[ngClass]="(active == 'ValidatedPayrollSummary' )&&!mini ? 'menu1' : (active == 'ValidatedPayrollSummary')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
<img *ngIf="(active == 'ValidatedPayrollSummary'&&!mini)" src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
<img *ngIf="active != 'ValidatedPayrollSummary' " src="assets/Images/revamp/validatedpayrollsummaryuploadgray-icon.png">
<img *ngIf="(active == 'ValidatedPayrollSummary'&&mini) " src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
<span class="icon-text d-flex">Validated Payroll Summary </span>
</div>
</div>
</a>


<a (click)="UploadPayrollSummaryReport()" class="nonactive"
  [ngClass]="(active == 'UploadPayrollSummaryReport' )&&!mini ? 'menu1' : (active == 'UploadPayrollSummaryReport' )&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'UploadPayrollSummaryReport'&&!mini)" src="assets/Images/revamp/uploadpayrollsummaryreportwhite-icon.png">
      <img *ngIf="active != 'UploadPayrollSummaryReport' " src="assets/Images/revamp/uploadpayrollsummaryreportgray-icon.png">
      <img *ngIf="(active == 'UploadPayrollSummaryReport'&&mini) " src="assets/Images/revamp/uploadpayrollsummaryreportblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini">
      <span class="icon-text d-flex">Upload Payroll Summary Report</span>
    </div>
  </div>
</a>

<a (click)="UploadPayrollInputs()" class="nonactive"
  [ngClass]="(active == 'UploadPayrollInputs' )&&!mini ? 'menu1' : (active == 'UploadPayrollInputs' )&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadPayrollInputs'&&!mini)" src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
  <img *ngIf="active != 'UploadPayrollInputs' " src="assets/Images/revamp/validatedpayrollsummaryuploadgray-icon.png">
  <img *ngIf="(active == 'UploadPayrollInputs'&&mini) " src="assets/Images/revamp/validatedpayrollsummaryuploadblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload Payroll Inputs</span> 
</div >
</div>
</a>


</div>


<a data-toggle="collapse" data-target="#InputValidation" *ngIf="login == 9 && ( companyid == 1005 ) "
(click)="PayInputs()"
[ngClass]="(active == 'PayInputs' )&&!mini ? 'menu1' : (active == 'PayInputs')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'PayInputs'&&!mini)" src="assets/Images/revamp/Payroll Summary Validationwhite-icon.png">
    <img *ngIf="active != 'PayInputs' " src="assets/Images/revamp/Payroll Summary Validationgray-icon.png">
    <img *ngIf="(active == 'PayInputs'&&mini) " src="assets/Images/revamp/Payroll Summary Validationwhite-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Payroll Inputs Validation</span>
  </div>
</div>
</a>






<div id="InputValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'">
<a (click)="PayInputValidation()"   
[ngClass]="(active == 'PayInputValidation' )&&!mini ? 'menu1' : (active == 'PayInputValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
<img *ngIf="(active == 'PayInputValidation'&&!mini)" src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
<img *ngIf="active != 'PayInputValidation' " src="assets/Images/revamp/validatedpayrollsummaryuploadgray-icon.png">
<img *ngIf="(active == 'PayInputValidation'&&mini) " src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
<span class="icon-text d-flex">Validated Payroll Inputs </span>
</div>
</div>
</a>




<a (click)="UploadPayrollInputs()" class="nonactive"
  [ngClass]="(active == 'UploadPayrollInputs' )&&!mini ? 'menu1' : (active == 'UploadPayrollInputs' )&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadPayrollInputs'&&!mini)" src="assets/Images/revamp/validatedpayrollsummaryuploadwhite-icon.png">
  <img *ngIf="active != 'UploadPayrollInputs' " src="assets/Images/revamp/validatedpayrollsummaryuploadgray-icon.png">
  <img *ngIf="(active == 'UploadPayrollInputs'&&mini) " src="assets/Images/revamp/validatedpayrollsummaryuploadblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload Payroll Inputs</span> 
</div >
</div>
</a>


</div>



<a data-toggle="collapse" data-target="#SummaryValidation" *ngIf="login == 9 && (companyid == 1001|| companyid == 1006 || companyid == 1005)"
(click)="PayrollSummaryValidation()"
[ngClass]="(active == 'PayrollSummaryValidation' )&&!mini ? 'menu1' : (active == 'PayrollSummaryValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'PayrollSummaryValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
<img *ngIf="active != 'PayrollSummaryValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
<img *ngIf="(active == 'PayrollSummaryValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Payroll Summary Validation</span>
</div>
</div>
</a>

<div id="SummaryValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedPayrollSummary()" 
[ngClass]="(active == 'ValidatedPayrollSummary' )&&!mini ? 'menu1' : (active == 'ValidatedPayrollSummary')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedPayrollSummary'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'ValidatedPayrollSummary' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'ValidatedPayrollSummary'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Payroll Summary </span>
  </div>
</div>
</a>


<a (click)="UploadPayrollSummaryReport()" class="nonactive"
  [ngClass]="(active == 'UploadPayrollSummaryReport' )&&!mini ? 'menu1' : (active == 'UploadPayrollSummaryReport')&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'UploadPayrollSummaryReport'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
      <img *ngIf="active != 'UploadPayrollSummaryReport' " src="assets/Images/revamp/announcementnewgray-icon.png">
      <img *ngIf="(active == 'UploadPayrollSummaryReport'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini">
      <span class="icon-text d-flex">Upload Payroll Summary Report </span> 
    </div>
  </div>
</a>
</div>

<a data-toggle="collapse" data-target="#TaxValidation"
*ngIf="login == 9 && (companyid == 1001 || companyid == 10013 || companyid == 1008)" (click)="TaxValidation()"
[ngClass]="(active == 'TaxValidation' )&&!mini ? 'menu1' : (active == 'TaxValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'TaxValidation'&&!mini)" src="assets/Images/revamp/Taxvalidationwhite-icon.png">
  <img *ngIf="active != 'TaxValidation' " src="assets/Images/revamp/Taxvalidationgray-icon.png">
  <img *ngIf="(active == 'TaxValidation'&&mini) " src="assets/Images/revamp/Taxvalidationblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Tax Validation</span>
</div>
</div>
</a>

<div id="TaxValidation" class="collapse"  [ngClass]="mini?'':' sub-collapse'">
<a (click)="ValidatedRunTaxValidation()" class="nonactive"
  [ngClass]="(active == 'ValidatedRunTaxValidation' )&&!mini ? 'menu1' : (active == 'ValidatedRunTaxValidation')&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'ValidatedRunTaxValidation'&&!mini)" src="assets/Images/revamp/validatedtaxdetailsuploadwhite-icon.png">
      <img *ngIf="active != 'ValidatedRunTaxValidation' " src="assets/Images/revamp/validatedtaxdetailsuploadgray-icon.png">
      <img *ngIf="(active == 'ValidatedRunTaxValidation'&&mini) " src="assets/Images/revamp/validatedtaxdetailsuploadblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini">
      <span class="icon-text d-flex">Validated TAX  Details</span>
    </div>
  </div>
</a>

<a (click)="UploadPayrollYTD()" class="nonactive"
  [ngClass]="(active == 'UploadPayrollYTD' )&&!mini ? 'menu1' : (active == 'UploadPayrollYTD')&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'UploadPayrollYTD'&&!mini)" src="assets/Images/revamp/uploadpayrollytdwhite-icon.png">
      <img *ngIf="active != 'UploadPayrollYTD' " src="assets/Images/revamp/uploadpayrollytdgray--icon.png">
      <img *ngIf="(active == 'UploadPayrollYTD'&&mini) " src="assets/Images/revamp/uploadpayrollytdblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini"> 
      <span class="icon-text d-flex">Upload PayrollYTD</span>
    </div>
  </div>
</a>
</div>

<a data-toggle="collapse" data-target="#BasicPayValidation"
*ngIf="login == 9 && (companyid == 1001 || companyid == 1002 || companyid == 1006 || companyid == 1005 || companyid == 10013)" (click)="BasicPayValidation()"
[ngClass]="(active == 'BasicPayValidation' )&&!mini ? 'menu1' : (active == 'BasicPayValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'BasicPayValidation'&&!mini)" src="assets/Images/revamp/basicpayvalidationwhite-icon.png">
  <img *ngIf="active != 'BasicPayValidation' " src="assets/Images/revamp/basicpayvalidationgray-icon.png">
  <img *ngIf="(active == 'BasicPayValidation'&&mini) " src="assets/Images/revamp/basicpayvalidationblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Basic Pay Validation</span>
</div>
</div>
</a>


<div id= BasicPayValidation class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedBasicPayValues()" class="nonactive"
[ngClass]="(active == 'ValidatedBasicPayValues' )&&!mini ? 'menu1' : (active == 'ValidatedBasicPayValues')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedBasicPayValues'&&!mini)" src="assets/Images/revamp/validatedbasicpaydetailswhite-icon.png">
    <img *ngIf="active != 'ValidatedBasicPayValues' " src="assets/Images/revamp/validatedbasicpaydetailsgray-icon.png">
    <img *ngIf="(active == 'ValidatedBasicPayValues'&&mini) " src="assets/Images/revamp/validatedbasicpaydetailsblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Basic Pay Details</span>
  </div>
</div>

</a>
<a (click)="ValidatedRetroBasicPayValues()" class="nonactive"
[ngClass]="(active == 'ValidatedRetroBasicPayValues' )&&!mini ? 'menu1' : (active == 'ValidatedRetroBasicPayValues')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedRetroBasicPayValues'&&!mini)" src="assets/Images/revamp/validatedreteobasicpaywhite-icon.png">
    <img *ngIf="active != 'ValidatedRetroBasicPayValues' " src="assets/Images/revamp/validatedreteobasicpaygray-icon.png">
    <img *ngIf="(active == 'ValidatedRetroBasicPayValues'&&mini) " src="assets/Images/revamp/validatedreteobasicpayblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Retro Basic Pay </span>
  </div>
</div>
</a>

<a (click)="UploadBasicPayValues()" class="nonactive"
[ngClass]="(active == 'UploadBasicPayValues' )&&!mini ? 'menu1' : (active == 'UploadBasicPayValues')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
<img *ngIf="(active == 'UploadBasicPayValues'&&!mini)" src="assets/Images/revamp/uploaddbasicpayvalueswhite-icon.png">
<img *ngIf="active != 'UploadBasicPayValues' " src="assets/Images/revamp/uploaddbasicpayvaluesgray-icon - Copy.png">
<img *ngIf="(active == 'UploadBasicPayValues'&&mini) " src="assets/Images/revamp/uploadbasicpayvaluesblue-icon (2).png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
<span class="icon-text d-flex">Upload Basic Pay Values</span>
</div>
</div>
</a>

</div>




<a data-toggle="collapse" data-target="#BlankStats" *ngIf="login == 9 && (companyid == 1008)"

(click)="BlankStatsValidation()"
[ngClass]="(active == 'BlankStatsValidation' ) && !mini ? 'menu1' : (active == 'BlankStatsValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'BlankStatsValidation' && !mini)" src="assets/Images/revamp/loanrequestwhite-icon.png">
  <img *ngIf="active != 'BlankStatsValidation' " src="assets/Images/revamp/lonerequestgry-icon.png">
  <img *ngIf="(active == 'BlankStatsValidation' && mini) " src="assets/Images/revamp/loanrequesrlue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Blank Stats Validation</span>
</div>
</div>
</a>

<div id="BlankStats" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedBankstats()" class="nonactive"
[ngClass]="(active == 'ValidatedBankstats' ) && !mini ? 'menu1' : (active == 'ValidatedBankstats')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ValidatedBankstats' && !mini)" src="assets/Images/revamp/locatorwhite-icon.png">
  <img *ngIf="active != 'ValidatedBankstats' " src="assets/Images/revamp/locatorrequestblue-icon.png">
  <img *ngIf="(active == 'ValidatedBankstats' && mini) " src="assets/Images/revamp/locatorrequestblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated Blank Stats</span>
</div>
</div>
</a>

<a (click)="UploadAttendanceCounts()" class="nonactive"
[ngClass]="(active == 'UploadAttendanceCounts' ) && !mini ? 'menu1' : (active == 'UploadAttendanceCounts')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadAttendanceCounts' && !mini)" src="assets/Images/revamp/gravincewhite-icon.png">
  <img *ngIf="active != 'UploadAttendanceCounts' " src="assets/Images/revamp/graviencerequestgray-icon.png">
  <img *ngIf="(active == 'UploadAttendanceCounts' && mini) " src="assets/Images/revamp/gravincerequestblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload Attendance Counts</span>
</div>
</div>
</a>

</div>



<a data-toggle="collapse" data-target="#NHANDRValidation" *ngIf="login == 9 && (companyid == 1008)"

(click)="NHANDRValidation()"
[ngClass]="(active == 'NHANDRValidation' ) && !mini ? 'menu1' : (active == 'NHANDRValidation ')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'NHANDRValidation' && !mini)" src="assets/Images/revamp/leaverequestwhitw-icon.png">
  <img *ngIf="active != 'NHANDRValidation' " src="assets/Images/revamp/leavegray-icon.png">
  <img *ngIf="(active == 'NHANDRValidation' && mini) " src="assets/Images/revamp/leaverequestblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">NH and Terminated Validation</span>
</div>
</div>
</a>

<div id="NHANDRValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedNewHandR()" class="nonactive"
[ngClass]="(active == 'ValidatedNewHandR' ) && !mini ? 'menu1' : (active == 'ValidatedNewHandR')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ValidatedNewHandR' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'ValidatedNewHandR' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'ValidatedNewHandR' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated NH and R</span>
</div>
</div>
</a>

<a (click)="UploadMasterFile()" class="nonactive"
[ngClass]="(active == 'UploadMasterFile' ) && !mini ? 'menu1' : (active == 'UploadMasterFile')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadMasterFile' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'UploadMasterFile' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'UploadMasterFile' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload Master File</span>
</div>
</div>
</a>

</div>


<a data-toggle="collapse" data-target="#PhilHealthValidation" *ngIf="login == 9 && (companyid == 10013)"

(click)="PhilHealthValidation()"
[ngClass]="(active == 'PhilHealthValidation' ) && !mini ? 'menu1' : (active == 'PhilHealthValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'PhilHealthValidation' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'PhilHealthValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'PhilHealthValidation' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">PhilHealth Validation</span>
</div>
</div>
</a>

<div id="PhilHealthValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedPhilHealthDetails()" class="nonactive"
[ngClass]="(active == 'ValidatedPhilHealthDetails' ) && !mini ? 'menu1' : (active == 'ValidatedPhilHealthDetails')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'PhilHealthValidation' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'PhilHealthValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'PhilHealthValidation' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">PhilHealth PhilHealth Details</span>
</div>
</div>
</a>


<a (click)="UploadPhilHealthSummaryReport()" class="nonactive"
[ngClass]="(active == 'UploadPhilHealthSummaryReport' ) && !mini ? 'menu1' : (active == 'UploadPhilHealthSummaryReport')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadPhilHealthSummaryReport' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'UploadPhilHealthSummaryReport' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'UploadPhilHealthSummaryReport' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload PhilHealth Summary Report</span>
</div>
</div>
</a>
</div>

<a data-toggle="collapse" data-target="#TandLValidation" *ngIf="login == 9 && (companyid == 10013)" (click)="TandLValidation()"
[ngClass]="(active == 'TandLValidation' ) && !mini ? 'menu1' : (active == 'TandLValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'TandLValidation' && !mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'TandLValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'TandLValidation' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text">T and L Validation</span>
  </div>
</div>
</a>

<div id="TandLValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedTandLDetails()" class="nonactive"
[ngClass]="(active == 'ValidatedTandLDetails' ) && !mini ? 'menu1' : (active == 'ValidatedTandLDetails')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedTandLDetails' && !mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'ValidatedTandLDetails' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'ValidatedTandLDetails' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div >
    <span class="icon-text">Validated T and L Details</span>
  </div>
</div>
</a>

<a (click)="UploadedTandLDetails()" class="nonactive"
[ngClass]="(active == 'UploadedTandLDetails' ) && !mini ? 'menu1' : (active == 'UploadedTandLDetails')&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'UploadedTandLDetails' && !mini)" src="assets/Images/revamp/announcementwhite.png">
      <img *ngIf="active != 'UploadedTandLDetails' " src="assets/Images/revamp/announcementnewgray-icon.png">
      <img *ngIf="(active == 'UploadedTandLDetails' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
        </div>&nbsp;&nbsp;&nbsp;
    <div >
      <span class="icon-text">Upload T and L Values</span>
    </div>
  </div>
</a>
</div>  

<a data-toggle="collapse" data-target="#COLAValidation"
*ngIf="login == 9 && companyid == 1006" (click)="COLAValidation()"
[ngClass]="(active == 'COLAValidation' )&&!mini ? 'menu1' : (active == 'COLAValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'COLAValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'COLAValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'COLAValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">COLA Validation</span>
</div>
</div>
</a> 
<div id= COLAValidation class="collapse length" [ngClass]="mini?'':' sub-collapse'">
<a (click)="ValidatedColaAllowances()" class="nonactive"
[ngClass]="(active == 'ValidatedColaAllowances' )&&!mini ? 'menu1' : (active == 'ValidatedColaAllowances')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ValidatedColaAllowances'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'ValidatedColaAllowances' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'ValidatedColaAllowances'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated COLA  Details</span>
</div>
</div>
</a>
<a (click)="ValidatedRetroBasicPayValues()" class="nonactive">
<span class="sub-request">Validated Retro Basic Pay </span>
</a> 
<!-- <a (click)="UploadCOLAValues()" class="nonactive"
[ngClass]="(active == 'UploadCOLAValues' )&&!mini ? 'menu1' : (active == 'UploadCOLAValues')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'UploadCOLAValues'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'UploadCOLAValues' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'UploadCOLAValues' &&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Upload Regular Subject Loads Values</span>
  </div>
</div>
</a> -->
</div> 



<a data-toggle="collapse" data-target="#RegularSubjectLoadsValidation"
*ngIf="login == 9 && companyid == 10013" (click)="RegularSubjectLoadsValidation()"
[ngClass]="(active == 'RegularSubjectLoadsValidation' )&&!mini ? 'menu1' : (active == 'RegularSubjectLoadsValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'RegularSubjectLoadsValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'RegularSubjectLoadsValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'RegularSubjectLoadsValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Subject Loads Validation</span>
</div>
</div>
</a> 






<div id= RegularSubjectLoadsValidation class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedSubjectLoadsValidation()" class="nonactive"
[ngClass]="(active == 'RegularSubjectLoadsValidation' )&&!mini ? 'menu1' : (active == 'RegularSubjectLoadsValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'RegularSubjectLoadsValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'RegularSubjectLoadsValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'RegularSubjectLoadsValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated Regular Sem Subject Loads</span>
</div>
</div>
</a>

<a (click)="ValidatedSummerSemSubjectLoadsValidation()" class="nonactive"
[ngClass]="(active == 'ValidatedSummerSemSubjectLoadsValidation' )&&!mini ? 'menu1' : (active == 'ValidatedSummerSemSubjectLoadsValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedSummerSemSubjectLoadsValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'ValidatedSummerSemSubjectLoadsValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'ValidatedSummerSemSubjectLoadsValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Summer Sem Subject Loads</span>
  </div>
</div>
</a>
<a (click)="ValidatedRetroBasicPayValues()" class="nonactive">
<span class="sub-request">Validated Retro Basic Pay </span>
</a> 
<a (click)="UploadSubjectLoadValidation()" class="nonactive"
[ngClass]="(active == 'UploadSubjectLoadValidation' )&&!mini ? 'menu1' : (active == 'UploadSubjectLoadValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'UploadSubjectLoadValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'UploadSubjectLoadValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'UploadSubjectLoadValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Upload Regular Sem Subject Loads Values</span> 
  </div>
</div>
</a>

<a (click)="UploadsummerSubjectLoadValidation()" class="nonactive"
[ngClass]="(active == 'UploadsummerSubjectLoadValidation' )&&!mini ? 'menu1' : (active == 'UploadsummerSubjectLoadValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'UploadsummerSubjectLoadValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'UploadsummerSubjectLoadValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'UploadsummerSubjectLoadValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Upload Summer Sem Subject Loads  Values</span>   
  </div>
</div>
</a>
</div>

<a data-toggle="collapse" data-target="#ClothingValidation"
*ngIf="login == 9 && companyid == 1006" (click)="CLothingValidation()"
[ngClass]="(active == 'CLothingValidation' )&&!mini ? 'menu1' : (active == 'CLothingValidation')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'CLothingValidation'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'CLothingValidation' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'CLothingValidation'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini" >
  <span class="icon-text d-flex">Clothing Allowance Validation</span>   
</div>
</div>
</a>



<div id= ClothingValidation class="collapse" [ngClass]="mini?'':' sub-collapse'">
<a (click)="ValidatedClothingAllowance()" class="nonactive"
[ngClass]="(active == 'ValidatedClothingAllowance' )&&!mini ? 'menu1' : (active == 'ValidatedClothingAllowance')&&mini?'menu-mini':'menu'">
<div clas="test_case">
<div>
<img *ngIf="(active == 'ValidatedClothingAllowance'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'ValidatedClothingAllowance' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'ValidatedClothingAllowance'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated Clothing Details</span>   
</div>
</div>
</a>

<a (click)="RetroValidatedClothingAllowance()" class="nonactive"
[ngClass]="(active == 'RetroValidatedClothingAllowance' )&&!mini ? 'menu1' : (active == 'RetroValidatedClothingAllowance')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'RetroValidatedClothingAllowance'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'RetroValidatedClothingAllowance' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'RetroValidatedClothingAllowance'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div>
    <span class="icon-text d-flex">Retro Validated Clothing</span>   
  </div>
</div>
</a>
<!-- <a (click)="ValidatedRetroBasicPayValues()" class="nonactive">
<span class="sub-request">Validated Retro Basic Pay </span>
</a> -->
<a (click)="UploadClothingallowances()" class="nonactive"
[ngClass]="(active == 'UploadClothingallowances' )&&!mini ? 'menu1' : (active == 'UploadClothingallowances')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'RetroValidatedClothingAllowance'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'RetroValidatedClothingAllowance' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'RetroValidatedClothingAllowance'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload CLothing Allowance</span>   
</div>
</div>
</a>
</div>

<a data-toggle="collapse" data-target="#LwopValidation" *ngIf="login == 9 && (companyid == 1001|| companyid == 1006)"
    (click)="LwopValidation()"
    [ngClass]="(active == 108 )&&!mini ? 'menu1' : (active == 108)&&mini?'menu-mini':'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 108&&!mini)" src="assets/Images/revamp/lwopvalidationwhite-icon.png">
        <img *ngIf="active != 108 " src="assets/Images/revamp/lwopvalidationgray-icon.png">
        <img *ngIf="(active == 108&&mini) " src="assets/Images/revamp/lwopvalidationblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Lwop Validation</span>
      </div>
    </div>
  </a>

  <div id="LwopValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'">
    <a (click)="RunLwopValidation()" class="nonactive"
      [ngClass]="(active == 'RunLwopValidation' )&&!mini ? 'menu1' : (active == 'RunLwopValidation')&&mini?'menu-mini':'menu'">
      <div class="test_case">
        <div>
          <img *ngIf="(active == 'RunLwopValidation'&&!mini)" src="assets/Images/revamp/lwopvalidationdetailswhite-icon.png">
          <img *ngIf="active != 'RunLwopValidation' " src="assets/Images/revamp/lwopvalidationdetailsgray-icon.png">
          <img *ngIf="(active == 'RunLwopValidation'&&mini) " src="assets/Images/revamp/lwopvalidationdetailsblue-icon - Copy.png">
        </div>&nbsp;&nbsp;&nbsp;
        <div *ngIf="!mini">
          <span class="icon-text d-flex">LWOP Validated Details</span>
        </div>
      </div>
    </a>

    <a (click)="UploadStaffLeaves()" class="nonactive"
      [ngClass]="(active == 'UploadStaffLeaves' )&&!mini ? 'menu1' : (active == 'UploadStaffLeaves')&&mini?'menu-mini':'menu'">
      <div class="test_case">
        <div>
          <img *ngIf="(active == 'UploadStaffLeaves'&&!mini)" src="assets/Images/revamp/uploadleavewhite-icon.png">
          <img *ngIf="active != 'UploadStaffLeaves' "  src="assets/Images/revamp/uploadleavegray-icon.png">
          <img *ngIf="(active == 'UploadStaffLeaves'&&mini)"  src="assets/Images/revamp/uploadleavesblue-icon.png">
        </div>&nbsp;&nbsp;&nbsp;
        <div *ngIf="!mini">
          <span class="icon-text d-flex">Upload Leaves</span>
        </div>
      </div>
    </a>

    <a (click)="UploadSystemGeneratedLWOP()" class="nonactive"
      [ngClass]="(active == 'UploadSystemGeneratedLWOP' )&&!mini ? 'menu1' : (active == 'UploadSystemGeneratedLWOP')&&mini?'menu-mini':'menu'">
      <div class="test_case">
        <div>
          <img *ngIf="(active == 'UploadSystemGeneratedLWOP'&&!mini)" src="assets/Images/revamp/uploadgeneratedlwopwhite-icon.png">
          <img *ngIf="active != 'UploadSystemGeneratedLWOP' " src="assets/Images/revamp/uploadgeneratedlwopgray-icon.png">
          <img *ngIf="(active == 'UploadSystemGeneratedLWOP'&&mini) " src="assets/Images/revamp/uploadgeneratedlwopblue-icon.png">
        </div>&nbsp;&nbsp;&nbsp;
        <div *ngIf="!mini">
          <span class="icon-text d-flex">Upload Generated Lwop</span>
        </div>
      </div>
    </a>
  </div>


  
  <a data-toggle="collapse" data-target="#BonusValidation" *ngIf="login == 9 && (companyid == 1001 || companyid == 1002|| companyid == 1006 || companyid == 10013 || companyid == 1008)"
  (click)="BonusValidation()"
  [ngClass]="(active == 988 )&&!mini ? 'menu1' : (active == 988)&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 988&&!mini)" src="assets/Images/revamp/bonusvalidationwhite-icon.png">
      <img *ngIf="active != 988 " src="assets/Images/revamp/bonusvalidationgray-icon.png">
      <img *ngIf="(active == 988&&mini) " src="assets/Images/revamp/bonusvalidationblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini"> 
      <span class="icon-text d-flex">Bonus Validation</span>
    </div>
  </div>
</a>



<div id="BonusValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'">
  <a (click)="ValidatedBonusDetails()" class="nonactive"
    [ngClass]="(active == 2345 )&&!mini ? 'menu1' : (active == 2345)&&mini?'menu-mini':'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 2345&&!mini)" src="assets/Images/revamp/validatedbonusdetailswhite-icon.png">
        <img *ngIf="active != 2345 " src="assets/Images/revamp/validatedbonusdetailsgray-icon.png">
        <img *ngIf="(active == 2345&&mini) " src="assets/Images/revamp/validatedbonusdetailsblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Validated Bonus Details</span>
      </div>
    </div>
   </a>

  <a (click)="UploadBonusValues()" class="nonactive"
    [ngClass]="(active == 'UploadBonusValues' )&&!mini ? 'menu1' : (active == 'UploadBonusValues')&&mini?'menu-mini':'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 'UploadBonusValues'&&!mini)" src="assets/Images/revamp/uploadbonusvaluewhite-icon.png">
        <img *ngIf="active != 'UploadBonusValues' " src="assets/Images/revamp/uploadbonusvaluegray-icon.png">
        <img *ngIf="(active == 'UploadBonusValues'&&mini) " src="assets/Images/revamp/uploadbonusvalueblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Upload Bonus Values</span>
      </div>
    </div>
  </a>
</div>

<a data-toggle="collapse" data-target="#Holidays"
*ngIf="login == 9 && companyid == 1002 " (click)="Holidays()"
[ngClass]="(active == 'holi' )&&!mini ? 'menu1' : (active == 'holi')&&mini?'menu-mini':'menu'">
<img *ngIf="(active == 'holi'&&!mini)" src="assets/Images/revamp/announcementwhite.png">
<img *ngIf="active != 'holi' " src="assets/Images/revamp/announcementnewgray-icon.png">
<img *ngIf="(active == 'holi'&&mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
&nbsp;&nbsp;
<span class="icon-text">Holiday Encashment </span></a>

<div id="Holidays" class="collapse length ">

<a (click)="ValidatedHolidayEncashment()" class="nonactive">
  <span [ngClass]="active == '12321' ? 'Active1' : 'Active3'" class="sub-request">Validated Holiday Encashment
    </span>
</a>
<a (click)="UploadHolidaysEncashments()" class="nonactive">
  <span [ngClass]="active == '12321' ? 'Active1' : 'Active3'" class="sub-request">Upload Generated Encashment
    </span>
</a>
<a (click)="UploadHolidays()" class="nonactive">
  <span [ngClass]="active == '12321' ? 'Active1' : 'Active3'" class="sub-request">Upload Holidays
    </span>
</a>

</div>


<a data-toggle="collapse" data-target="#HeadCount"
*ngIf="login == 9 && companyid == 1008 " (click)="HeadCountValidation()"
[ngClass]="(active == 'holi' )&&!mini ? 'menu1' : (active == 'holi')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 312&&!mini)" src="assets/Images/revamp/reportswhite-icon.png">
    <img *ngIf="active != 312" src="assets/Images/revamp/reportsnewgray-icon.png">
    <img *ngIf="(active == 312&&mini)" src="assets/Images/revamp/reportsnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Head Count Validation</span>
  </div>
</div>
</a>



<div id="HeadCount" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedHeadCount()" class="nonactive"
  [ngClass]="(active == 'ValidatedHeadCount' )&&!mini ? 'menu1' : (active == 'ValidatedHeadCount')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedHeadCount'&&!mini)" src="assets/Images/revamp/attendancecorrectionwhite-icon.png">
    <img *ngIf="active != 'ValidatedHeadCount'" src="assets/Images/revamp/attendancecorrectiongray-icon.png">
    <img *ngIf="(active == 'ValidatedHeadCount'&&mini)" src="assets/Images/revamp/attendancecorrectionblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Head Count</span>
  </div>
</div>
</a>

<a (click)="UploadHeadCount()" class="nonactive"
  [ngClass]="(active == 'UploadHeadCount' )&&!mini ? 'menu1' : (active == 'UploadHeadCount')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'UploadHeadCount'&&!mini)" src="assets/Images/revamp/attendancedetailwhite-icon (2).png">
    <img *ngIf="active != 'UploadHeadCount'" src="assets/Images/revamp/attendancedetailgray-icon.png">
    <img *ngIf="(active == 'UploadHeadCount'&&mini)" src="assets/Images/revamp/attendancedetails-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Upload Head Count</span>
  </div>
</div>
</a>


</div>


<a data-toggle="collapse" data-target="#HeadCountForMWC"
*ngIf="login == 9 && companyid == 1005 " (click)="HeadCountValidation()"
[ngClass]="(active == 'holi' )&&!mini ? 'menu1' : (active == 'holi')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 312&&!mini)" src="assets/Images/revamp/reportswhite-icon.png">
    <img *ngIf="active != 312" src="assets/Images/revamp/reportsnewgray-icon.png">
    <img *ngIf="(active == 312&&mini)" src="assets/Images/revamp/reportsnewblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Head Count Validation</span>
  </div>
</div>
</a>



<div id="HeadCountForMWC" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedHeadCount()" class="nonactive"
  [ngClass]="(active == 'ValidatedHeadCount' )&&!mini ? 'menu1' : (active == 'ValidatedHeadCount')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedHeadCount'&&!mini)" src="assets/Images/revamp/attendancecorrectionwhite-icon.png">
    <img *ngIf="active != 'ValidatedHeadCount'" src="assets/Images/revamp/attendancecorrectiongray-icon.png">
    <img *ngIf="(active == 'ValidatedHeadCount'&&mini)" src="assets/Images/revamp/attendancecorrectionblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Head Count</span>
  </div>
</div>
</a>


<a (click)="UploadMasterFile()" class="nonactive"
[ngClass]="(active == 'UploadMasterFile' ) && !mini ? 'menu1' : (active == 'UploadMasterFile')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadMasterFile' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'UploadMasterFile' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'UploadMasterFile' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload Master File</span>
</div>
</div>
</a>



<a (click)="UploadLOA()" class="nonactive"
[ngClass]="(active == 'UploadLOA' ) && !mini ? 'menu1' : (active == 'UploadLOA')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'UploadLOA' && !mini)" src="assets/Images/revamp/announcementwhite.png">
  <img *ngIf="active != 'UploadLOA' " src="assets/Images/revamp/announcementnewgray-icon.png">
  <img *ngIf="(active == 'UploadLOA' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Upload LOA and Suspended File</span>
</div>
</div>
</a>


</div>
<a data-toggle="collapse" data-target="#ComponentMapping" *ngIf="login == 9 && (companyid == 1001 || companyid == 1002|| companyid == 1006 || companyid == 10013)"
(click)="ComponentMap()"
[ngClass]="(active == 'ComponentMap' )&&!mini ? 'menu1' : (active == 988)&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ComponentMap'&&!mini)" src="assets/Images/revamp/componentmappingwhite-icon.png">
    <img *ngIf="active != 'ComponentMap' " src="assets/Images/revamp/componentmappinggray-icon.png">
    <img *ngIf="(active == 'ComponentMap'&&mini) " src="assets/Images/revamp/componentmappingblue-icon.png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Component Mapping</span>
  </div>
</div>
</a>



<div id="ComponentMapping" class="collapse" [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ComponentMapping()" class="nonactive"
  [ngClass]="(active == 'PayrollLoanReport1' )&&!mini ? 'menu1' : (active == 'PayrollLoanReport1')&&mini?'menu-mini':'menu'">
  <div class="test_case">
    <div>
      <img *ngIf="(active == 'PayrollLoanReport1'&&!mini)" src="assets/Images/revamp/componentmappingwhite-icon.png">
      <img *ngIf="active != 'PayrollLoanReport1' " src="assets/Images/revamp/componentmappinggray-icon.png">
      <img *ngIf="(active == 'PayrollLoanReport1'&&mini) " src="assets/Images/revamp/componentmappingblue-icon.png">
    </div>&nbsp;&nbsp;&nbsp;
    <div *ngIf="!mini">
      <span class="icon-text d-flex">Component Mapping</span>
    </div>
  </div>
</a>
</div>


<a data-toggle="collapse" data-target="#LoanProceedValidation" *ngIf="login == 9 && (companyid == 1001 || companyid == 1008 || companyid == 1006 || companyid == 10013)"
(click)="LoanProceeds()"
[ngClass]="(active == 8989 )&&!mini ? 'menu1' : (active == 8989)&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 8989&&!mini)" src="assets/Images/revamp/loanproceedvalidationwhite-icon.png">
  <img *ngIf="active != 8989 " src="assets/Images/revamp/loanproceedvalidationgray-icon.png">
  <img *ngIf="(active == 8989&&mini) " src="assets/Images/revamp/loanproceedvalidationblue-icon - Copy.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Loan Proceeds Validation</span>
</div>
</div>
</a>



<div id="LoanProceedValidation" class="collapse " [ngClass]="mini?'':' sub-collapse'" >
<a (click)="ValidatedLoanProceedsDetails()" class="nonactive"
  [ngClass]="(active == 'ValidatedLoanProceedsDetails' )&&!mini ? 'menu1' : (active == 'ValidatedLoanProceedsDetails')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ValidatedLoanProceedsDetails'&&!mini)" src="assets/Images/revamp/loanproceedvalidationwhite-icon.png">
  <img *ngIf="active != 'ValidatedLoanProceedsDetails' " src="assets/Images/revamp/loanproceedvalidationgray-icon.png">
  <img *ngIf="(active == 'ValidatedLoanProceedsDetails'&&mini) " src="assets/Images/revamp/loanproceedvalidationblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Validated Loan Proceeds</span>
</div>
</div>
</a>


</div>


<a data-toggle="collapse" data-target="#OvertimeValidation"
*ngIf="login == 9 && (companyid == 1002 ||  companyid == 1008 ) " (click)="OvertimeValidation()"
[ngClass]="(active == 'ot' )&&!mini ? 'menu1' : (active == 'ot')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ot'&&!mini)" src="assets/Images/revamp/shiftdetailswhite-icon.png">
  <img *ngIf="active != 'ot' " src="assets/Images/revamp/shiftdetailsgry-icon.png">
  <img *ngIf="(active == 'ot'&&mini) " src="assets/Images/revamp/shiftdetailsblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Overtime Validation</span>
</div>
</div>
</a>

<div id="OvertimeValidation" class="collapse" [ngClass]="mini?'':' sub-collapse'" >

  <a (click)="ValidatedTandLDetails()" class="nonactive"
[ngClass]="(active == 'ValidatedTandLDetails' ) && !mini ? 'menu1' : (active == 'ValidatedTandLDetails')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedTandLDetails' && !mini)" src="assets/Images/revamp/timesheetwhite-icon.png">
    <img *ngIf="active != 'ValidatedTandLDetails' " src="assets/Images/revamp/timesheetgray-icon.png">
    <img *ngIf="(active == 'ValidatedTandLDetails' && mini) " src="assets/Images/revamp/timesheetrequestblue-icon (2).png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Overtime Details</span>
  </div>
</div>
</a>

  <a (click)="UploadedTandLDetails()" class="nonactive"
  [ngClass]="(active == 'UploadedTandLDetails' ) && !mini ? 'menu1' : (active == 'UploadedTandLDetails')&&mini?'menu-mini':'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 'UploadedTandLDetails' && !mini)" src="assets/Images/revamp/announcementwhite.png">
        <img *ngIf="active != 'UploadedTandLDetails' " src="assets/Images/revamp/announcementnewgray-icon.png">
        <img *ngIf="(active == 'UploadedTandLDetails' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
          </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Upload Overtime Values</span>
      </div>
    </div>
  </a>

<a *ngIf="companyid == 1002 " (click)="uploadRetrovalues()" class="nonactive">
  <span class="sub-request">Upload Retro Values</span>
</a>

</div>


<a data-toggle="collapse" data-target="#OvertimeValidationMWC"
*ngIf="login == 9 && (companyid == 1005  ) " (click)="OvertimeValidation()"
[ngClass]="(active == 'ot' )&&!mini ? 'menu1' : (active == 'ot')&&mini?'menu-mini':'menu'">
<div class="test_case">
<div>
  <img *ngIf="(active == 'ot'&&!mini)" src="assets/Images/revamp/shiftdetailswhite-icon.png">
  <img *ngIf="active != 'ot' " src="assets/Images/revamp/shiftdetailsgry-icon.png">
  <img *ngIf="(active == 'ot'&&mini) " src="assets/Images/revamp/shiftdetailsblue-icon.png">
</div>&nbsp;&nbsp;&nbsp;
<div *ngIf="!mini">
  <span class="icon-text d-flex">Overtime Validation</span>
</div>
</div>
</a>

<div id="OvertimeValidationMWC" class="collapse" [ngClass]="mini?'':' sub-collapse'" >

  <a (click)="ValidatedOvertimeDetails()" class="nonactive"
[ngClass]="(active == 'ValidatedTandLDetails' ) && !mini ? 'menu1' : (active == 'ValidatedTandLDetails')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedTandLDetails' && !mini)" src="assets/Images/revamp/timesheetwhite-icon.png">
    <img *ngIf="active != 'ValidatedTandLDetails' " src="assets/Images/revamp/timesheetgray-icon.png">
    <img *ngIf="(active == 'ValidatedTandLDetails' && mini) " src="assets/Images/revamp/timesheetrequestblue-icon (2).png">
  </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Validated Overtime Details</span>
  </div>
</div>
</a>

  <a (click)="UploadOvertimeReport()" class="nonactive"
  [ngClass]="(active == 'UploadOvertimeReport' ) && !mini ? 'menu1' : (active == 'UploadOvertimeReport')&&mini?'menu-mini':'menu'">
    <div class="test_case">
      <div>
        <img *ngIf="(active == 'UploadOvertimeReport' && !mini)" src="assets/Images/revamp/announcementwhite.png">
        <img *ngIf="active != 'UploadOvertimeReport' " src="assets/Images/revamp/announcementnewgray-icon.png">
        <img *ngIf="(active == 'UploadOvertimeReport' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
          </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!mini">
        <span class="icon-text d-flex">Upload Overtime Values</span>
      </div>
    </div>
  </a>



</div>


<a (click)="Master()" data-toggle="collapse" data-target="#Master" *ngIf="login == 1 && companyid != 1007" 
[ngClass]="(active == 'Master' ) && !mini ? 'menu1' : (active == 'Master')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'Master' && !mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'Master' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'Master' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex">Master</span>
  </div>
</div>
</a>

<div id="Master" class="collapse" [ngClass]="mini?'':' sub-collapse'">
  <a (click)="ValidatedMaster()"
[ngClass]="(active == 'ValidatedMaster' ) && !mini ? 'menu1' : (active == 'ValidatedMaster')&&mini?'menu-mini':'menu'">
<div class="test_case">
  <div>
    <img *ngIf="(active == 'ValidatedMaster' && !mini)" src="assets/Images/revamp/announcementwhite.png">
    <img *ngIf="active != 'ValidatedMaster' " src="assets/Images/revamp/announcementnewgray-icon.png">
    <img *ngIf="(active == 'ValidatedMaster' && mini) " src="assets/Images/revamp/announcementnewblue-icon.png">
      </div>&nbsp;&nbsp;&nbsp;
  <div *ngIf="!mini">
    <span class="icon-text d-flex"> Validation Master</span>
  </div>
</div>
</a>
</div>
<div *ngIf="!mini">
  <img src="assets/Images/revamp/siderbar-icon.png" class="sidebar-image">
  <br>
  <p class="icon-text1">Can’t find what you
    <br>
    are looking for?
  </p>
</div>
</div>






