<div class="row" *ngIf="login != undefined">
  <div class="col-md-2 sidenav" style="height: 92vh;  margin-top: 65px;  position: fixed;">
    <a (click)="Home()" class="nonactive" (click)="openCity($event)" *ngIf="companyid != 1007">
      <img src="assets/64 Blue/Home-blue.png" class="admin" [ngClass]="active == 1 ? 'Active1' : 'Active2'" />
      <img id="Home" src="assets/Images/64_GREY/64/Home_grey.png" class="admin"
        [ngClass]="active != 1 ? 'Active1' : 'Active2'" />&nbsp;
      <span [ngClass]="active == 1 ? 'Active1' : 'Active3'"> Home</span>
    </a>

    <a *ngIf="login == 9 && companyid != 1007" (click)="Staff123()" class="nonactive" (click)="openCity($event)">
      <img src="assets/Images/64_GREY/64/Staff.png" [ngClass]="active != 3 ? 'Active1' : 'Active2'" class="admin" />
      <img src="assets/64/Staff.png" [ngClass]="active == 3 ? 'Active1' : 'Active2'" class="admin" />
      &nbsp;
      <span [ngClass]="active == 3 ? 'Active1' : 'Active3'"> Staff</span>
    </a>


    <a data-toggle="collapse" *ngIf="login != 1 && companyid!=1005 && companyid != 1007 && AttendanceEnable!=false"
      class="togglebtn" data-target="#Attendance" (click)="getAttendacmenu()">
      <img [ngClass]="active != 8 ? 'Active1' : 'Active2'"
        src="assets/Images/64_GREY/64/ATTENDANCE/Report/Attendance_report.png" class="admin" />
      <img [ngClass]="active == 8 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png"
        class="admin" />&nbsp;
      <span [ngClass]="active == 8 ? 'Active1' : 'Active3'"> Attendance</span>
    </a>


    <div id="Attendance" class="collapse length" style="padding-left: 7%">
      <a (click)="AttendenceDetails()" class="nonactive" (click)="openCity($event)">
        <img [ngClass]="active == 9 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png"
          class="admin" />
        <img [ngClass]="active != 9 ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
        &nbsp;
        <span [ngClass]="active == 9 ? 'Active1' : 'Active3'">
          Attendance Details</span>
      </a>
      <a (click)="MyTeamWeeklyShift()" class="nonactive" (click)="openCity($event)">
        <img [ngClass]="active == 'myTeamWeeklyShift' ? 'Active1' : 'Active2'"
          src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
        <img [ngClass]="active != 'myTeamWeeklyShift' ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
        &nbsp;
        <span [ngClass]="active == 'myTeamWeeklyShift' ? 'Active1' : 'Active3'">
          Shift Details</span>
      </a>

      <!-- <a (click)="restday()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 'restday' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png"
            class="admin" />
          <img [ngClass]="active != 'restday' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'restday' ? 'Active1' : 'Active3'">
            Staff Rest Days</span>
        </a> -->

      <a (click)="MyOverTimeDetails()" class="nonactive" (click)="openCity($event)">
        <img [ngClass]="active == 10 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/OVER TIME DETAILS.png"
          class="admin" />
        <img [ngClass]="active != 10 ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/OVER TIME DETAILS.png" class="admin" />
        &nbsp;<span [ngClass]="active == 10 ? 'Active1' : 'Active3'">
          Over Time Details
        </span>
      </a>

      <a (click)="AttendanceCorrection()" class="nonactive" (click)="openCity($event)">
        <img [ngClass]="active == 101  ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/OVER TIME DETAILS.png"
          class="admin" />
        <img [ngClass]="active != 101 ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/OVER TIME DETAILS.png" class="admin" />
        &nbsp;<span [ngClass]="active == 101 ? 'Active1' : 'Active3'"
          style="position: relative; top: -16px; white-space: pre;left: 27px;">
          Attendance Correction
        </span>
      </a>
      <!-- <a (click)="Attendance()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 11 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 11 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
  
          &nbsp;
          <span [ngClass]="active == 11 ? 'Active1' : 'Active3'">
            Regularization
          </span>
        </a> -->
    </div>



    <!-- <a *ngIf="login==9" data-toggle="collapse" class="togglebtn " data-target="#Payroll" (click)="Requests23()">
              <img [ngClass]="active != 890 ? 'Active1' : 'Active2'" src="assets/Images/64_GREY/64/ATTENDANCE/MASTERS.png"
                  class="admin" />
              <img [ngClass]="active == 890 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png"
                  class="admin" />
              &nbsp; <span [ngClass]="active == 890 ? 'Active1' : 'Active3'"> payroll</span>
          </a> -->

    <div id="Payroll" class="collapse length" style="padding-left: 7%">
      <!-- <a (click)="Overtimereportforhr()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 9999 ? 'Active1' : 'Active2'"
                      src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  <img [ngClass]="active != 9999 ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  &nbsp;
                  <span [ngClass]="active == 9999 ? 'Active1' : 'Active3'"> OverTime Report</span>
              </a>
              <a (click)="Staffleavedetailsforhr()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 'Staffleavedetailsforhr' ? 'Active1' : 'Active2'"
                      src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  <img [ngClass]="active != 'Staffleavedetailsforhr' ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  &nbsp;
                  <span [ngClass]="active == 'Staffleavedetailsforhr' ? 'Active1' : 'Active3'">Leave Report</span>
              </a>
               -->
      <!-- <a (click)="LoanReport()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 'PayrollLoanReport' ? 'Active1' : 'Active2'"
                      src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  <img [ngClass]="active != 'PayrollLoanReport' ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  &nbsp;
                  <span [ngClass]="active == 'PayrollLoanReport' ? 'Active1' : 'Active3'"> Loan Report</span>
              </a> -->


      <!-- <a (click)="PayrollReport()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 'PayrollReport' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/OVER TIME DETAILS.png" class="admin" />
          <img [ngClass]="active != 'PayrollReport' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/OVER TIME DETAILS.png" class="admin" />
          &nbsp;<span [ngClass]="active == 'PayrollReport' ? 'Active1' : 'Active3'">Payroll Report</span>
        </a> -->
      <!-- <a (click)="LeavebalanceReport()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 'LeavebalanceReport' ? 'Active1' : 'Active2'"
                      src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  <img [ngClass]="active != 'LeavebalanceReport' ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/ATTENDANCE DETAILS.png" class="admin" />
                  &nbsp;
                  <span [ngClass]="active == 'LeavebalanceReport' ? 'Active1' : 'Active3'">Leave Balance Report</span>
              </a> -->
    </div>



    <a *ngIf="login != 1" data-toggle="collapse" class="togglebtn" data-target="#Requests" (click)="Requests()">
      <img [ngClass]="active != 12 ? 'Active1' : 'Active2'" src="assets/Images/64_GREY/64/ATTENDANCE/MASTERS.png"
        class="admin" />
      <img [ngClass]="active == 12 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/ATTENDANCE DETAILS.png"
        class="admin" />
      &nbsp;
      <span [ngClass]="active == 12 ? 'Active1' : 'Active3'"> Requests </span>

      <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
    </a>

    <div id="Requests" class="collapse length" style="padding-left: 7%">



      <a (click)="Leaves()" class="nonactive" (click)="openCity($event)" *ngIf="login != 1 && companyid != 1005">
        <img [ngClass]="active == 7 ? 'Active1' : 'Active2'" src="assets/64/leave.png" class="admin" />
        <img [ngClass]="active != 7 ? 'Active1' : 'Active2'" src="assets/Images/64_GREY/64/leave.png" class="admin" />
        &nbsp;
        <span [ngClass]="active == 7 ? 'Active1' : 'Active3'">
          Leave Request</span>
      </a>
      <a *ngIf="companyid==1007" (click)="MyOverTimeDetails()" class="nonactive" (click)="openCity($event)">
        <img [ngClass]="active == 10 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/OVER TIME DETAILS.png"
          class="admin" />
        <img [ngClass]="active != 10 ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/OVER TIME DETAILS.png" class="admin" />
        &nbsp;<span [ngClass]="active == 10 ? 'Active1' : 'Active3'">
          Over Time Details
        </span>
      </a>

      <!-- <a (click)="ExpenseRequest()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 13 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Locator.png"
                      class="admin" />
                  <img [ngClass]="active != 13 ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/Report/Locator  Reports.png" class="admin">
                  &nbsp; <span [ngClass]="active == 13 ? 'Active1' : 'Active3'"> Allowance Request</span>
  
              </a> -->
      <!-- <a *ngIf="companyid != 1007" (click)="Timesheet()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 'timesheet' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Locator.png"
            class="admin" />
          <img [ngClass]="active != 'timesheet' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/Report/Locator  Reports.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'timesheet' ? 'Active1' : 'Active3'">
            Timesheet Request</span>
        </a> -->

      <!-- <a (click)="WorkplaceRequest()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 14 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Locator.png"
                      class="admin" />
                  <img [ngClass]="active != 14 ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/Report/Employee Report.png" class="admin" />
                  &nbsp; <span [ngClass]="active == 14 ? 'Active1' : 'Active3'"> Workplace
                      Request</span>
  
              </a> -->
      <!-- <a *ngIf="companyid != 1007" (click)="LocatorRequest()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 15 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Locator.png"
            class="admin" />
          <img [ngClass]="active != 15 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/Report/Locator  Reports.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 15 ? 'Active1' : 'Active3'">
            Locator Request</span>
        </a> -->
      <!-- <a (click)="TravelRequest()" class="nonactive" (click)="openCity($event)">
                  <img [ngClass]="active == 16 ? 'Active1' : 'Active2'"
                      src="assets/64/ATTENDANCE/Report/Travel Reports.png" class="admin" />
                  <img [ngClass]="active != 16 ? 'Active1' : 'Active2'"
                      src="assets/Images/64_GREY/64/ATTENDANCE/Report/Travel Reports.png" class="admin" />
                  &nbsp; <span [ngClass]="active == 16 ? 'Active1' : 'Active3'"> Travel
                      Request</span>
  
              </a> -->




      <a *ngIf="companyid != 1007 && login != 1 && login!=6" data-toggle="collapse" class="togglebtn"
        data-target="#Reports" (click)="Reports()">
        <img [ngClass]="active == 23 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Timesheet_repoorts.png"
          class="admin" />
        <img [ngClass]="active != 23 ? 'Active1' : 'Active2'" src="assets/Images/64_GREY/64/ATTENDANCE/Reports.png"
          class="admin" />
        &nbsp;
        <span [ngClass]="active == 23 ? 'Active1' : 'Active3'"> Reports </span>
        <!-- <img src="assets/images/downarrow.png" style="width: 20px;margin-left: 104px;"> -->
      </a>

      <div id="Reports" class="collapse length nonactive" style="padding-left: 7%">



        <a (click)="Attendancereport()" class="nonactive" (click)="openCity($event)" *ngIf="
            (companyid == 1002 || companyid == 1003 || companyid == 1007 || companyid == 1001) &&
            companyid != 1005">
          <img [ngClass]="active == 24 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Attendance_report.png"
            class="admin" />
          <img [ngClass]="active != 24 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/Report/Attendance_report.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 24 ? 'Active1' : 'Active3'">
            Attendance Report
          </span>
        </a>

        <a (click)="OverTimereport()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 'OverTimereport' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/Report/Leave report.png" class="admin" />
          <img [ngClass]="active != 'OverTimereport' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/Report/Leave report.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'OverTimereport' ? 'Active1' : 'Active3'">
            Over Time Report
          </span>
        </a>



        <a *ngIf="companyid != 1005" (click)="Leavereport()" class="nonactive" (click)="openCity($event)">
          <img [ngClass]="active == 25 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/Leave report.png"
            class="admin" />
          <img [ngClass]="active != 25 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/Report/Leave report.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 25 ? 'Active1' : 'Active3'">
            Leave Report
          </span>
        </a>
      </div>
      <a data-toggle="collapse" *ngIf="companyid != 1007 && (login == 1 || login == 9)" class="togglebtn"
        data-target="#userapplications" (click)="Masters()">
        <img [ngClass]="active != 32 ? 'Active1' : 'Active2'" src="assets/Images/64_GREY/64/ATTENDANCE/MASTERS.png"
          class="admin" />
        <img [ngClass]="active == 32 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/Report/masters/ot_master.png"
          class="admin" />
        &nbsp;
        <span [ngClass]="active == 32 ? 'Active1' : 'Active3'"> Masters </span>
      </a>

      <div id="userapplications" class="collapse length" style="padding-left: 7%; background-color: white">
        <a (click)="Leavetype()" *ngIf="login == 9" class="insidea nonactive">
          <img [ngClass]="active == 33 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 33 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 33 ? 'Active1' : 'Active3'">Leave Type
          </span>
        </a>


        <a class="nonactive" (click)="ShiftMaster()">
          <img [ngClass]="active == 37 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 37 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 37 ? 'Active1' : 'Active3'">Shift Master
          </span>
        </a>

        <a class="nonactive" (click)="CountryMaster()">
          <img [ngClass]="active == 39 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 39 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 39 ? 'Active1' : 'Active3'">Country Master
          </span>
        </a>
        <a class="nonactive" (click)="Province()">
          <img [ngClass]="active == 40 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 40 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 40 ? 'Active1' : 'Active3'">Province Master
          </span>
        </a>
        <a class="nonactive" (click)="City()">
          <img [ngClass]="active == 41 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 41 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 41 ? 'Active1' : 'Active3'">City Master
          </span>
        </a>
        <a class="nonactive" (click)="Barangaymaster()">
          <img [ngClass]="active == 'Barangaymaster' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/REGULARIZATION.png" class="admin" />
          <img [ngClass]="active != 'Barangaymaster' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'Barangaymaster' ? 'Active1' : 'Active3'">Barangay Master
          </span>
        </a>

        <a class="nonactive" (click)="Department()" *ngIf="login == 9">
          <img [ngClass]="active == 42 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 42 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 42 ? 'Active1' : 'Active3'">Department Master
          </span>
        </a>

        <a class="nonactive" (click)="Designation()" *ngIf="login == 9">
          <img [ngClass]="active == 43 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 43 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 43 ? 'Active1' : 'Active3'">Designation Master
          </span>
        </a>

        <a routerLink="/HR/DivisionMasterDashboard" class="tablinks" (click)="highlight($event)"
          (click)="DivisionMaster()">
          <img src="assets/64 Blue/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px" [ngClass]="
              active == 'DivisionMasterDashboard' ? 'Active1' : 'Active2'
            " />
          <img [ngClass]="
              active != 'DivisionMasterDashboard' ? 'Active1' : 'Active2'
            " src="assets/64/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px" />
          &nbsp;
          <span [ngClass]="
              active == 'DivisionMasterDashboard' ? 'Active1' : 'Active3'
            ">Division Master</span>
          &nbsp;
        </a>
        <!-- 
        <a routerLink="/HR/WorkLoactionMasterDash" class="tablinks" (click)="highlight($event)"
        (click)="WorkLoactionMaster()">
        <img src="assets/64 Blue/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px" [ngClass]="
            active == 'WorkLoactionMaster' ? 'Active1' : 'Active2'
          " />
        <img [ngClass]="
            active != 'WorkLoactionMaster' ? 'Active1' : 'Active2'
          " src="assets/64/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px" />
        &nbsp;
        <span [ngClass]="
            active == 'WorkLoactionMaster' ? 'Active1' : 'Active3'
          ">Work
          Location Master</span>
        &nbsp;
      </a> -->

        <a routerLink="/HR/WorkLoactionMasterDash" class="tablinks" (click)="highlight($event)"
          (click)="WorkLoactionMaster()" style="height: 45pxng">
          <img src="assets/64 Blue/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px"
            [ngClass]="active == 'wm' ? 'Active1' : 'Active2'" />
          <img [ngClass]="active != 'wm' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/attendance.png"
            style="width: 13%; margin-right: 17px" />
          &nbsp;
          <span [ngClass]="active == 'wm' ? 'Active1' : 'Active3'" style="margin-left: -10px">Work
            Location Master</span>
          &nbsp;
        </a>

        <a routerLink="/HR/BrandMasterDashboard" class="tablinks" (click)="highlight($event)"
          (click)="BrandMasterDash()">
          <img src="assets/64 Blue/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px"
            [ngClass]="active == 'BrandMasterDash' ? 'Active1' : 'Active2'" />
          <img [ngClass]="active != 'BrandMasterDash' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/attendance.png"
            style="width: 13%; margin-right: 17px" />
          &nbsp;
          <span [ngClass]="active == 'BrandMasterDash' ? 'Active1' : 'Active3'">Band Master</span>
          &nbsp;
        </a>

        <a class="nonactive" (click)="Subsidary()" *ngIf="login == 9">
          <img [ngClass]="active == 'Subsidary' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 'Subsidary' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'Subsidary' ? 'Active1' : 'Active3'">Subsidiary Master
          </span>
        </a>
        <a class="nonactive" (click)="ot_master()" *ngIf="login == 9">
          <img [ngClass]="active == 38 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 38 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 38 ? 'Active1' : 'Active3'">OT Master </span>
        </a>
        <a class="nonactive" (click)="Deniminis()" **ngIf="login == 9">
          <img [ngClass]="active == 43 ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 43 ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 43 ? 'Active1' : 'Active3'">Allowance Master
          </span>
        </a>


        <a class="nonactive" *ngIf="login == 9" (click)="rolemaster()">
          <img [ngClass]="active == 'role' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 'role' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'role' ? 'Active1' : 'Active3'">Position Master
          </span>
        </a>
        <a (click)="level()" *ngIf="login == 9" class="insidea nonactive">
          <img [ngClass]="active == 'level' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/REGULARIZATION.png"
            class="admin" />
          <img [ngClass]="active != 'level' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'level' ? 'Active1' : 'Active3'">Job Level Type
          </span>
        </a>
      </div>

      <a data-toggle="collapse" *ngIf="companyid != 1007 && login == 9" class="togglebtn"
        data-target="#userapplications1" (click)="Configuration()">
        <img [ngClass]="active != 'Configuration' ? 'Active1' : 'Active2'"
          src="assets/Images/64_GREY/64/ATTENDANCE/MASTERS.png" class="admin" />
        <img [ngClass]="active == 'Configuration' ? 'Active1' : 'Active2'"
          src="assets/64/ATTENDANCE/Report/masters/ot_master.png" class="admin" />
        &nbsp;
        <span [ngClass]="active == 'Configuration' ? 'Active1' : 'Active3'">
          Configuration
        </span>
      </a>
      <div id="userapplications1" class="collapse length" style="padding-left: 7%; background-color: white">

        <a (click)="LeaveConfiguration()" *ngIf="login == 9 && companyid != 1005" class="insidea nonactive">
          <img [ngClass]="active == 'LeaveConfiguration' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/REGULARIZATION.png" class="admin" />
          <img [ngClass]="active != 'LeaveConfiguration' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'LeaveConfiguration' ? 'Active1' : 'Active3'" style="
            
          display: flex;
          position: relative;
          top: -20px;
          left: 40px;
        ">Leave Configuration
          </span>
        </a>
        <a (click)="CheckListMaster()" *ngIf="login == 9" class="insidea nonactive">
          <img [ngClass]="active == 'CheckListMaster' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/REGULARIZATION.png" class="admin" />
          <img [ngClass]="active != 'CheckListMaster' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'CheckListMaster' ? 'Active1' : 'Active3'"
            style="display: flex; position: relative; top: -20px; left: 40px">Onboarding Checklist
          </span>
        </a>




        <a (click)="Loadattedance()" *ngIf="login == 9" class="insidea nonactive">
          <img [ngClass]="active == 'Loadattedance' ? 'Active1' : 'Active2'"
            src="assets/64/ATTENDANCE/REGULARIZATION.png" class="admin" />
          <img [ngClass]="active != 'Loadattedance' ? 'Active1' : 'Active2'"
            src="assets/Images/64_GREY/64/ATTENDANCE/REGULARIZATION   REQUESTS.png" class="admin" />
          &nbsp;
          <span [ngClass]="active == 'Loadattedance' ? 'Active1' : 'Active3'" style="
            
          display: flex;
          position: relative;
          top: -20px;
          left: 40px;
        ">Upload Attendance
          </span>
        </a>

      </div>


      <a *ngIf="companyid != 1007" routerLink="/Admin/Help" class="tablinks" (click)="highlight($event)"
        (click)="help()">
        <img src="assets/64 Blue/Attendance Report.png" style="width: 13%; margin-right: 17px"
          [ngClass]="active == 'help' ? 'Active1' : 'Active2'" />
        <img [ngClass]="active != 'help' ? 'Active1' : 'Active2'" src="assets/64/Attendance Report.png"
          style="width: 13%; margin-right: 17px" />
        &nbsp;
        <span [ngClass]="active == 'help' ? 'Active1' : 'Active3'">Policies and Guidelines</span>
        &nbsp;
      </a>

      <a routerLink="/Shared/SupportTicketDashboard" class="tablinks" (click)="highlight($event)"
        (click)="SupportTickets()">
        <img src="assets/64 Blue/ATTENDANCE/attendance.png" style="width: 13%; margin-right: 17px"
          [ngClass]="active == 'SupportTickets' ? 'Active1' : 'Active2'" />
        <img [ngClass]="active != 'SupportTickets' ? 'Active1' : 'Active2'" src="assets/64/ATTENDANCE/attendance.png"
          style="width: 13%; margin-right: 17px" />
        &nbsp;
        <span [ngClass]="active == 'SupportTickets' ? 'Active1' : 'Active3'">Help Desk</span>
        &nbsp;
      </a>
    </div>
  </div>
</div>