.span {
    color: red;
}

.attachment {
    height: 130px;
    box-sizing: border-box;
    /* position: absolute; */
    width: 310px;
    left: 190px;
    top: 455px;
    background: #E2DEFF;
    border: 1px dashed #3247D5;
    border-radius: 5px;
    color: #3247D5;
}

.dropdowning {
    position: absolute;
    top: 10px;
    left: 160px;
}

/* .butn-sadow {
    left: -105px;
    top: 6px;
    height: 38px;
} */

.sub-btn {
    position: absolute;
    width: 200px;
    height: 37px;
    left: -210px;
    top: -20px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.658333px;
    color: #ffffff;
    background: #3247D5;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    border-radius: 5px solid #3247D5;
    border: 5px solid #3247D5;
    text-transform: uppercase
}

.close-btn {
 /*    left: -103px;
    bottom: -7px; */
    position: relative;
}

p {
    margin-bottom: 0rem;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .close-btn {
        left:
            -50px;
        bottom:
            -7px;
    }
}