<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-5">
                    <h3 class="Heading">Benefits Master</h3>
                </div>
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Benefit Name<span class="span">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Benefit Description<span class="span">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Amount<span class="span">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <p>Criteria<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p>Frequency<span class="span">*</span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Benefit Name" placeholder="Benefit Name"
                            [(ngModel)]="Beniftname" name="Beniftname" id="Beniftname">
                    </div>
                    <div class="col-md-3">
                        <textarea rows="4" type="text" class="form-control" placeholder="Benefit Description"
                            [(ngModel)]="Beniftdesc" name="Beniftdesc" id="Benefit Description"></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" placeholder="Benefit Amount"
                            [(ngModel)]="Beniftamount" name="Beniftamount" id="Beniftamount">
                    </div>
                    <div class="col-md-3">
                        <textarea class="criteriawd" rows="4" id="criteria" name="criteria" [(ngModel)]="criteria"
                            placeholder="Criteria" class="form-control"></textarea>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control inputfield" id="frequency" name="frequency" [(ngModel)]="frequency">
                            <option value="">Select frequency </option>
                            <option value="1">Once a Month </option>
                            <option value="2">Once a Year </option>
                            <option value="3">Once a Lifetime </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="form-control newrequest" *ngIf="ID!=undefined"
                            (click)="UpdateCountryType()">UPDATE</button>
                        <button class="form-control newrequest" *ngIf="ID==undefined"
                            (click)="InsertCountryType()">SUBMIT</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control newrequest" (click)="Cancel()">CANCEL</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<app-spinner *ngIf="loader"></app-spinner>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>