.styled-select  select{
    background: #FFFFFF;
    background: url(../../../../../assets/Images/revamp/drop-down-icon.png) no-repeat right white;
    -webkit-appearance: none;
    font-size: 11px;
    border: 0;
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    padding-right: 20px;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }

  .select{
    background: url(../../../../../assets/Images/revamp/drop-down-icon.png) no-repeat right white;
    padding-right: 20px;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }


  p {
    color: #4F4F4F;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
   
}

input select{
  

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */


/* Placeholder */

color: rgba(0, 0, 0, 0.5);
}
.form-control {
  font-size: 15px !important;
  font-weight: 500;
  
}