.search {
    text-align: center;
}

.alignForm {
    margin-left: -99px;
}

.butn-sadow {
    left: -2px;
    height: 35px;
}


.delete {
    width: 8%;
    position: relative;
    top: -3px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .butn-sadow {
        left: 75px;
    }
}