<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row dialogboxContect1">

        <p class="Heading">Add Shift Details</p>
        <img src="assets/Images/revamp/cancle-icon.png" (click)="Cancel()" class="closeicon">

    </div>
    <div class="row">
        <div class="col-lg-10"></div>
    </div>

    <div class="">

        <div class="row leavereq">
            <div class="col-md-2">
                <label>Start Date<span class="span">*</span></label>
            </div>
            <div class="col-md-2">
                <label>End Date<span class="span">*</span></label>
            </div>
            <!-- <div class="col-md-2">
                <label>Staff<span class="span">*</span></label>
            </div> -->

            <div class="col-md-2">
                <label>Shift Name<span class="span">*</span></label>
            </div>
            <div class="col-md-2">
                <label>Start Time<span class="span">*</span></label>
            </div>
            <div class="col-md-2">
                <label>End Time<span class="span">*</span></label>
            </div>
            <div class="col-md-2">
                <label>Rest Days<span class="span">*</span></label>
            </div>

        </div>
        <div class="row leavereq">
            <div class="col-md-2"> <input type="date" class="form-control" placeholder="Leave Code" name="startdate"
                    [(ngModel)]="startdate" id="startdate"></div>
            <div class="col-md-2">
                <input type="date" class="form-control" placeholder="Leave Code" name="enddate" [(ngModel)]="enddate"
                    id="enddate" (change)="getenddate()" max="{{maxdate}}">
            </div>
            <div class="col-md-2" *ngIf="ID!=undefined">
                <div class="dropdown">
                    <input class="form-control" id="employeeName" name="employeeName" [(ngModel)]="employeeName"
                        [disabled]="ID!=undefined" placeholder="Employee Name">
                </div>
            </div>
            <!-- <div class="col-md-2" *ngIf="ID==undefined">
                <div class="dropdown">
                    <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                        [data]="Stafflist" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onItemDeSelect($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div> -->
            <div class="col-md-2">
                <select class="dropdown form-control" [(ngModel)]="ShiftName" id="ShiftName" name="ShiftName"
                    (change)="ChangeShiftMaster()" required>
                    <option value="">Select Shift</option>
                    <option *ngFor="let Staff of leavelist" value="{{Staff.description}}">{{Staff.description}}
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" disabled="true" class="form-control" [(ngModel)]="StartTime" placeholder="Start Time"
                    name="StartTime" id="StartTime">
            </div>
            <div class="col-md-2">
                <input type="text" disabled="true" class="form-control" [(ngModel)]="EndTime" placeholder="End Time"
                    name="EndTime" id="EndTime">
            </div>
            <br />

            <br>
            <div class="col-lg-2" *ngIf="ID!=undefined">

                <div class="dropdown">
                    <input class="form-control" id="Restdays" name="Restdays" [(ngModel)]="Restdays"
                        [disabled]="ID!=undefined" placeholder="Rest Days">
                </div>
            </div>
            <div class="col-lg-2" *ngIf="ID==undefined">

                <ng-multiselect-dropdown [placeholder]="'Select Rest Day'" [settings]="dropdownSettingsresdays"
                    [data]="restdaylist" [(ngModel)]="restdaysarray" (onSelect)="onItemSelect2($event)"
                    (onDeSelect)="restdaysonItemDeSelect($event)">
                    class="fonttxt">
                </ng-multiselect-dropdown>
                <p *ngIf="ID!=undefined" disabled="ID!=undefined">{{Restdays}}</p>
            </div>
        </div>
        <br>
        <div class="row dialogboxContect">
            <button class="clo-btn" (click)="Cancel()">Cancel</button>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <!-- <button class="button" (click)="save()">Save</button> -->
            <button *ngIf="ID==undefined" class="Addbutton" (click)="save()">Submit</button>
            <button *ngIf="ID!=undefined" class="Addbutton" (click)="UpdateStaffShiftMaster()">Update</button>

        </div>

    </div>
</div>