.edt-btn {
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 40px;
    left: -240px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.658333px;
    color: #ffffff;
    background: #3247D5;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    border-radius: 5px solid #3247D5;
    border: 5px solid #3247D5;
    text-transform: uppercase;
}

/* .butn-sadow {
    left: -110px;
} */

.close-btn {
    top: 1px;
    position: relative;
}
span{
    color: red;
}

/* .cance {
    left: -225px;
    bottom: -21px;
} */