<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        
                <div class="align-cls-nd-head">
                    <label class="Heading">Over Time Request</label>
                    <img src="assets/Images/revamp/cancle-icon.png" (click)="cancel()" class="closeicon">

                </div>
               
                <div class="row leavereq">
                    <div class="col-md-3">
                        <p> Date<span class="span">*</span></p>
                    </div>
                    <div class="col-md-3">
                        <p>Start Time<span class="span">*</span></p>
                    </div>
                    <div class="col-md-3">
                        <p>End Time<span class="span">*</span></p>
                    </div>
                    <!-- <div class="col-md-3">
                        <p>Normat OT<span class="span">*</span></p>
                    </div> -->
                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input type="date" id="Date" name="Date" (change)="getOverTimeDate()" [(ngModel)]="Date"
                            class="form-control inputfield" max="{{maxdate}}">
                    </div>
                    <div class="col-md-3">

                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="starttime"
                            [(ngModel)]="starttime" id="starttime" (change)="checkstartdate()">
                        </timepicker>
                        <!-- <input[type=time]::-webkit-datetime-edit-ampm-field {
                            display: none;
                            } /> -->


                        <!-- <input type="time" class="form-control" placeholder="Leave Code" name="starttime"
                            [(ngModel)]="starttime" id="starttime" min="{{maxdate}}" (change)="checkstartdate()"> -->
                    </div>
                    <div class="col-lg-3">
                        <!-- <input class="form-control" type="time"[(ngModel)]="starttime" (change)="ChangeTime()" /> -->
                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="endtime"
                            [(ngModel)]="endtime" id="endtime" (change)="duration()"></timepicker>
                    </div>
                    <!-- <div class="col-md-3">
                        <input type="time" (change)="duration()" class="form-control" placeholder="Leave Code"
                            name="endtime" [(ngModel)]="endtime" id="endtime">
                    </div> -->
                    <!-- <div class="col-md-3">
                        <input type="text" disabled="true" class="form-control" placeholder="OT" name="ot"
                            [(ngModel)]="ot" id="ot">
                    </div> -->
                </div>
                <br />
                <br />
                <div class="row leavereq">
                    <!-- <div class="col-md-3">
                        <p>Night OT<span class="span">*</span></p>
                    </div> -->
                    <div class="col-md-3">
                        <p>Attachment</p>
                    </div>
                    <div class="col-md-3">
                        <p>Comments</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <!-- <div class="col-md-3">
                        <input type="text" disabled="true" class="form-control" placeholder="Night OT" name="nightot"
                            [(ngModel)]="nightot" id="nightot">
                    </div> -->
                    <div class="col-md-3">
                        <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf"
                            (change)="onSelect21($event)" class="dropFile">
                            <div class="dropfileDiv"> <img *ngIf="attachments21.length==0"
                                    src="assets/Images/MicrosoftTeams-image.png" class="img-set dropdowning">
                                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                            </div>

                            <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                (removed)="onRemove21(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-3">
                        <textarea rows="3" id="Comments" name="Comments" [(ngModel)]="Comments" type="text"
                            placeholder="Comments" class="form-control inputfield"></textarea>
                    </div>
                    <!-- <div class="col-md-3">
                        <p>Restday Normal OT:{{RestNormalOT==undefined||null?0:RestNormalOT}} Hours </p>
                        <p>Special Holiday:{{SpecialHoliday==undefined||null?0:SpecialHoliday}} Hours</p>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-1">
                        <button class="clo-btn" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="Addbutton" (click)="Save()" *ngIf="showdetails">Submit</button>

                    </div>
                    <div class="col-lg-1" style="margin-left: 80px;" *ngIf="showdetails">

                        <button class="Addbutton" data-toggle="modal" data-target="#CheckListStatusform">OT
                            Details</button>
                    </div>
                </div>

          
        </div>
    </div>
</div>
<div id="CheckListStatusform" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OT Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>OT Type</th>
                        <th>No of Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Normal OT </td>
                        <td>{{noofhours}}</td>
                    </tr>
                    <tr>
                        <td>Night OT </td>
                        <td>{{nightothous}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Restday OT </td>
                        <td> {{restNormalOT}}</td>
                    </tr> -->

                    <tr>

                        <td> Excess Night OT </td>
                        <td> {{ExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Excess Normal OT </td>
                        <td> {{ExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Night OT </td>
                        <td> {{RestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Rest Normal OT </td>
                        <td>{{RestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Excess Rest Normal OT </td>
                        <td> {{ExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Excess Night OT </td>
                        <td> {{RestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Night OT </td>
                        <td> {{LegalNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Normal OT </td>
                        <td> {{LegalNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Normal OT </td>
                        <td> {{LegalExccessNormalOt}}</td>
                    </tr>
                    <tr>
                        <td>Legal Excess Night OT </td>
                        <td>{{LegalExccessNightOt}}</td>
                    </tr>
                    <tr>
                        <td> Special Night OT </td>
                        <td> {{SpecialNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Normal OT </td>
                        <td> {{SpecialNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Normal OT </td>
                        <td> {{SpecialExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Night OT </td>
                        <td> {{SpecialExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Night OT </td>
                        <td> {{SpecialRestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Special Rest Normal OT </td>
                        <td>{{SpecialRestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Rest Excess Normal OT </td>
                        <td> {{SpecialRestExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Excess Night OT </td>
                        <td> {{SpecialRestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Night OT </td>
                        <td> {{LegalRestNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Normal OT </td>
                        <td> {{LegalRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Normal OT </td>
                        <td> {{LegalExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Night OT </td>
                        <td> {{LegalExccessRestNightOt}}</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<app-spinner *ngIf="loader"></app-spinner>