ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

/* li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
} */

.requestbtn {
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  width: auto;
  float: center;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 40px;
  gap: 10px;
  position: absolute;
  height: 38px;
  background: #3247D5;
  box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px;
}

.leavelist {
  padding: 0px 20px;
}

.leavebalance {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.table {
  padding: 10px;
}

.three-dots:after {
  cursor: pointer;
  color: black;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown {
  position: absolute;
  right: 10px;
  background-color: #4282be;
  box-shadow: 0px 0px 3px 3px #4282be;
  color: white;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 5s;
  width: 50px;
  height: 55px;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}

.btnhover:hover {
  background-color: #3247D5;
  color: white;
}

a:active {
  color: brown;
}

u {
  text-decoration-color: #060708;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 12px;
}

.filter {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */
  margin-top: 10px;
  color: #0C275A;
}

.number {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height, or 135% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #0C275A;
  margin-top: -12px;
  margin-right: 10px;
}


.spa {
  margin-bottom: 0rem !important;
}

.para {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  /* identical to box height, or 136% */
  color: #0C275A;
  margin-top: -8px;
}

.med {
  box-sizing: border-box;
  position: absolute;
  width: 214px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
}

.newrequest {
  background-color: #21a4da;
  color: white;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

th {
  background-color: #e4e5e6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.Heading {
  margin-left: 10px;
  color: #3247d5;
}

li a {
  display: block;
  color: #3247d5;
  text-align: center;
  text-decoration: none;
} 

.leavelist {
  padding: 0px 20px;
  color: #3247d5;
}

.container-fluid {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
}

th {
  background-color: #e4e5e6;
}

td {
  background-color: white;
  color: #494949;
}

.leavebalance {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.table {
  padding: 10px;
}

u {
  text-decoration-color: #3247D5;
  text-decoration-thickness: 0.1em;
  text-decoration-thickness: 12px;
}

.header {
  font-weight: 700;
  color: #666666;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  opacity: 0.9;
  margin-top: 30px;
}

.building {
  color: #3247D5;
  font-size: 18px;
}

.dashbutton {
  border-radius: 10px;
  background-color: #3247D5;
  color: white;
  border: none;
  width: 150px;
  height: 30px;
  margin-bottom: 12px;
}

.mainrow {
  float: right;
  margin-top: 26px;
}

.maincard {
  float: initial;
  background: white;
}

.paneltitle {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #666666;
}

i {
  color: #3247D5;
  font-size: 15px;
}

.tableheader {
  padding: 10px;
  background-color: #3247D5;
  height: 25px;
  width: 200px;
  font-size: 12px;
  color: white;
}

.table {
  margin-bottom: 0px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  font-size: 12px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.maindropdown {
  width: 210px;
}

.excelbutton {
  margin-left: auto;
  margin-right: 20px;
  background-color: #3247D5;
  color: white;
  margin-bottom: 8px;
}

.topdropdown {
  width: 230px;
}

.maindropdown {
  width: 406px;
  margin-left: -85px;
}

.cancelbutton {
  width: 145px;
  background-color: #3247D5;
  color: white;
  border-color: rgba(20, 21, 31, 0.20);
  margin-top: 12px;
  height: 39px;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #3247D5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3247D5;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #7d7d7d;
  margin: 25px;
}

.closebutton {
  border-radius: 6px;
  background-color: #3247D5;
  color: white;
  border: none;
  width: 56px;
  height: 36px;
  margin-left: 599px;
  margin-right: 20px;
}

.event_PendingBookCommunity {
  color: #3247D5 !important;
}

.updatebutton {
  border-radius: 6px;
  background-color: #3247D5;
  color: white;
  border: none;
  width: 56px;
  height: 36px;
  margin-left: 599px;
  margin-right: 0px;
}

.event_Pending {
  color: #4282be;
  background: linear-gradient(110deg, #fdcd3b 60%, #4282be 60%);
  border-radius: 5px;
  border-bottom: solid 6px white;
  background: white;
}

.event_Rejected {
  color: #333;
  background: linear-gradient(110deg, #fd413b 60%, #fd413b 60%);
  border-radius: 5px;
}

.event_Approved {
  color: #333;
  background: linear-gradient(110deg, #63d82c 60%, #56ff4b 60%);
  border-radius: 5px;
}

.callenderdiv {
  width: 100%;
  margin-left: 1px;
}

.callenderboxes {
  width: 100%;
  height: 170px;
  background: white;
  border: 1px solid #3247D5;
}

.callenderboxes:hover {
  border: 1px solid #00addf;
}

.todayDate {
  background: linear-gradient(110deg, #fdcd3b 60%, #3247D5 60%);
  width: 100%;
  height: 500px;
  text-align: center;
}

.datenumber {
  color: white;
  margin-top: 38%;
  font-size: 100px;
}

.dateday {
  color: white;
  font-size: -webkit-xxx-large;
}

.callendernavButtons {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 2%;
}

.callendernavButtons a {
  color: white;
}

.maintainancerequestmodal {
  margin-left: 414px;
  margin-top: 29px;
}

@media screen and (min-width: 1600px) {
  .maintainancerequestmodal {
    margin-left: 414px;
    margin-top: 29px;
  }
}

@media screen and (min-width: 1900px) {
  .maintainancerequestmodal {
    margin-left: 637px;
    margin-top: 30px;
  }
}

.bgOpen {
  background-color: yellow;
}

.bgAssigned {
  background-color: #5fa8f7;
}

.bgClosed {
  background-color: lightgreen;
}

.bgRejected {
  background-color: red
}

.leavesideheading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 11px;
  color: #0C275A;
}

@media screen and (min-width: 1400px) {
  .bttn {
    margin-right: 0px;
    width: 150px;
  }

  .bttn1 {
    margin-left: 1082px;
  }
}

@media screen and (max-width: 1280px) {
  .bttn {
    margin-right: 0px;
  }

  .bttn1 {
    margin-left: 880px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1600px) {
  .row1 {
    margin-right: -36px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
  .row1 {
    margin-right: -108px;
  }
}

.inputclass {
  color: #3247D5;
  Font: 'Poppins';
  background-color: transparent;
  border: none;
}

.tab-slider--nav {
  width: 100%;
}

/* 
.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--tabs:after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}

.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #2E3C4E;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--trigger.active {
  color: #fff;
  background: #2E3C4E;
}

 */
.tab-slider--body {
  margin-bottom: 20px;
}

th {
  width: 500px;
}

.leavecol {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 11px;
  /* identical to box height, or 72% */
  color: #3247d5;
}

.searchtxt {
  font-family: 'Poppins';
  margin-top: 22px;
  margin-bottom: 18px;
}

.fc-sat, .fc-sun {
  background-color: red !important;
  }

.applyleavecol {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 11px;
  color: white;
  margin-left: 345px;
  margin-top: 22px;
}

.actionpadding {
  padding-left: 70px
}

.attachmentimg {
  width: 50px;
  height: 50px;
}

.imgurl {
  width: 50px;
}

.centertxt {
  text-align: center;
}

.imgwidth {
  width: 100%;
  height: 500px;
}

.calenderalign {
  overflow-y: auto;
  border-bottom: solid 6px white;
  height: 126px;
}

.side-card {
  position: absolute;
  width: 540px;
  height: 226px;
  right: 10px;
  top: 30px;
  background: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #E2ECFB
}

.col-bor {
  margin-top: 25px;
}

.view {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 37px;
  left: 70px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.658333px;
  color: #ffffff;
  background: #3247D5;
  box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px solid #3247D5;
  border: 5px solid #3247D5;
}

.can-btn {
  box-sizing: border-box;
  width: 75px;
  height: 37px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.658333px;
  color: #ffffff;
  background: #3247D5;
  box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px solid #3247D5;
  border: 5px solid #3247D5;
}

.gtd {
  margin-left: -25px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .applyleavecol {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    color: #fff;
    margin-left: 505px;
    margin-top: 24px
  }

  .side-card {
    position: absolute;
    width: 548px;
    height: 226px;
    right: 64px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 12px;
    border: 2px solid #E2ECFB;
  }

  .leavecol {
    margin-left: 144px;
  }
}