<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Company Dashboard</p>
            </div>
        </div>
        <div class="row FilterClass">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-1">
                            <p>Filter By</p>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" type="search" placeholder="Search.." [(ngModel)]="term"
                                name="term">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-10">
                <p class="show3res">SHOWING <span> {{(companylist | filter:term)?.length}}
                    </span>RESULTS</p>

            </div>
            <div class="col-md-2">
                <button class="button" routerLink="/Admin/Addcompany">Add New</button>
            </div>
        </div><br>
        <!-- <hr> -->
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">

                    <table class="table" *ngIf="(companylist | filter: term)?.length > 0; else noResults">
                        <thead>
                            <tr>
                                <th>Company ID</th>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Contact Person Name</th>
                                <th>Reg. Date</th>
                                <th>No Of Employees</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companylist | filter:term">
                                <td>100{{company.id}}</td>
                                <td>{{company.companyName}}</td>
                                <td>{{company.address}}</td>
                                <td>{{company.mobileNumber}}</td>
                                <td>{{company.emailID}}</td>
                                <td>{{company.contactPerson}}</td>
                                <td>{{company.regdate|date}}</td>
                                <td>{{company.no_Of_Employees}}</td>
                                <td>
                                    <button [routerLink]="['/Admin/Addcompany',company.id]"
                                        class="upload">Edit</button><br><br>
                                    <button class="upload" (click)="DisableCompany(company.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #noResults>
                        <p class="NoResultShow"> No results found </p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />