<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><button class="active form-control"><i class="fa fa-clock-o"
                                    aria-hidden="true"></i></button></li>
                        <li>
                            <p class="Heading1">Shift Correction Request
                            <p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8"></div>
            </div>
            <br>
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-2">
                        <p>Start Date<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p>End Date<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p>Shift Name<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p> Start Time<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p> End Time<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2">
                        <p>Rest Days<span class="span">*</span></p>
                    </div>
                    <!-- <div class="col-md-4">
                        <p>Comments<span class="span">*</span></p>
                    </div> -->
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <input type="date" class="form-control" id="SDate" name="SDate" [(ngModel)]="SDate"
                            max="{{maxdate}}">
                    </div>
                    <div class="col-md-2">
                        <input type="date" class="form-control" id="SDate" name="SDate" [(ngModel)]="SDate"
                            max="{{maxdate}}">
                    </div>
                    <div class="col-md-2">
                        <select class="dropdown form-control" [(ngModel)]="ShiftName" id="ShiftName" name="ShiftName"
                            (change)="ChangeShiftMaster()" required>
                            <option value="">Select Shift</option>
                            <option *ngFor="let Staff of leavelist" value="{{Staff.description}}">{{Staff.description}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" disabled="true" class="form-control" [(ngModel)]="StartTime"
                            placeholder="Start Time" name="StartTime" id="StartTime">
                    </div>
                    <div class="col-md-2">
                        <input type="text" disabled="true" class="form-control" [(ngModel)]="EndTime"
                            placeholder="End Time" name="EndTime" id="EndTime">
                    </div>
                    <!-- <div class="col-md-4">
                        <textarea class="form-control" id="Comments" name="Comments" [(ngModel)]="Comments" rows="4"
                            placeholder="Comments"></textarea>
                    </div> -->
                    <div class="col-lg-2">
                        <div class="dropdown">
                            <input class="form-control" id="Restdays" name="Restdays" [(ngModel)]="Restdays"
                                [disabled]="ID!=undefined" placeholder="Rest Days">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row leavereq">
                    <div class="col-md-4">
                        <p>Comments<span class="span">*</span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-4">
                        <textarea class="form-control" id="Comments" name="Comments" [(ngModel)]="Comments" rows="4"
                            placeholder="Comments"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-1">
                        <!-- <button class="button" (click)="save()">Save</button> -->
                        <button type="button" class="button" *ngIf="ID!=undefined"
                            (click)="UpdateAttendanceCorrection()">UPDATE</button>
                        <button class="button" *ngIf="ID==undefined" (click)="save()">SAVE</button>
                    </div>
                    <div class="col-md-1">
                        <button class="button" (click)="Cancel()">Cancel</button>
                    </div>
                </div>
                <br>

            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />