<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Vaccination Details</p>
            </div>
        </div>
        <div class="row FilterClass">
            <div class="col-lg-12">
                <div class="card">
                    <br>
                    <div class="row">
                        <div class="col-lg-1 filterby">
                            Filter By
                        </div>
                        <div class="col-lg-2">
                            <input class="form-control" type="date" id="date" name="date" [(ngModel)]="date"
                                placeholder="Duration" (change)="getdate($event)">
                        </div>
                        <div class="col-lg-4 searchtxt">
                            <input class="form-control" type="search" id="search" name="search" [(ngModel)]="search"
                                placeholder="Search for Staff , Vaccination Name">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-10">
                <p class="show3res">SHOWING <span> {{EmployeeVaccinationDetail?.length}}
                    </span>RESULTS</p>
            </div>
            <div class="col-md-2">
                <a routerLink="/VaccineForm"><button class="button">Add New</button> </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table" id="lvs">
                        <thead>
                            <tr>
                                <th>Vaccination Name</th>
                                <th>First Dose Date</th>
                                <th>Second Dose Date</th>
                                <th>Certificate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of EmployeeVaccinationDetail|filter:search">
                                <td>{{item.vaccinationName}}</td>
                                <td>{{item.firstDoseDate|date}}</td>
                                <td>{{item.secondDoseDate|date}}</td>
                                <td><a href="{{item.certificate_url}}" target="_blank"><img src="assets/Images/pdf.png"
                                            class="certificateimg"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />