.newrequest {
  background-color: #21a4da;
  color: white;
}

.card {
  padding: 20px;
}

.upload {
  margin-left: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.upside {
  vertical-align: top;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.btn {
  background-color: #4282be;
  color: white;
}

.requestbtn {
  background-color: #4282be;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.leavelist {
  padding: 0px 20px;
}

.container-fluid {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
}


.leavebalance {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.table {
  padding: 35px;
}

/* 
.tab-slider--nav {
  width: 100%;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #fff;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--tabs:after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}

.tab-slider--tabs.slide:after {
  left: 50%;
}

.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #2E3C4E;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab-slider--trigger.active {
  color: #fff;
  background: #2E3C4E;
}

.tab-slider--body {
  margin-bottom: 20px;
}
 */
.addbtn {
  width: 70%;
}

.profilecol {
  text-align: center;
  margin-left: 66px;
}

.tablewidth {
  width: 1196px;
}

.managercol {
  margin-left: -120px
}

.actioncol {
  width: 300px;
}

.attachmentimg {
  width: 40px;
  margin-left: 20px
}

.centeralign {
  text-align: center;
}

.hrclearancecontent {
  width: 800px
}

.attachmentngx {
  width: 100%;
  height: auto;
}

.clearretain {
  margin-top: 1px;
}

.butn-sadow {
  left: -73px;
}

.apro-btn {
  box-sizing: border-box;
  width: 100px;
  height: 29px;
  left: 0px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 0.658333px;
  border-radius: 5px solid #3247D5;
  border: 2px solid #3247D5;
  color: #FFFFFF;
  border-radius: 5px solid #3247D5;
  border: 2px solid #3247D5;
  box-sizing: border-box;
  /* position: absolute; */
  width: 75px;
  height: 28px;
  /* left: 1209px; */
  top: 560px;
  background: #3247D5;
  border: 2px solid #3247D5;
  border-radius: 5px;
}
.down{
  margin-right: 60px;
}

.Heading23 {
  color: #3247d5;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 19px !important;
  padding-left: 5px;
  text-transform: capitalize;
}

.Heading1 {
  padding-left: 5px;
  font-size: 19px;
  font-weight: 700;
  color: #3247d5;
  font-style: normal;
}

.tab-slider--trigger.active {
  color: #fff;
  background: #3247D5;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .butn-sadow[_ngcontent-waw-c151] {
    left: 30px;
    top: -40px;
  }
}