<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><a class="active Heading23 " style="color: #3247d5;"
                            routerLink="/Employee/EmployeeResignation"><u> Employee Resignation </u></a>
                    </li>&nbsp;&nbsp;&nbsp;

                    <li *ngIf="roledid==2"><a class=" Heading23" style="margin-left: 38px; color: #3247d5;"
                            routerLink="/Manager/Exitformalityformdash"><u> Team Resignation
                            </u></a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">


        </div>
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-1">
                <a routerLink="/HR/Exitformalityform"><button *ngIf="roledid==9" class="Addbutton"><img
                            src="assets/Images/plus.svg" class="plus-icon">Add
                        Staff</button> </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="tab-slider--container" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'" id="tab1">
                    <div class="row tablehead">
                        <div class="col-lg-4">
                            <p id="tab1" class="show3res">SHOWING <span> {{annnounecemnetlist?.length}}
                                </span>RESULTS
                            </p>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="profilecol"></h5>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table tablewidth">
                            <thead>
                                <tr>
                                    <th>Resigned Date</th>
                                    <th>Staff Name</th>
                                    <th>Last Working Day</th>
                                    <th>Attachment</th>
                                    <th class="managercol">Manager Clearance</th>
                                    <th>HR Clearance</th>

                                    <th class="actioncol">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of annnounecemnetlist">
                                    <td>{{list.modifiedDate|date}}</td>
                                    <td>{{list.name}}</td>
                                    <td>
                                        <p>{{list.lastworkingdate|date}}</p>
                                    </td>
                                    <td>
                                        <p *ngIf="list.attachment==null">No Attachment</p>
                                        <a href="{{list.attachment}}" target="_blank"> <img
                                                *ngIf="list.attachment!=null" src="assets/Images/attachment (1).png"
                                                class="attachmentimg"></a>
                                    </td>
                                    <td>
                                        <p *ngIf="list.ownclearance==0">Pending</p>
                                        <p *ngIf="list.ownclearance==1">Clear</p>
                                        <p *ngIf="list.ownclearance==2">Rejected</p>
                                    </td>
                                    <td>
                                        <p *ngIf="list.hRclearance==0 && list.ownclearance!=2">Pending</p>
                                        <p *ngIf="list.hRclearance==0 && list.ownclearance==2">Rejected</p>
                                        <p *ngIf="list.hRclearance!=0">Clear</p>
                                    </td>

                                    <td>
                                        <div class="row" style="height:65px;width: 40px;">
                                            <button *ngIf="roledid==2 && list.hRclearance==0 && list.ownclearance==0"
                                                class="apro-btn " (click)="getmanagerid(list)" data-toggle="modal"
                                                data-target="#Accept">Approve</button>
                                            &nbsp;

                                            <button *ngIf="roledid==2 && list.hRclearance==0 && list.ownclearance==0"
                                                class="apro-btn" (click)="RetainEmployeee1(list)" data-toggle="modal"
                                                data-target="#Reject">Reject</button>

                                            <button *ngIf="roledid==9 && list.hRclearance==0 && list.ownclearance==0"
                                                class="edit-btn" (click)="hrupdate(list.id)" data-toggle="modal"
                                                data-target="#exampleModal">Clear</button>



                                            <button *ngIf="roledid==9 && list.hRclearance==0 && list.ownclearance==1"
                                                class="edit-btn" (click)="hrupdate(list.id)" data-toggle="modal"
                                                data-target="#exampleModal">Clear</button>

                                            <!-- <button *ngIf="roledid==9 && list.hRclearance==0 && list.ownclearance==1"
                                            class="upload" (click)="RetainEmployeee1(list)" data-toggle="modal"
                                            data-target="#Reject">Retain</button> -->

                                            <button *ngIf="roledid==2 && list.hRclearance==1 && list.ownclearance!=2"
                                                class="edit-btn" (click)="getmanagerid(list)" data-toggle="modal"
                                                data-target="#Accept">Clear</button><br><br />



                                            <button
                                                *ngIf="roledid==2 && list.ownclearance==0 && list.lastworkingdate==null"
                                                class="edit-btn" (click)="getmanagerid(list)" data-toggle="modal"
                                                data-target="#Accept">Accept</button><br /><br>
                                            &nbsp;&nbsp;&nbsp;



                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Reject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h5> Notes</h5>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row notes">
                        <div class="col-lg-3">
                            Notes
                        </div>
                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="Notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row centeralign">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-5">
                            <button class="upload" (click)="RetainEmployeee()" data-dismiss="modal">Reject</button>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Accept" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h5> Accept request</h5>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row notes">
                        <div class="col-lg-3">
                            Last Working Date
                        </div>
                        <div class="col-lg-4">
                            <input type="date" [(ngModel)]="lastworkingdate" id="lastworkingdate" name="lastworkingdate"
                                class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row notes" *ngIf="roletype==2">
                        <div class="col-lg-3">
                            New Manager
                        </div>
                        <div class="col-lg-4">
                          


                            <ng-multiselect-dropdown style="height: 30px;" [placeholder]="'Select New Manager'"
                                [settings]="roledropdownSettings" [data]="supervisorlist"
                                (onSelect)="L1Manager($event)">
                            </ng-multiselect-dropdown>



                        </div>
                    </div>
                    <br />
                    <div class="row notes">
                        <div class="col-lg-3">
                            Notes
                        </div>
                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="Notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row centeralign">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-5">
                            <button class="upload" (click)="lastworkingdate1()" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content hrclearancecontent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HR Clearance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Experience Letter :</p>
                    </div>
                    <div class="col-lg-4">
                        <ngx-dropzone (change)="onSelect($event)" class="attachmentngx">
                            <ngx-dropzone-label>Please Attach Pdf!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Releaving Letter :</p>
                    </div>
                    <div class="col-lg-4">
                        <ngx-dropzone (change)="onSelect2($event)" class="attachmentngx">
                            <ngx-dropzone-label>Please Attach Pdf!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Comments :</p>
                    </div>
                    <div class="col-lg-4">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="upload" data-dismiss="modal">Close</button>
                <button type="button" class="upload" data-dismiss="modal" (click)="UploadAttachment()">Update</button>
            </div>
        </div>
    </div>
</div>