<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-spinner *ngIf="loader"></app-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="align-head-close">
                <p class="Heading headingcolor">Holiday Form</p>
                <img src="assets/Images/revamp/cancle-icon.png" (click)="Cancel()" class="icon-close">
            </div>
        </div>
        <div class="card">
            <div class="row leavereq">
                <div class="col-md-2">
                    <label>Type<span class="span">*</span></label>
                </div>
                <div class="col-md-2">
                    <label>Holiday<span class="span">*</span></label>
                </div>
                <div class="col-md-3">
                    <label>Holiday Description<span class="span">*</span></label>
                </div>
                <div class="col-md-2">
                    <p>Holiday Date<span class="span">*</span></p>
                </div>
                <div class="col-md-1">
                    <p>All City</p>
                </div>
                <div class="col-md-2" *ngIf="Allcity==false">
                    <p>City</p>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <select class="form-control inputfield" id="HolidayCategory" name="HolidayCategory"
                        [(ngModel)]="HolidayCategory">
                        <option value="0">Select Type </option>
                        <option value="General Holiday ">Legal Holiday</option>
                        <option value="Special Holiday">Special Holiday </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Holiday Name" placeholder="Holiday"
                        [(ngModel)]="Holiday" name="Holiday" id="Holiday">
                </div>
                <div class="col-md-3">
                    <textarea rows="3" type="text" class="form-control" placeholder="Holiday Description"
                        [(ngModel)]="HolidayDescription" name="HolidayDescription" id="Holiday Description"></textarea>
                </div>

                <div class="col-md-2">
                    <input type="date" class="form-control" placeholder="HolidayDate" name="HolidayDate"
                        id="HolidayDate" [(ngModel)]="HolidayDate">
                </div>
                <div class="col-md-1">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" id="Allcity"
                        name="Allcity" [(ngModel)]="Allcity" onkeypress="return /[A-Z]/i.test(event.key)">
                </div>
                <div class="col-md-2" *ngIf="Allcity==false">
                    <select class="form-control inputfield" id="Region" name="Region" [(ngModel)]="Region">
                        <option value="0">Select City </option>
                        <option *ngFor="let role of Citylist" value="{{role.id}}">{{role.short}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-3">
                    <p>Attachment<span class="span">*</span></p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-3">
                    <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf" (change)="onSelect21($event)"
                        class="dropFile">
                        <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                            (removed)="onRemove21(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-lg-2" *ngIf="ID!=undefined">
                    <img src="{{attachment}}" class="attachmentAlign">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-3">
                    <button class="form-control close-btn" (click)="Cancel()">Cancel</button>
                   

                </div>
                <div class="col-lg-1">
                    <button type="button" class="form-control butn-sadow" *ngIf="ID!=undefined"
                        (click)="update()">Update</button>
                    <button class="form-control butn-sadow" *ngIf="ID==undefined" (click)="Save()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
