<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Attendance Configuration Dashboard</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2"></div>
    </div>
    <div class="card">
        <br>
        <div class="row">
            <div class="col-lg-1">
                <p class="filter">Filter By </p>
            </div>
            <!-- <div class="col-lg-2">
                <input class="form-control" type="date" [(ngModel)]="Search">
            </div> -->
            <div class="col-lg-5 search">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="Search" class="form-control">
            </div>
            <div class="col-lg-3" style="text-align: center;">
            </div>
        </div><br>
    </div> <br>
    <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
            <button class=" form-control btn" routerLink="/Attendanceconfig">Add New</button>
        </div>
    </div>
    <br>
    <div class="row" style="margin-left: -99px;">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table">
                    <thead class="head">
                        <tr>
                            <th>Shift Name</th>
                            <th>Office Start Time</th>
                            <th>Office End Time</th>
                            <th>Early Checkin Time</th>
                            <th>Grace Period</th>
                            <th>Under Time</th>
                            <th>Regularization</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let AttendConfig of AttendConfiglist|filter:Search">
                            <td>
                                <p *ngIf="AttendConfig.shiftid==1">General Shift</p>
                                <p *ngIf="AttendConfig.shiftid==2">Morning Shift</p>
                                <p *ngIf="AttendConfig.shiftid==3">Afternoon Shift</p>
                                <p *ngIf="AttendConfig.shiftid==4">Night Shift</p>
                            </td>
                            <td>{{AttendConfig.startingTime1}}</td>
                            <td>{{AttendConfig.endTime1}}</td>
                            <td>{{AttendConfig.earlyCheckInTime1}}</td>
                            <td>{{AttendConfig.gracePeriod}}</td>
                            <td>{{AttendConfig.underTime}}</td>
                            <td>{{AttendConfig.regularization}}</td>
                            <td> <button class="upload"
                                    [routerLink]="['/Attendanceconfig',AttendConfig.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="upload"
                                    (click)="DeleteAttendanceConfiguration(AttendConfig.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>