<br>
<div class="card card-padding">
    <div class="row">
        <div class="col-lg-12">
         
            <label class="label">Nomination</label>
        </div>
    </div>
    <br><br>
    <div class="row Details">
        <div class="col-lg-2">
            <p>Dependent <span style="color: red;">*</span></p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                id="Dependent" name="Dependent" [(ngModel)]="Dependent"
                onkeypress="return /[A-Za-z0-9/\s/]/i.test(event.key)" placeholder="Dependent">
        </div>
        <div class="col-lg-2">
            <p>Percentage <span style="color: red;">*</span></p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                id="Percentage" name="Percentage" [(ngModel)]="Percentage"
                onkeypress="return /[0-9/\s/%]/i.test(event.key)" placeholder="Percentage">
        </div>
        <div class="col-lg-2">
            <p>Nominee Type <span style="color: red;">*</span></p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                id="NomineeType" name="NomineeType" [(ngModel)]="NomineeType" placeholder="Nominee Type">
        </div>
        <div class="col-lg-2">
            <p>Guardian Name</p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                id="GuardianName" name="GuardianName" [(ngModel)]="GuardianName" placeholder="Guardian Name"
                onkeypress="return /[A-Za-z0-9/\s/]/i.test(event.key)">
        </div>
        <div class="col-lg-3">
            <p>Guardian Relationship</p>
            <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control select"
                id="GuardianRelationship" name="GuardianRelationship" [(ngModel)]="GuardianRelationship">
                <option value="Select One">Select One</option>
                <option value="Brother">Brother</option>
                <option value="Daughter">Daughter</option>
                <option value="Father">Father </option>
                <option value="Grand Parent">Grand Parent</option>
                <option value="Grand Child">Grand Child</option>
                <option value="Grand father">Grand father</option>
                <option value="Mother">Mother</option>
                <option value="Sister">Sister</option>
                <option value="Son">Son</option>
            </select>
        </div>
        <div class="col-lg-2"></div>
    </div><br>

</div>
<br>
<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <button type="button" class="form-control butn-sadow" *ngIf="ID!=undefined && roledid!=10"
            (click)="UpdateNomination()">Save Changes</button>&nbsp;&nbsp;
        <button class="form-control butn-sadow" (click)="SaveNomination()" *ngIf="ID==undefined">Submit</button>
        &nbsp;&nbsp;
        <!-- <button  class="form-control butn-sadow">Cancel</button> -->
    </div>
    <div class="col-lg-5"></div>
</div><br>