<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-11">
                    <p class="Heading1">Retirement Configuration</p>
                </div>
            </div>
            <div class="card">
                <br />
                <div class="row">
                    &nbsp; &nbsp; &nbsp; &nbsp;<input type="checkbox" checked>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<label>All Staff Retirement Age 60</label>
                </div>
                <br />
                <div class="row leavereq">
                    <div class="col-md-3">
                        <label>Department<span class="span">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Position<span class="span">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Employee<span class="span">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <p>Retirement Age<span class="span">*</span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <select class="form-control" id="Department" name="Department" [(ngModel)]="Department"
                            (change)="GetRoleID($event)">
                            <option value="">Select Department</option>
                            <option value="{{item.id}}" *ngFor="let item of Departmentlist">
                                {{item.department_name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="RoleID" name="RoleID" [(ngModel)]="RoleID"
                            (change)="Getemployee($event)">
                            <option value="">Select Position</option>
                            <option *ngFor="let item of RoleTypeList" value="{{item.id}}">{{item.short}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                            [data]="dropdownList2" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-3"> <input type="text" class="form-control" placeholder="Retirement Age"
                            name="RetirementAge" [(ngModel)]="RetirementAge" id="RetirementAge"></div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button class="button submitbtn form-control" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-2">
                        <button class="button submitbtn form-control" *ngIf="ID==undefined"
                            (click)="Save()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner *ngIf="loader"></app-spinner>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>