<app-commonalertpage [messageId]="messageId"  *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <span *ngIf="roleid!=11"><a class="Heading" routerLink="/Employee/TimeSheet">My Timesheet
                                Details</a></span>&nbsp;&nbsp;
                        <span *ngIf="roleid==2"><a class="Heading" routerLink="/Manager/MyTeamTimesheet"><u>My Team
                                    Timesheet
                                    Details</u></a></span>
                        <span *ngIf="roleid==1||roleid==9||roleid==10||roleid==11"><a class="Heading" routerLink="/MyTeamTimesheet"><u>Company
                                    Timesheet
                                    Details</u> </a></span>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card filtercard">
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/Images/filter.svg" class="filter-img">
                        <p class="filter">Filter By:</p>
                    </div>
                    <div class="col-md-2">
                        From Date
                        <input class="form-control" type="date" id="date" name="date" [(ngModel)]="date"
                            placeholder="Duration">
                    </div>
                    <div class="col-md-2">
                        To Date
                        <input class="form-control" type="date" id="edate" name="edate" [(ngModel)]="edate"
                            (change)="getdate()" placeholder="Duration">
                    </div>
                   <!--  <div class="col-md-6">
                        <br>
                        <input class="form-control" type="search" id="term" name="term" [(ngModel)]="term"
                            placeholder="Search for date , Employee">
                    </div> -->
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    <a><button *ngIf="selecallbtn" class="form-control AddExpense" (click)="Approveall()">Approve
                            Selected
                        </button></a>
                    <!-- <a><button *ngIf="seleconebtn " class="form-control AddExpense" (click)="Approve()">Approve
                        </button></a> -->
                </div>
            </div><br>
            <div class="row">
                <br />
                <div class="col-lg-12 dashbutton bttn">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                                (click)="viewMode ='tab1'">
                                Pending</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                                (click)="viewMode ='tab2'">Approved</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                                (click)="viewMode ='tab3'">Rejected</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="tab-slider--container" [ngSwitch]="viewMode">
                    <div *ngSwitchCase="'tab1'" id="tab1">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{timesheets1?.length}}</span> RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th *ngIf="roleid==2">Select All <input type="checkbox" name="select-all"
                                                id="select-all" (click)="selectALL(true)" /></th>
                                        <th>Employee Name</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>No Of Hours</th>
                                        <th>Task</th>
                                        <th>Attachment</th>
                                        <th>Comments</th>
                                        <th *ngIf="roleid==2 || login!=1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of timesheets1|filter:term|paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td *ngIf="roleid==2"><input *ngIf="item.status==null" type="checkbox"
                                                (click)="getCheckbocdetails($event)">
                                        </td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.date|date}}</td>
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.noOfHrs|date:"HH:mm"}}</td>
                                        <td>{{item.task}}</td>
                                        <td>
                                            <p *ngIf="item.excelURL==null">No Attachment</p>
                                            <a href="{{item.excelURL}}" target="_blank"> <img
                                                    *ngIf="item.excelURL!=null" src="assets/Images/attachment (1).png"
                                                    class="attachmentimg"></a>
                                        </td>
                                        <td>{{item.comments}}</td>
                                        <td *ngIf="roleid==2 || login!=1">
                                            <p *ngIf="item.status==null">
                                                <img class="img" (click)="ApproveTimeSheet(item.id)"
                                                    src="assets/Images/check-mark.png">
                                                <img class="imgcancel" data-toggle="modal" data-target="#Reject"
                                                    (click)="getid(item.id)" src="assets/Images/cancel (1).png">
                                            </p>
                                            <p *ngIf="item.status!=null">
                                                {{item.status}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab2'" id="tab2">
                        <div class="row">
                            <div class="col-md-10">
                                <br>
                                <p class="show3res">SHOWING <span>{{timesheets3?.length}}</span> RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee Name</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>No Of Hours</th>
                                        <th>Task</th>
                                        <th>Attachment</th>
                                        <th>Comments</th>
                                        <th *ngIf="login!=1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of timesheets3|filter:term">
                                        <td>{{item.name}}</td>
                                        <td>{{item.date|date}}</td>
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.noOfHrs|date:"HH:mm"}}</td>
                                        <td>{{item.task}}</td>
                                        <td>
                                            <p *ngIf="item.excelURL==null">No Attachment</p>
                                            <a href="{{item.excelURL}}" target="_blank"> <img
                                                    *ngIf="item.excelURL!=null" src="assets/Images/attachment (1).png"
                                                    class="attachmentimg"></a>
                                        </td>
                                        <td>{{item.comments}}</td>
                                        <td *ngIf="login!=1">
                                            <p *ngIf="item.status==null">
                                                <img class="img" (click)="ApproveTimeSheet(item.id)"
                                                    src="assets/Images/check-mark.png">
                                                <img class="imgcancel" data-toggle="modal" data-target="#Reject"
                                                    (click)="getid(item.id)" src="assets/Images/cancel (1).png">
                                            </p>
                                            <p *ngIf="item.status!=null">
                                                {{item.status}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab3'" id="tab3">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{timesheets2?.length}}</span> RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="thwidth">Employee Name</th>
                                        <th class="thwidth">Date</th>
                                        <th class="thwidth">Start Time</th>
                                        <th class="thwidth">End Time</th>
                                        <th class="thwidth">No Of Hours</th>
                                        <th class="thwidth">Task</th>
                                        <th>Attachment</th>
                                        <th class="thwidth">Comments</th>
                                        <th *ngIf="login!=1" class="thwidth">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of timesheets2|filter:term">
                                        <td>{{item.name}}</td>
                                        <td>{{item.date|date}}</td>
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.noOfHrs|date:"HH:mm"}}</td>
                                        <td>{{item.task}}</td>
                                        <td>
                                            <p *ngIf="item.excelURL==null">No Attachment</p>
                                            <a href="{{item.excelURL}}" target="_blank"> <img
                                                    *ngIf="item.excelURL!=null" src="assets/Images/attachment (1).png"
                                                    class="attachmentimg"></a>
                                        </td>
                                        <td>{{item.comments}}</td>
                                        <td *ngIf="login!=1">
                                            <p *ngIf="item.status==null">
                                                <img class="img" (click)="ApproveTimeSheet(item.id)"
                                                    src="assets/Images/check-mark.png">
                                                <img class="imgcancel" data-toggle="modal" data-target="#Reject"
                                                    (click)="getid(item.id)" src="assets/Images/cancel (1).png">
                                            </p>
                                            <p *ngIf="item.status!=null">
                                                {{item.status}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<div id="Reject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Reject Notes</h5>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row notes">
                        <div class="col-lg-3">
                            Notes
                        </div>
                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="Notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row centeralign">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-5">
                            <button class="upload" (click)="ApproveTimeSheet1()">Submit</button>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>