
    
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <label class="label">Bank Details <span style="font-weight: 100;">

                    </span></label>
            </div>
        </div>
        <br><br>
        <div class="row leavereq">

            <div class="col-md-2">
                <p>Name of Bank <span style="color: red;">*</span></p>

            </div>
            <div class="col-md-3">
                <p>Account Holder Name <span style="color: red;">*</span></p>

            </div>
            <div class="col-md-3">
                <p>Bank Account Number <span style="color: red;">*</span></p>
            </div>
        </div>
        <div class="row leavereq">
            <div class="col-md-2">
                <div class="dropdown">
                    <select class="form-control inputfield select" [disabled]="roledid!=9 && roledid!=11"
                        id="NameOfBank" name="NameOfBank" [(ngModel)]="NameOfBank">
                        <option value="Select One">Select Bank</option>
                        <option *ngFor="let bank of Bankslist" value="{{bank.name}}}">{{bank.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <input [disabled]="roledid!=9 && roledid!=11" class="form-control"
                    placeholder="Account Holder Name" id="AccountHolderName" name="AccountHolderName"
                    [(ngModel)]="AccountHolderName">
            </div>
            <div class="col-md-3">
                <input [disabled]="roledid!=9 && roledid!=11" class="form-control"
                    placeholder="Bank Account Number" id="BankAccountNumber" maxlength="13"
                    onkeypress="return /[0-9/\s/]/i.test(event.key)" name="BankAccountNumber"
                    [(ngModel)]="BankAccountNumber">
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
                <button type="button" class="form-control butn-sadow"
                    *ngIf="ID!=undefined && (roledid==11 || roledid==9)" (click)="UpdateBankDetails()"
                    [disabled]="roledid!=9 && roledid!=11">Save Changes</button>&nbsp;&nbsp;
                <button class="form-control butn-sadow" (click)="SaveBankDetails()"
                    *ngIf="ID==undefined">Submit</button> &nbsp;&nbsp;
                <!-- <button  class="form-control butn-sadow">Cancel</button> -->
            </div>
            <div class="col-lg-5"></div>
        </div><br>
        <br>
    </div>
    <br>
