<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Floor Master</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>
            <div class="col-lg-5">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control">
            </div>
            <div class="col-lg-3" class="search">
            </div>
        </div><br>
    </div> <br>
    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span>{{leavelist?.length}} </span>RESULTS</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
    <div class="row" class="alignForm">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Building Name</th>
                            <th>Address</th>
                            <th>Phone No</th>
                            <th>Floor Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let holiday of leavelist|filter:term">
                            <td>{{holiday.countryname}}</td>
                            <td>{{holiday.name}}</td>
                            <td>{{holiday.address}}</td>
                            <td>{{holiday.phoneNo}}</td>
                            <td>{{holiday.floor}}</td>
                            <td>
                                <button class="upload" (click)="DeleteBuilding(holiday.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />