<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="Heading">Staff Salary Details</h3>
            <div class="card filtercard">
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text">Filter By</p>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" id="Department" name="Department" [(ngModel)]="Department"
                            (change)="getDepartment()">
                            <option value="0">Select Department</option>
                            <option value="{{item.id}}" *ngFor="let item of Departmentlist">
                                {{item.department_name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" id="Department" name="Department" [(ngModel)]="level"
                            (change)="geLevel()">
                            <option value="0">Select Level</option>
                            <option value="1"> Level 1 (CEO) </option>
                            <option value="2"> Level 2 (Vice President) </option>
                            <option value="3"> Level 3 (Senior President) </option>
                            <option value="4"> Level 4 (Director) </option>
                            <option value="5"> Level 5 (Senior Manager) </option>
                            <option value="6"> Level 6 (Manager) </option>
                            <option value="7"> Level 7 (Team Lead) </option>
                            <option value="8"> Level 8 (Senior Developer) </option>
                            <option value="9"> Level 9 (Developer) </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" id="RoleType" name="RoleType" (change)='getRoleType()'
                            [(ngModel)]="RoleType">
                            <option value="0">Select Position</option>
                            <option *ngFor="let item of RoleTypeList" value="{{item.id}}">{{item.short}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <p class="show3res">SHOWING <span>{{leavelist?.length}} </span>RESULTS</p>
                </div>
                <div class="col-lg-8 btncol">
                    <button class="button" routerLink="/HR/Addstaffsalary">Add New</button>
                    <button class="button" data-toggle="modal" data-target="#import">Batch
                        Upload</button>
                </div>
            </div>
            <br>
            <div class="row profilealign">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <table class="table table-bordered text">
                            <thead>
                                <tr>
                                    <th>Staff Name</th>
                                    <th>DOJ</th>
                                    <th>Department</th>
                                    <th>Position</th>
                                    <th>Level</th>
                                    <th>Manager</th>
                                    <th>De-minimis</th>
                                    <th>Basic Salary</th>
                                    <th>De-minimis Allowance</th>
                                    <th>Net Salary</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let holiday of leavelist|filter:term">
                                    <td>{{holiday.name}}</td>
                                    <td>{{holiday.joiningDate|date}}</td>
                                    <td>{{holiday.department_name}}</td>
                                    <td>{{holiday.role}}</td>
                                    <td>{{holiday.level}}</td>
                                    <td>{{holiday.manager}}</td>
                                    <td>{{holiday.deniminimis}}</td>
                                    <td>{{holiday.baseSal}}</td>
                                    <td>{{holiday.deniminimis_amount}}</td>
                                    <td>{{holiday.deniminimis_amount+holiday.baseSal}}</td>
                                    <td> <button class="upload"
                                            [routerLink]="['/HR/Addstaffsalary',holiday.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="import" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Batch Upload</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="file" accept=".xls,.xlsx" class="incomingfiletxt"
                                (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                                <br> <span style="color:red;font-size: 10px;">only .xls,.xlsx files are acceptable </span>
                        </div>
                       
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <button type="button" class="button btnupload" data-dismiss="modal"
                                (click)="Upload_file()">Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>