
<br>
<div class="card card-padding">
    <div class="row">
        <div class="col-lg-12">
            <label class="label">My Address Details </label>
        </div>
    </div>
    <br><br>
    <div class="row Details">
        <div class="col-lg-2">
            <p>Address Type <span style="color: red;">*</span></p>
            <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control select"
                id="AddressType" name="AddressType" [(ngModel)]="AddressType">
                <option value="0">Select One</option>
                <option value="Official">Official</option>
                <option value="Permanent">Permanent</option>
                <option value="Residence">Residence </option>

            </select>
        </div>

        <!-- <div class="col-lg-2">
                <p>Find Places </p>
                <input class="form-control" id="FindPlace" name="FindPlace" [(ngModel)]="FindPlace"
                    placeholder="find your Address">
            </div> -->
        <div class="col-lg-2">
            <p>Address line 1
                <span style="color: red;">*</span>
            </p>
            <textarea rows="3" [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" type="text"
                class="form-control" placeholder="Address Line 1" [(ngModel)]="AddressLine1" name="AddressLine1"
                id="AddressLine1"></textarea>
            <!-- <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control" placeholder="Address line 1" id="AddressLine1" name="AddressLine1"
                    [(ngModel)]="AddressLine1"> -->
        </div>
        <div class="col-lg-2">
            <p>Address line 2
            </p>
            <textarea rows="3" [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" type="text"
                class="form-control" placeholder="Address Line 2" [(ngModel)]="AddressLine2" name="AddressLine2"
                id="AddressLine2"></textarea>
            <!-- <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control" placeholder="Address line 2" id="AddressLine2" name="AddressLine2"
                    [(ngModel)]="AddressLine2"> -->
        </div>
        <div class="col-lg-2">
            <p>Address line 3
            </p>
            <textarea rows="3" [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" type="text"
                class="form-control" placeholder="Address Line 3" [(ngModel)]="AddressLine3" name="AddressLine3"
                id="AddressLine3"></textarea>
            <!-- <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control" placeholder="Address line 3" id="AddressLine3" name="AddressLine3"
                    [(ngModel)]="AddressLine3"> -->
        </div>
        <div class="col-lg-2">
            <p>Address line 4
            </p>
            <textarea rows="3" [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" type="text"
                class="form-control" placeholder="Address Line 4" [(ngModel)]="AddressLine4" name="AddressLine4"
                id="AddressLine4"></textarea>
            <!-- <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control" placeholder="Address line 4" id="AddressLine4" name="AddressLine4"
                    [(ngModel)]="AddressLine4"> -->
        </div>
        <div class="col-lg-2">
            <p>Region
            </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Region" id="Region" name="Region" [(ngModel)]="Region">
        </div>
    </div><br>
    <!-- <div class="row Details">

           


        </div><br> -->
    <div class="row Details">
        <div class="col-lg-2">
            <p>Country
                <span style="color: red;">*</span>
            </p>
            <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control inputfield select"
                id="CountryID" name="CountryID" (change)="GetCountryID($event)" [(ngModel)]="CountryID">
                <option value="0" selected>Select Country </option>
                <option *ngFor="let role of Countrylist" value="{{role.id}}">{{role.short}}</option>

            </select>
            <!-- <select class="form-control inputfield" id="CountryID" name="CountryID"
                    (change)="GetCountryID($event)" [(ngModel)]="CountryID">
                    <option value="0" selected>Select Country </option>
                    <option *ngFor="let role of Countrylist" value="{{role.id}}">{{role.countryName}}</option>

                </select> -->
            <!--
                <input class="form-control" placeholder="" id="Country" name="Country" [(ngModel)]="Country"> -->
        </div>



        <div class="col-lg-2">
            <p> Province
                <span style="color: red;">*</span>
            </p>
            <!-- <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control inputfield" id="StateID" name="StateID" [(ngModel)]="StateID"
                    (change)="GetProvinceID($event)">
                    <option class="textcolor" value="0">Select Province </option>
                    <option class="textcolor" *ngFor="let role of Provincelist" value="{{role.id}}">
                        {{role.short}}
                    </option>

                </select> -->

            <ng-multiselect-dropdown [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2"
                [placeholder]="'Select Province'" [settings]="provincedropdownSettings" [data]="Provincelist"
                [(ngModel)]="StateID" (onSelect)="GetProvinceID($event)">
            </ng-multiselect-dropdown>

        </div>
        <div class="col-lg-2">
            <p>City
                <span style="color: red;">*</span>
            </p>
            <!-- <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control inputfield" id="CityID" name="CityID" [(ngModel)]="CityID"
                    (change)="getbarangay()">
                    <option class="textcolor" value="0">Select City </option>
                    <option class="textcolor" *ngFor="let role of Citylist" value="{{role.id}}">
                        {{role.short}}
                    </option>

                </select> -->

            <ng-multiselect-dropdown [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2"
                [placeholder]="'Select City'" [settings]="citydropdownSettings" [data]="Citylist" [(ngModel)]="CityID"
                (onSelect)="getbarangay($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-2">
            <p>Barangay <span style="color: red;">*</span></p>
            <!-- <select [disabled]="roledid!=9 && roledid!=11 && roledid!=6" class="form-control inputfield" id="Barangay" name="Barangay" [(ngModel)]="Barangay">
                    <option class="textcolor" value="0">Select Barangay </option>
                    <option class="textcolor" *ngFor="let role of barangaylist" value="{{role.id}}">
                        {{role.name}}
                    </option>

                </select> -->

            <ng-multiselect-dropdown [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2"
                [placeholder]="'Select Barangay'" [settings]="barangaydropdownSettings" [data]="barangaylist"
                [(ngModel)]="Barangay" (onSelect)="onSelectBarangay($event)">
            </ng-multiselect-dropdown>


            <!-- <select class="form-control inputfield" id="Barangay" name="Barangay" [(ngModel)]="Barangay"
                (change)="GetCItyID($event)">
                <option class="textcolor" value="0">Select Barangay </option>
                <option class="textcolor" *ngFor="let role of barangaylist" value="{{role.id}}">
                    {{role.short}}
                </option>

            </select> -->
        </div>
        <div class="col-lg-2">
            <p>Postcode
                <span style="color: red;">*</span>
            </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Postcode" id="SubDistrictPostcode" name="SubDistrictPostcode"
                [(ngModel)]="SubDistrictPostcode">
        </div>
        <!-- <div class="col-lg-2">
                <p>Mobile::</p>
                <input class="form-control" placeholder="" id="Mobile1" name="Mobile1" [(ngModel)]="Mobile1">
            </div>
            <div class="col-lg-2">
                <p>Landline / Fax:</p>
                <input class="form-control" placeholder="" id="LandLineFax" name="LandLineFax"
                    [(ngModel)]="LandLineFax">
            </div> -->
        <div class="col-lg-2">
            <p>Is Correspondance </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" type="checkbox"
                id="IsCorrespondance" name="IsCorrespondance">

            <!-- [(ngModel)]="IsCorrespondance" -->
        </div>
    </div> <br>
    <div class="row">
        <div class="col-lg-12">
            <label class="label">Emergency Contact </label>
          
        </div>
    </div>  <br><br>
    <div class="row Details">
        <div class="col-lg-2">
            <p>Contact Name
                <span style="color: red;">*</span>
            </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Contact Name" id="EmergencyContactName" name="EmergencyContactName"
                onkeypress="return /[A-Za-z0-9/\s/]/i.test(event.key)" [(ngModel)]="EmergencyContactName">
        </div><br>
        <div class="col-lg-2">
            <p>Contact Relationship
                <span style="color: red;">*</span>
            </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Contact Relationship" id="EmergencyContactRelationship"
                onkeypress="return /[A-Za-z0-9/\s/]/i.test(event.key)" name="EmergencyContactRelationship"
                [(ngModel)]="EmergencyContactRelationship">
        </div><br>
        <div class="col-lg-2">
            <p>Mobile Number
                <span style="color: red;">*</span>
            </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Mobile Number" id="EmergencyContactMobileNumber"
                onkeypress="return /[0-9/\s/]/i.test(event.key)" maxlength="11" name="EmergencyContactMobileNumber"
                [(ngModel)]="EmergencyContactMobileNumber">
        </div><br>
        <div class="col-lg-2">
            <p>Office Number </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Office Number" id="EmergencyContactOfficeNumber"
                onkeypress="return /[0-9/\s/]/i.test(event.key)" maxlength="11" name="EmergencyContactOfficeNumber"
                [(ngModel)]="EmergencyContactOfficeNumber">
        </div><br>
        <div class="col-lg-2">
            <p>Contact Address </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Contact Address" id="EmergencyContact_Address"
                onkeypress="return /[A-Za-z0-9/\s/]/i.test(event.key)" name="EmergencyContact_Address"
                [(ngModel)]="EmergencyContact_Address">
        </div><br>
    </div><br>
    <div class="row Details">
        <div class="col-lg-2">
            <p>Landline Number </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Landline Number" id="EmergencyContactLandLineNumber"
                onkeypress="return /[0-9/\s/]/i.test(event.key)" maxlength="11" name="EmergencyContactLandLineNumber"
                [(ngModel)]="EmergencyContactLandLineNumber">
        </div>
        <div class="col-lg-2">
            <p>Email ID </p>
            <input [disabled]="roledid!=9 && roledid!=11 && roledid!=6 && roledid!=2" class="form-control"
                placeholder="Email ID" id="EmergencyContact_EmailID" name="EmergencyContact_EmailID"
                [(ngModel)]="EmergencyContact_EmailID">
        </div>
    </div>
    <br>
</div>
<br>
<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <button type="button" class="form-control butn-sadow" *ngIf="ID!=undefined"
            (click)="UpdateMyAddressDetails()">Save Changes </button>
        <button class="form-control butn-sadow" (click)="SaveAddressDetails()" *ngIf="ID==undefined">Submit</button>
        &nbsp;&nbsp;

    </div>
    <div class="col-lg-5"></div>
</div>
<br>