<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div>
                    <ul>
                        <li *ngIf="roleid!=11"><a class="active" class="Heading align-head"
                                routerLink="/Employee/AttendenceDetails"> My Attendance
                                Details
                                <hr class="line-border listForm">
                            </a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li *ngIf="roleid==2"><a class="Heading listForm" routerLink="/Manager/MyTeamAttendence">My Team
                                Attendance
                                Details</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                        <li *ngIf="roleid==1||roleid==9||roleid==11||roleid==10"><a class="Heading listForm"
                                routerLink="/Manager/MyTeamAttendence">Company
                                Attendance
                                Details</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-1">
                        <img src="assets/Images/filter.svg" class="filter-img">
                        <p class="filter">Filter By:</p>
                    </div>
                    <div class="col-md-3">
                        <p>Start Date</p>
                    </div>
                    <div class="col-md-3">
                        <p>End Date</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <input type="date" id="startdate" name="startdate" [(ngModel)]="startdate" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="date" id="enddate" name="enddate" [(ngModel)]="enddate"
                            (change)="getenddate($event)" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class="butn-sadow" type="button" (click)="exportexcel()">Download
                            Excel</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row tablepadding tablePaddingScroll">
                <div class="col-md-12">
                    <table class="table tableWidth" id="lvs"
                        *ngIf="(attendancelist| paginate: { itemsPerPage: count1, currentPage: p})?.length > 0; else noResults">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Sign In Type</th>
                                <th>Expected In Time</th>
                                <th>Punch In Time</th>
                                <th>Punch In Location/IP Address</th>
                                <th>Expected Out Time</th>
                                <th>Punch Out Time</th>
                                <th>Punch Out Location/IP Address</th>
                                <th>Sign Out Type</th>
                                <th>Work Hours(HH:MM) </th>
                                <th>UnderTime </th>
                                <th>Late </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let attendance of attendancelist|paginate: { itemsPerPage: count1, currentPage: p}">
                                <td>
                                    {{attendance.signinDate|date}}
                                </td>

                                <td>
                                    {{attendance.signInType}}</td>

                                <td>
                                    {{attendance.expectedIn}}
                                </td>
                                <td>
                                    {{attendance.stime}}</td>
                                <td>
                                    <p *ngIf="attendance.signInType=='Web Application'">{{attendance.punchinip}}</p>
                                    <p *ngIf="attendance.signInType!='Web Application'">{{attendance.signinLocation}}
                                    </p>
                                </td>
                                <td>
                                    {{attendance.expectedOut}}
                                </td>
                                <td>
                                    {{attendance.etime}}</td>
                                <td>
                                    <p *ngIf="attendance.signOutTypeID==2">{{attendance.punchoutip}}</p>
                                    <p *ngIf="attendance.signOutTypeID==1">{{attendance.signoutLocation}}
                                    </p>
                                </td>
                                <td>
                                    <p *ngIf="attendance.signOutTypeID==2">Web Application</p>
                                    <p *ngIf="attendance.signOutTypeID==1">Mobile</p>
                                    <!-- <p *ngIf="attendance.signOutTypeID==0">Web Application</p> -->
                                </td>
                                <td>
                                    {{attendance.hr1}}</td>
                                <td>
                                    {{attendance.undertime}}</td>
                                <td>
                                    {{attendance.latepunchin}}</td>
                            </tr>
                        </tbody>
                    </table><br>
                </div>
                <br>
              
                <ng-template #noResults>
                    <p class="NoResultShow"> No results found</p>
                </ng-template>

                <div class="text-left" *ngIf="attendancelist?.length>count1">
                    <pagination-controls (pageChange)="p = $event"  previousLabel=""
                    nextLabel="" class="poppinns"></pagination-controls> 
                </div>
<!-- 
                <div class="text-left" *ngIf="attendancelist.length">
                    <br>
                    <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                </div> -->
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />