<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Look and Feel</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
                <a *ngIf="Configurationlist?.length==0" routerLink="/HR/Addlookandfeel"><button class="button">Add
                        New</button>
                </a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Company Logo</th>
                                <th>Header Color</th>
                                <th>Button Color</th>
                                <th>Font Family</th>
                                <th class="actionbtn">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let configure of Configurationlist|filter:term">
                                <td><img src="{{configure.companyLogo}}" height="40px" width="40px"></td>
                                <td>{{configure.headerColor}}</td>
                                <td>{{configure.buttonColor}}</td>
                                <td>{{configure.fontName}}</td>
                                <td> <button class="button"
                                        [routerLink]="['/HR/Addlookandfeel',configure.id]">Edit</button>
                                    <button class="button" (click)="Default(configure.id)">Default</button>
                                    <button class="button"
                                        (click)="DeleteCompanyConfiguration(configure.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="Allocate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1></h1>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centeralign">
                        <div class="col-lg-4">
                        </div>
                        <img src="{{file}}" alt="medical.img" class="imgalign">
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>