ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #494949;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.requestbtn {
  background-color: #3247d5;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  width: 70%;
  margin-left: 50px;
}

.leavelist {
  padding: 0px 20px;
}

.applyleavetxt {
  padding: 0px 10px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.container-fluid {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
}

.show3res {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5;
  color: #777;
  text-transform: uppercase;
  padding: 10px 0 5px;
}

.leavebalance {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.leavereq {
  padding-left: 10px;
}

.inputfield {
  background-color: rgb(238, 234, 234);
  ;
}

.table {
  border-color: black;
}


.BackEnt {
  margin-top: -10px;
  font-size: x-large;
  font-weight: 900;
  text-decoration: none;
}

.BACK {
  margin-top: 10px;
  text-decoration: none;
}

.submitbtn {
  background-color: #2F87CC;
  color: white;
}

.txt {
  color: red;
}

u {
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

.NoResultShow {
  color: #0c275a;
  font-size: 19px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  margin-left: 38px;
}

.butn-sadow {
  left: 3px;
}