
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading headingcolor">Validation password</p>
            </div>
        </div>
        <div class="card">
            <div class="row leavereq">
                <div class="col-md-3">
                    <label> Menu Name<span class="span">*</span></label>
                </div>
                <div class="col-md-3">
                    <label>Password<span class="span">*</span></label>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-3">
                    <!-- <input type="text" class="form-control" placeholder="Menu Name" placeholder="Name"  > -->
                    <select class="form-control" id="MenuName" name="MenuName" [(ngModel)]="MenuName" >
                        <option   value="0" disabled selected> Select Validation Pasword</option>
                        <option value="Validated Basic Pay Detail">Validated Basic Pay Detail</option>
                        <option value="Validated Retro Basic Pay">Validated Retro Basic Pay</option>
                        <option value="Validated Bonus Details">Validated Bonus Details</option>
                        <option value="Validated Holiday Encashment">Validated Holiday Encashment</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Password" placeholder="Password" id="password" name="Password" [(ngModel)]="Password"  >
                </div>  
            </div> 
            <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button   class="form-control Edit"  *ngIf="id!=undefined" (click)="update()">Update</button>
                    <button   class="form-control Edit"  *ngIf="id==undefined" (click)="save()">Save</button>

                    <!-- <button   class="form-control Edit"  *ngIf="id!=undefined"  (click)="update()">Update</button>
                    <button   class="form-control Edit" *ngIf="id==undefined"  (click)="save()">Save</button> -->
                </div>
                <div class="col-lg-1">
                    <button class="form-control Edit" routerLink='/PayrollAdmin/ValidationpasswordDashboard'>Cancel</button>
                </div>
            </div> 
        </div>
    </div>
</div>
