
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading headingcolor">Validation password</p>
            </div>
        </div>
        <div class="card">
            <div class="row leavereq">
                <div class="col-md-3">
                    <label> Menu Name<span class="span">*</span></label>
                </div>
                <div class="col-md-3">
                    <label>Password<span class="span">*</span></label>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-3">
                    <!-- <input type="text" class="form-control" placeholder="Menu Name" placeholder="Name"  > -->
                    <select class="form-control" id="MenuName" name="MenuName" [(ngModel)]="MenuName" >
                        <option   value="0" disabled selected> Select Validation Password</option>
                        <option *ngIf="companyid == 1001 || companyid == 1002 || companyid == 1006 || companyid == 10013 || companyid == 1007" value="Validated Basic Pay Details">Validated Basic Pay Details</option>
                        <option *ngIf="companyid == 1001 || companyid == 1002 || companyid == 1006 || companyid == 10013 || companyid == 1007" value="Validated Retro Basic Pay">Validated Retro Basic Pay</option>
                        <option *ngIf="companyid == 1001 || companyid == 1002|| companyid == 1006  || companyid == 10013" value="Validated Bonus Details">Validated Bonus Details</option>
                        <option *ngIf="companyid == 1002 " value="Validated Holiday Encashment">Validated Holiday Encashment</option>
                        <option *ngIf="companyid==1001 || companyid==1006 || companyid == 10013" value="Validated Payroll Summary">Validated Payroll Summary</option>
                        <option *ngIf="companyid == 1006 "  value="Validated COLA Details">Validated COLA Details</option>
                        <option *ngIf="companyid == 1006 " value="Validated Clothing Details">Validated Clothing Details</option>
                        <option *ngIf="companyid == 1006 " value="Retro Validated Clothing">Retro Validated Clothing</option>
                        <option *ngIf="companyid == 1001 || companyid == 1006 " value="LWOP Validated Details">LWOP Validated Details</option>
                        <option *ngIf="companyid == 1001 || companyid == 1002|| companyid == 1006 " value="Validated Loan Proceeds">Validated Loan Proceeds</option>
                        <option *ngIf="companyid == 1001 " value="Validated FMA Allowances">Validated FMA Allowances</option>
                        <option *ngIf="companyid == 1001 " value="Validated Allowance Details">Validated Allowance Details</option>
                        <option *ngIf="companyid == 1001 " value="Upload FMA Allowance">Upload FMA Allowance</option>
                        <option *ngIf="companyid == 1001 " value="Upload Allowance">Upload Allowance</option>
                        <option *ngIf="companyid == 1001 " value="Upload Payperiod Allowance">Upload Payperiod Allowance</option>
                        <!-- <option *ngIf="companyid == 1001 || companyid == 1002 || companyid == 1006 " value="Upload Basic Pay Values">Upload Basic Pay Values</option> -->
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Password" placeholder="Password" id="password" name="Password" [(ngModel)]="Password"  >
                </div>  
            </div> 
            <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button   class="form-control Edit"  *ngIf="id!=undefined" (click)="update()">Update</button>
                    <button   class="form-control Edit"  *ngIf="id==undefined" (click)="save()">Save</button>

                    <!-- <button   class="form-control Edit"  *ngIf="id!=undefined"  (click)="update()">Update</button>
                    <button   class="form-control Edit" *ngIf="id==undefined"  (click)="save()">Save</button> -->
                </div>
                <div class="col-lg-1">
                    <button class="form-control Edit" routerLink='/PayrollAdmin/ValidationpasswordDashboard'>Cancel</button>
                </div>
            </div> 
        </div>
    </div>
</div>
