<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row dialogboxContect1">


                <span class="Heading" routerLink="/Employee/AttendanceCorrection">Attendance
                        Correction
                        <hr class="line-border listForm">
                    </span>&nbsp;&nbsp;
                <span *ngIf="roleid==2 ||  roleid==9"><span class="Heading"
                        routerLink="/Manager/MyTeamAttendanceCorrection">My
                        Team
                        Attendance Correction
                </span></span>
                <span *ngIf="roleid==10||roleid==11"><a class="Heading"
                        routerLink="/Manager/MyTeamAttendanceCorrection">Company
                        Attendance Correction</a></span>


            </div>
            <div class="card filtercard">
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/Images/filter.svg" class="filter-img">
                        <p class="filter">Filter By:</p>
                    </div>
                    <div class="col-md-2">
                        <!--   From Date -->
                        <input class="form-control" id="startdate" name="startdate" [(ngModel)]="startdate" type="date"
                            placeholder="Duration">
                    </div>
                    <div class="col-md-2">
                        <!--   To Date -->
                        <input class="form-control" id="enddate" name="enddate" [(ngModel)]="enddate" type="date"
                            (change)="getdate()" placeholder="Duration">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control search-icon " type="search" placeholder="Search for Start Time" id="term"
                            name="term" [(ngModel)]="term">
                    </div>
                    &nbsp;
                    <div class="col-md-2">
                        <button class="Addbutton" (click)="AddCorrection()"><img src="assets/Images/plus.svg"
                                class="plus-icon">Add attendance correction</button>
                    </div>

                </div>
            </div>
            <br />
            <!--  <div class="row" *ngIf="roleid!=1">  //UI cmment
                <div class="col-md-5">
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <button class="Addbutton" (click)="AddCorrection()"><img src="assets/Images/plus.svg"
                            class="plus-icon">Add attendance correction</button>
                </div>
            </div> -->
            <br />
            <div class="row">
                <br />
                <div class="col-lg-8 dashbutton bttn">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                                (click)="viewMode ='tab1'">
                                Pending</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                                (click)="viewMode ='tab2'">Approved</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                                (click)="viewMode ='tab3'">Rejected</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="tab-slider--container" [ngSwitch]="viewMode">
                    <div *ngSwitchCase="'tab1'" id="tab1">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{(correctionlist1|filter: term)?.length}}</span>
                                    RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Submitted Date</th>
                                        <th>Date</th>
                                        <!-- <th>End Date</th> -->
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <!-- <th>Attachment</th> -->
                                        <th>Comments</th>
                                        <th *ngIf="login!=1" class="align">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of correctionlist1|filter: term|paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td>{{item.employeid}}</td>
                                        <td>{{item.staffname}}</td>
                                        <td>{{item.modifiedDate|date}}</td>
                                        <td>{{item.sDate|date}}</td>
                                        <!-- <td>{{item.attendanceDate|date}}</td> -->
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <!-- <td>
                                            <p *ngIf="item.excelURL==null">No Attachment</p>
                                            <a href="{{item.excelURL}}" target="_blank"> <img
                                                    *ngIf="item.excelURL!=null" src="assets/Images/attachment (1).png"
                                                    class="attachmentimg"></a>
                                        </td> -->
                                        <td>
                                            <p *ngIf="item.comment==null">No Comments</p>
                                            <p *ngIf="item.comment!=null">{{item.comment}}</p>

                                        </td>
                                        <td *ngIf="login!=1" class="align-btns-editnddelete"> <button class="edit-btn" 
                                            (click)="edit(item.id)"
                                                >Edit</button>&nbsp;

                                                <button class="edit-btn" 
                                                (click)="DeleteAttendanceCorrection(item.id)"
                                                    >Delete</button>

                                            <!-- <img src="assets/Images/delete.svg" class="delete-icon"
                                                (click)="DeleteAttendanceCorrection(item.id)"> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-left" *ngIf="correctionlist1?.length>count1">
                                <pagination-controls (pageChange)="p = $event"  previousLabel=""
                                nextLabel="" class="poppinns"></pagination-controls> 
                            </div>
                            <!-- <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab2'" id="tab2">
                        <div class="row">
                            <div class="col-md-10">

                                <p class="show3res">SHOWING <span>{{(correctionlist2|filter: term)?.length}}</span>
                                    RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Submitted Date</th>
                                        <th>Approved Date</th>
                                        <th>Date</th>
                                        <!-- <th>End Date</th> -->
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <!-- <th>Attachment</th> -->
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of correctionlist2|filter: term|paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td>{{item.employeid}}</td>
                                        <td>{{item.staffname}}</td>
                                        <td>{{item.modifiedDate|date}}</td>
                                        <td>{{item.approvedDate|date}}</td>
                                        <td>{{item.sDate|date}}</td>
                                        <!-- <td>{{item.attendanceDate|date}}</td> -->
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <!-- <td>
                                            <p *ngIf="item.excelURL==null">No Attachment</p>
                                            <a href="{{item.excelURL}}" target="_blank"> <img
                                                    *ngIf="item.excelURL!=null" src="assets/Images/attachment (1).png"
                                                    class="attachmentimg"></a>
                                        </td> -->
                                        <td>
                                            <p *ngIf="item.comment==null">No Comments</p>
                                            <p *ngIf="item.comment!=null">{{item.comment}}</p>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="text-left" *ngIf="correctionlist2?.length>count1">
                                <pagination-controls (pageChange)="p = $event"  previousLabel=""
                                nextLabel="" class="poppinns"></pagination-controls> 
                            </div>
                            <!-- <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab3'" id="tab3">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{(correctionlist3|filter: term)?.length}}</span>
                                    RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Submitted Date</th>
                                        <th>Date</th>
                                        <th>Rejected Date</th>

                                        <!-- <th>End Date</th> -->
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <!-- <th>Attachment</th> -->
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of correctionlist3|filter: term|paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td>{{item.employeid}}</td>
                                        <td>{{item.staffname}}</td>
                                        <td>{{item.modifiedDate|date}}</td>
                                        <td>{{item.sDate|date}}</td>
                                        <td>{{item.approvedDate|date}}</td>
                                        <!-- <td>{{item.attendanceDate|date}}</td> -->
                                        <td>{{item.startTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <!-- <td>
                                        <p *ngIf="item.excelURL==null">No Attachment</p>
                                        <a href="{{item.excelURL}}" target="_blank"> <img *ngIf="item.excelURL!=null"
                                                src="assets/Images/attachment (1).png" class="attachmentimg"></a>
                                    </td> -->
                                        <td>
                                            <p *ngIf="item.comment==null">No Comments</p>
                                            <p *ngIf="item.comment!=null">{{item.comment}}</p>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="text-left" *ngIf="correctionlist3?.length>count1">
                                <pagination-controls (pageChange)="p = $event"  previousLabel=""
                                nextLabel="" class="poppinns"></pagination-controls> 
                            </div>
                            <!-- <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br />
    <br />