<!-- <app-loader *ngIf="loader"></app-loader> -->
<div class="container-fluid">

    <div calss="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="Heading1">IN ACTIVE STAFF DETAILS</p>
                        <!-- <select class="inputclass" id="companyid" name="companyid" [(ngModel)]="companyid"
                            (change)="getCompanyDetails()">
                            <option value="1">Select ALL</option>
                            <option value="1001">Asticom Main</option>
                            <option value="1002">Asticom ABSI (ABSI)</option>
                            <option value="1005">Asticom FINSI</option>
                            <option value="1003">Asticom BRAD</option>
                            <option value="1004">Asticom HCX</option>
                            <option value="1006">Asticom HQ</option>
                        </select> &nbsp;&nbsp;&nbsp; -->
                        <select class="inputclass" id="month" name="month" [(ngModel)]="month" (change)="getmonth()">
                            <option value="0">Select Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>

                    </div>
                    <div class="col-lg-3">
                        <br>
                        <p class="Heading1">Count: {{stafflist.length}}</p>
                    </div>
                    <div class="col-lg-3">
                        <br>
                        <button class="butn-sadow" (click)="exportexcel()">Download Excel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <!-- <div class="card">

              <div class="row leavereq">
                    <div class="col-md-3">
                        <p>Start Date:</p>
                    </div>
                    <div class="col-md-3">
                        <p>End Date:</p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input type="date" id="startdate" name="startdate" [(ngModel)]="startdate" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="date" id="enddate" name="enddate" [(ngModel)]="enddate"
                            (change)="getenddate($event)" class="form-control">
                    </div>
                </div> 
            </div>-->

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table" id="lvs" style="margin-left: 15px;">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Last Name</th>
                        <!-- <th>Parent Subsidiary</th>
                            <th>Assigned Subsidiary</th> -->
                        <th>Department</th>
                        <!-- <th>Level</th> -->
                        <th>Gender</th>
                        <th>Position</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Date Of Joining</th>
                        <th>Date Of Inactive</th>
                        <th>Manager</th>

                    </tr>
                </thead>
                <tbody>
                    <tr id="lvs" *ngFor="let item of stafflist">
                        <td>{{item.employeID}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.last_Name}}</td>
                        <!-- <td>{{item.parentCompany}}</td>
                        <td>{{item.assignedCompany}}</td> -->
                        <td>{{item.department_name}}</td>
                        <!-- <td>{{item.level}}</td> -->
                        <td>{{item.gender}}</td>
                        <td>{{item.role}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.emailID}}</td>
                        <td>{{item.joiningDate|date}}</td>
                        <td>{{item.modifiedDate|date}}</td>
                        <td>
                            <p *ngIf="item.manager==null">
                                NA
                            </p>
                            <p *ngIf="item.manager!=null">
                                {{item.manager}}
                            </p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>