<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Country Master</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <img src="assets/Images/filter.svg" class="filter-img">
                <p class="filter">Filter By</p>
            </div>
            <div class="col-lg-5">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control">
            </div>
            <div class="col-lg-3" class="search">
            </div>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span> {{(countryList | filter:term)?.length}}
                </span>RESULTS</p>
        </div>
        <div class="col-md-2" *ngIf="login !=1">
            <button class="Addbutton" routerLink="/Admin/CountryMasterForm"><img src="assets/Images/plus.svg"
                    class="plus-icon">Add Country</button>
        </div>
    </div>
    <br>
    <div class="row" class="alignForm">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table" *ngIf="(countryList | filter: term)?.length > 0; else noResults">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>Description</th>
                            <th *ngIf="login!=1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let holiday of countryList|filter:term">
                            <td>{{holiday.short}}</td>
                            <td>{{holiday.description}}</td>
                            <td *ngIf="login!=1"> <button class="edit-btn"
                                    [routerLink]="['/Admin/CountryMasterForm',holiday.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <!--                   <button class="uploadbutton" (click)="DeleteCountryType(holiday.id)">Delete</button> -->
                                <img class="delete" src="/assets/Images/delete.svg" class="delete"
                                    (click)="DeleteCountryType(holiday.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noResults>
                    <p class="NoResultShow"> No results found </p>
                </ng-template>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />