.search {
  text-align: center;
}

.alignForm {
  margin-left: -99px;
}

.uploadbutton {
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  /* margin-left: -19px; */
  border-radius: 5px;
  border: none;
  height: 28px;
  background-color: #3247d5;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 52px;
}

.butn-sadow {
  left: 6px;
}

.delete {
  width: 6%;
  position: relative;
  top: -3px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .butn-sadow {
    left: 75px;
  }
}