.newrequest {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 40px;
  left: -200px;
  top: -35px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 0.658333px;
  color: #ffffff;
  background: #3247D5;
  box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px solid #3247D5;
  border: 5px solid #3247D5;
  text-transform: uppercase;
}

.Heading {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #3247D5;
  font-size: 20px;
}

p {
  margin-bottom: 0rem !important;
}

.dropfile {
  height: 130px;
  box-sizing: border-box;
  width: 310px;
  left: 190px;
  top: 455px;
  background: #E2DEFF !important;
  border: 1px dashed #3247D5 !important;
  border-radius: 5px !important;
  color: #3247D5 !important;
}

.locater {
  font-size: 20px;
  color: #3247D5;
  margin-left: 15px;
}

.card {
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

th {
  background-color: #e4e5e6;
}

.dropdown-toggle {
  text-align: left;
}

.LocDashboard {
  padding-top: 10px;
  margin: 0px;
  background-color: #e4e5e6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: #494949;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.requestbtn {
  background-color: #4282be;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.leavelist {
  padding: 0px 20px;
}

/* .btnhover:hover{
      background-color: #2F87CC;
      color: white;
  } */
.applyleavetxt {

  font-family: 'Poppins';
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.container-fluid {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
}

th {
  background-color: #e4e5e6;
}

td {
  background-color: rgb(247, 242, 242);
  color: #494949;
}

.show3res {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5;
  color: #777;
  text-transform: uppercase;
  padding: 10px 0 5px;
}

.leavebalance {
  padding-top: 10px;

  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.leavereq {
  padding-left: 10px;
}

.inputfield {
  background-color: rgb(238, 234, 234);
  ;
}

.table {
  border-color: black;
}


.BackEnt {
  margin-top: -10px;
  font-size: x-large;
  font-weight: 900;
  text-decoration: none;
}

.BACK {
  margin-top: 10px;
  text-decoration: none;
}

.submitbtn {
  background-color: #2F87CC;
  color: white;
}

.span {
  color: red;
}

/* .butn-sadow {
   left: -100px;
  top: -35px; 
}
 */
.close-btn {
 /*  bottom: -3px;
  left: -80px; */
  position: relative;
}

.attach-files {
  height: 130px;
  box-sizing: border-box;
  /* position: absolute; */
  width: 310px;
  left: 190px;
  top: 455px;
  background: #E2DEFF;
  border: 1px dashed #3247D5;
  border-radius: 5px;
  color: #3247D5;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .close-btn {
    bottom: -3px;
    left: -25px
  }
}