ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.AddExpense {
  background-color: #4282be;
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.EXPD {
  font-size: 14px;
}

.container-fluid {
  font-family: 'Poppins';
  padding: 0px;
  margin: 0px;
}

.table {
  padding: 10px;
}

.filter {
  font-family: 'Poppins';
  margin-top: 5px;
  font-size: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.searchtxt {
  font-family: 'Poppins';
}

.imgwidth {
  width: 30px;
  height: 30px;
}

.policydate {
  width: 100px;
}

.policyimg {
  width: 50px;
  height: 50px;
}