<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <p class="Heading1">Transportation Type Details</p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="card">

        <div class="row leavereq">
            <div class="col-md-2">
                <label>Transportation Type<span class="span">*</span></label>
            </div>
            <div class="col-md-4">
                <label>Transportation Type Description<span class="span">*</span></label>
            </div>

        </div>
        <div class="row leavereq">
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Expense Type Name" placeholder="Name"
                    [(ngModel)]="Name" name="Name" id="Name">
            </div>
            <div class="col-md-4">
                <textarea type="text" class="form-control" placeholder="Expense Description" placeholder="Description"
                    [(ngModel)]="Description" name="Description" id="Description"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-1">
                <button class="clo-btn" (click)="cancel()">Cancel</button>
            </div>

            <div class="col-lg-1">
                <button type="button" class="Addbutton" *ngIf="ID!=undefined"
                    (click)="UpdateTransportRequestType()">Update</button>
                <button class="Addbutton" *ngIf="ID==undefined" (click)="InsertTransportRequestType()">Submit</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>