<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Job Level Type</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="card">

        <div class="row">
            <div class="col-lg-1">
                <img src="assets/Images/filter.svg" class="filter-img">
                <p class="filter">Filter By</p>
            </div>

            <div class="col-lg-5">
                <input class="form-control" placeholder="search" [(ngModel)]="term">
            </div>
        </div>
    </div> <br>

    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span>{{leveltypeList?.length}} </span>RESULTS</p>
        </div>
        <div class="col-md-2" *ngIf="login !=1">
            <button class="Addbutton" routerLink="/HR/LevelTypeForm"><img src="assets/Images/plus.svg"
                    class="plus-icon">Add Level</button>
        </div>
    </div>
    <br>
    <div class="row row1">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Level Type</th>
                            <th>Description</th>

                            <th *ngIf="login!=1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let level of leveltypeList|filter:term|paginate: { itemsPerPage: count1, currentPage: p}">
                            <td>{{level.short}}</td>
                            <td>{{level.description}}</td>

                            <td *ngIf="login!=1">
                                <button class="edit-btn"
                                    [routerLink]="['/HR/LevelTypeForm',level.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <!--  <button class="upload" (click)="delete(level.id)">Delete</button> --> <img
                                    class="delete" src="assets/Images/delete.svg" (click)="delete(level.id)"
                                    class="delete">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-left">
                    <br>
                    <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                </div>
            </div>

        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />