<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="row dialogboxContect1">
                <h3 class="Heading">Apply Loan</h3>
                <img src="assets/Images/revamp/cancle-icon.png" (click)="Cancel()" class="closeicon">

            </div><br>
            <div class="">
                <div class="row leavereq">
                    <div class="col-md-3">
                        <p>Loan Type<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2" *ngIf="LoanType=='Ayala Coop Contribution'">
                        <p>Contribution Amount<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2" *ngIf="LoanType!='Ayala Coop Contribution'">
                        <p>Loan Amount<span class="span">*</span></p>
                    </div>
                    <div class="col-md-2" *ngIf="LoanType!='Ayala Coop Contribution'">
                        <p>Tenure<span class="span">*</span></p>
                    </div>
                    <div class="col-md-3">
                        <p class="attachmentalign">Comments<span class="span"></span></p>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <select class="form-control inputfield" id="LoanType" (change)="loantype()" name="LoanType"
                            [(ngModel)]="LoanType">
                            <option value="Select">Select Loan Type </option>
                            <option value="{{loans.type}}" *ngFor="let loans of loanslist">
                                {{loans.type}} </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input *ngIf="LoanType=='Ayala Coop'" [disabled]="true" type="number" id="LoanAmount"
                            name="LoanAmount" [(ngModel)]="LoanAmount" class="form-control" placeholder="Loan Amount">
                        <input *ngIf="LoanType!='Ayala Coop' && LoanType!='Ayala Coop Contribution'" type="number"
                            id="LoanAmount" name="LoanAmount" [(ngModel)]="LoanAmount" class="form-control"
                            placeholder="Loan Amount">
                        <input *ngIf="LoanType=='Ayala Coop Contribution'" type="number" id="LoanAmount"
                            name="LoanAmount" [(ngModel)]="LoanAmount" class="form-control"
                            placeholder="Contribution Amount">
                    </div>
                    <div class="col-md-2" *ngIf="LoanType!='Ayala Coop Contribution'">
                        <input type="number" id="Tenure" name="Tenure" [(ngModel)]="Tenure" class="form-control"
                            placeholder="Tenure">
                    </div>
                    <div class="col-md-3">
                        <textarea rows="4" id="Comments" name="Comments" class="form-control" [(ngModel)]="Comments"
                            placeholder="Comments"></textarea>
                    </div>
                </div>

                <div class="row leavereq">
                    <div class="col-md-3">
                        <p class="attachmentalign">Attachment<span class="span"></span></p>
                    </div>
                </div>
                <div class="row leavereq">

                    <div class="col-md-3">
                        <ngx-dropzone (change)="onSelect21($event)" class="dropFile"
                            accept="image/jpeg,image/jpg,image/png,application/pdf">
                            <div class="dropfileDiv"> <img src="assets/Images/MicrosoftTeams-image.png"
                                    *ngIf="attachments21.length==0" class="img-set">
                                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                            </div>
                            <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                (removed)="onRemove21(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row dialogboxContect">

                    <button class="clo-btn" (click)="Cancel()">Cancel</button>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <button class="Addbutton" (click)="Save()">Submit</button>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>