<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row content">
                <div class="col-md-12">
                    <ul>
                        <a class="active Heading underlineclr" routerLink="/PayrollProcessor/MyTeamOverTimeDetails">
                            Bonus Validation Details</a>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card ">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="assets/Images/filter.svg" class="filter-img">
                        <p class="filter">Filter By</p>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="" id="" placeholder="search bonus validation....">
                    </div>
                    <!--<div class="col-md-2">
                      <p>Pay Date
                            <input class="form-control input-date  " type="date" onkeydown="return false"
                                placeholder="Duration" id="sdate" name="sdate" [(ngModel)]="sdate"
                                > 
                    </div>-->

                    <!-- <div class="col-md-4">
                        <p><br>
                            <input class="form-control" id="term" name="term" [(ngModel)]="term" type="search"
                                (ngModelChange)="FilterAttendence()" placeholder="Search for staff.. ">
                    </div> -->
                    <!-- <div class="col-md-4">
                        <input type="text" class="form-control" name="" id="" placeholder="search bonus validation....">
                    </div> -->
                    <div class="col-md-3">
                        <br />

                        <button class="form-control AddExpense3" routerLink="/PayrollProcessor/BonusValidation"
                            style="width: 80%;">Run New Validation
                        </button>
                    </div>
                    <div class="col-md-3">
                        <br />

                        <button class="form-control AddExpense3" routerLink="/PayrollProcessor/BonusValidation"
                            style="width: 50%;">Export to Excel
                        </button>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <!-- <Button class="AddButton" (click)="ExporttoExcel()">Export to Excel</Button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-2">
                            <div style="  width: 63%;border: 8px solid green;margin: 10px;">

                            </div>
                            <p class="text">13th Month Bonus</p>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div class="col-lg-2">
                            <div style="  width: 63%;border: 8px solid #ADD8E6;margin: 10px;">

                            </div>
                            <p class="text">14th Month Bonus</p>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-lg-2">
                            <div style="  width: 63%;border: 8px solid #FFFF8F;margin: 10px;">

                            </div>
                            <p class="text">Taxable Bonus</p>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-lg-2">
                            <div style="  width: 63%;border: 8px solid #E6E6FA;margin: 10px;">

                            </div>
                            <p class="text"> Non Taxable Bonus</p>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    </div>
                </div>

                <!-- <div class="col-lg-2">
                    <label class="container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>                    
                    <h6 class="text">13th Month Bonus</h6>
                </div> -->
                <!-- <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{timedetails.length}}</span> RESULTS </p>
                </div> -->
            </div>
            <br>
            <div class="col-md-12 listscroll">
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr class="thwidth">
                                <th>Employee ID</th>
                                <th>Employee Name</th>

                                <th class="thwidth">Pay Date</th>

                                <th class="thwidth">Uploaded 13th Month Bonus</th>
                                <th class="thwidth">Validated 13th Month Bonus</th>
                                <th class="thwidth">Descrepency 13th Month Bonus</th>
                                <th class="thwidth">Uploaded 14th Month Bonus</th>
                                <th class="thwidth">Validated 14th Month Bonus</th>
                                <th class="thwidth">Descrepency 14th Month Bonus</th>
                                <th class="thwidth">Performance Bonus</th>
                                <th class="thwidth">Uploaded Taxable Bonus</th>
                                <th class="thwidth">Validated Taxable Bonus</th>
                                <th class="thwidth">Descrepency Taxable Bonus</th>
                                <th class="thwidth">Uploaded Non Taxable Bonus</th>
                                <th class="thwidth">Validated Non Taxable Bonus</th>
                                <th class="thwidth">Descrepency Non Taxable Bonus</th>
                            </tr>
                            <tr
                                *ngFor="let time of timedetails| filter:term |paginate: { itemsPerPage: count1, currentPage: p}">
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.employeID}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.name}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.enddate|date}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.thirteenthMonthBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.validatedThirteenthMonthBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.thirteenthMonthdescrepencyValue}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.forteenthMonthBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.validatedForteenthMonthBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.fourteenthMonthdescrepencyValue}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.performanceBonus}}</td>

                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.taxableBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.validatedTaxableBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.taxableBonusdescrepencyValue}}</td>


                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.nonTaxableBonus}}</td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">{{time.validatedNonTaxableBonus}}
                                </td>
                                <td [ngClass]="{'bgred':time.bcolor=='1' }" [ngClass]="{'bgblue':time.bfourcolor=='1' }"
                                    [ngClass]="{'bgyellow':time.bTaxcolor=='1' }"
                                    [ngClass]="{'bgviolet':time.bNonTaxcolor=='1' }">
                                    {{time.nonTaxableBonusdescrepencyValue}}</td>



                            </tr>
                        </thead>
                    </table>

                    <!-- <span *ngIf="preapprovaldetails1.length==0"><b>No Results Found</b></span> -->
                </div>
            </div>

            <!-- <div *ngSwitchCase="'tab333'" id="tab333">
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="show3res">SHOWING <span>{{timedetails3.length}}</span> RESULTS
                                    </p>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" value="0"
                                    (click)="preapprove()">PreApprovals</button>
                                <button type="button" class="btn btn-secondary" value="0" (click)="applyot()"> OT
                                    Requests</button>

                            </div>
                            <br />
                            <br />
                            <div class="col-md-12">
                                <div class="container-fluid">
                                    <table class="table" *ngIf="applyot1==1">
                                        <thead>
                                            <tr class="thwidth">
                                                <th>Employee Name</th>
                                                <th class="thwidth">Date</th>
                                                <th class="thwidth">Start Time</th>
                                                <th class="thwidth">End Time</th>
                                                <th class="thwidth">OT Details</th>
                                                <th class="thwidth">Attachment</th>
                                                <th class="thwidth">Comments</th>
                                                <th class="thwidth">Status</th>
                                            </tr>
                                            <tr
                                                *ngFor="let time of timedetails3|paginate: { itemsPerPage: count1, currentPage: p}">
                                                <td>{{time.staffname}}</td>
                                                <td>{{time.date|date}}</td>
                                                <td>{{time.startTime|date:'HH:mm'}}</td>
                                                <td>{{time.endTime|date:'HH:mm'}}</td>
                                              
                                                <td>
                                                    <button class="edit-btn" data-toggle="modal"
                                                        (click)="GetOTDetails(time)"
                                                        data-target="#CheckListStatusform">Details
                                                    </button>
                                                </td>
                                                <td><a href="{{time.attachment}}" target="blank"> <img
                                                            *ngIf="time.attachment!=null"
                                                            src="assets/Images/attachment (1).png"
                                                            class="attachmentimg"></a> </td>
                                                <td>{{time.comments}}</td>
                                                <td>{{time.status}}</td>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table" *ngIf="preapprove1==1">
                                        <thead>
                                            <tr class="thwidth">
                                                <th>Employee Name</th>
                                                <th class="thwidth">Date</th>
                                                <th class="thwidth">Start Time</th>
                                                <th class="thwidth">End Time</th>
                                                <th class="thwidth"> OT Details</th>
                                                <th class="thwidth">Attachment</th>
                                                <th class="thwidth">Comments</th>
                                                <th class="thwidth">Status</th>
                                            </tr>
                                            <tr
                                                *ngFor="let time of preapprovaldetails3|paginate: { itemsPerPage: count1, currentPage: p}">
                                                <td>{{time.staffname}}</td>
                                                <td>{{time.date|date}}</td>
                                                <td>{{time.startTime|date:'HH:mm'}}</td>
                                                <td>{{time.endTime|date:'HH:mm'}}</td>
                                                <td>
                                                    <button class="edit-btn" data-toggle="modal"
                                                        (click)="GetOTDetails1(time)"
                                                        data-target="#CheckListStatusform">Details
                                                    </button>
                                                </td>
                                                <td><a href="{{time.attachment}}" target="blank"> <img
                                                            *ngIf="time.attachment!=null"
                                                            src="assets/Images/attachment (1).png"
                                                            class="attachmentimg"></a> </td>
                                                <td>{{time.comments}}</td>
                                                <td>{{time.status}}</td>
                                            </tr>
                                        </thead>
                                    </table>
                                   
                                </div>
                  
                                <div class="text-left">
                                    <br>
                                    <pagination-controls (pageChange)="p = $event" class="poppinns">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div> -->



            <div class="col-md-1"></div>


        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>