<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">FMA Validation Details</p>
            </div>
        </div>
        <div class="row FilterClass">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-1">
                            <img src="assets/Images/filter.svg" class="filter-img">
                              <p class="filter">Filter By</p>
                          </div>
                        <div class="col-lg-4 fontstyle">
                            <input class="form-control" type="search" placeholder="Search.." 
                            id="term" [(ngModel)]="term">
                        </div>
                        <div class="col-md-3">
                            <br />
    
                            <button class="form-control AddExpense3" 
                                style="width: 50%;">Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-9"></div>
         
             <div class="col-lg-3">
                
                <button class="form-control AddExpense" data-toggle="modal" data-target="#import" >Upload
                     FMA Validation</button>

             </div>
            <!-- <div class="col-lg-3">
                
                

            </div> -->
            
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table" id="downloadaplication">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Hirirng Date</th>
                                <th>Regularisation Date</th>    
                                <th>Quarter Start Date</th>      
                                <th>Quarter End Date</th>               
                                <th>Pay Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of componentmaster|filter:term |paginate: { itemsPerPage: count2, currentPage: p1}  "  >
                                <td>{{list.name}}</td>
                                <td>{{list.hiringDate|date}}</td>
                                <td>{{list.regularisationDate|date}}</td>
                                <td>{{list.quarterStartDate|date}}</td>
                                <td>{{list.quarterEndDate|date}}</td>
                                <td>{{list.payDate|date}}</td>
                                <td>{{list.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>



<div id="import" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FMA Validation Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <input type="file" accept=".xls,.xlsx" style="display: inline-block;"
                            (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                    </div>
                    <div class="col-lg-4">
                        <a href="https://103.12.1.76//DigiPVTAPI/Templates/Import_FMA_Data.xlsx" style="color:navy"><u>Template.XLSX</u></a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="form-control AddExpense" data-dismiss="modal"
                      (click)="Upload_file()" >Upload FMA Validation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
