<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Leave Configuration</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4" *ngIf="login !=1">
                <button class="Addbutton" (click)="showDialog()"><img src="assets/Images/plus.svg"
                            class="plus-icon" >Add Leave</button> 
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Leave</th>
                                <th>Gender</th>
                                <th>Maritial Status</th>
                                <th>Yearly Limit</th>
                                <th>Is Cashable</th>
                                <th *ngIf="login!=1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let holiday of holidaylist|filter:term">
                                <td>{{holiday.leavetype}}</td>
                                <td>{{holiday.gender1}}</td>
                                <td>{{holiday.maritalStatus1}}</td>
                                <td>{{holiday.yearlyLimit}}</td>
                                <td>{{holiday.isCashable1}}</td>
                                <td *ngIf="login!=1"> <button class="edit-btn"
                                        (click)="edit(holiday.id)">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!--  <button class="upload" (click)="DeleteHolidays(holiday.id)">Delete</button> -->
                                    <!-- <img class="delete" src="assets/Images/delete.svg"
                                        (click)="DeleteHolidays(holiday.id)" class="delete"> -->
                                        <button class="edit-btn" (click)="DeleteHolidays(holiday.id)">Delete</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />