<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><a class="active Heading" routerLink="/Employee/Grievancedash"><u> Grievance Request </u></a></li>
            </ul>
        </div>
        <div class="col-md-8"></div>
    </div><br>
    <div class="card">
        <div class="row">
            <div class="col-md-1">
                Filter By
            </div>
            <div class="col-md-2">
                Start Date
                <input class="form-control" type="date" id="date" name="date" [(ngModel)]="date" placeholder="Duration">
            </div>
            <div class="col-md-2">
                End Date
                <input class="form-control" type="date" id="enddate" name="enddate" [(ngModel)]="enddate"
                    (change)="getenddate()" placeholder="Duration">
            </div>
            <div class="col-md-6">
                <br>
                <input class="form-control" type="search" id="search" name="search" [(ngModel)]="search"
                    placeholder="Search for Date, Type">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span> {{(leavelist | filter:search)?.length}} </span> RESULTS</p>
        </div>
        <div class="col-md-2">
            <button class=" form-control butn-sadow" routerLink="/Employee/Raisegrievanc">New Request</button>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table table-bordered" *ngIf="(leavelist | filter:search)?.length > 0; else noResults">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th *ngIf="roledid==9">Employee Name</th>
                            <th>Type</th>
                            <th>Attachment</th>
                            <th>Notes </th>
                            <th>HR Notes </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr
                            *ngFor="let travel of leavelist|filter:search| paginate: { itemsPerPage: count1, currentPage: p}">
                            <td>{{travel.date|date}}</td>
                            <td *ngIf="roledid==9 && (travel.anonymity==0 || travel.anonymity==null)">{{travel.name}}
                            </td>
                            <td *ngIf="travel.anonymity==1 && roledid==9">ANONYMOUS</td>
                            <td>{{travel.type}}</td>
                            <td>
                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                    (click)="image(travel.id)" data-toggle="modal" data-target="#exampleModal1">
                                <!-- <p *ngIf="travel.attachment==null">No Attachment</p>
                                <a href="{{travel.attachment}}" target="blank"> <img
                                        *ngIf="travel.attachment!=null" src="assets/Images/attachment (1).png"
                                        class="attachmenttxt"></a> -->
                            </td>
                            <td>
                                <p *ngIf="travel.notes==null">NA</p>
                                <p *ngIf="travel.notes!=null">{{travel.notes}}</p>
                            </td>
                            <td>
                                <p *ngIf="travel.hrnotes==null">Pending</p>
                                <p *ngIf="travel.hrnotes!=null">{{travel.hrnotes}}</p>
                            </td>
                            <td>
                                <div class="btnstyl">
                                    <button *ngIf="travel.hrnotes==null" class="can-btn"
                                        (click)="DeleteGrivenceRequests(travel.id)">Cancel</button>
                                    <button *ngIf="travel.hrnotes==null && roledid==9" class="button"
                                        data-toggle="modal" data-target="#Reject"
                                        (click)="GetReply(travel.id)">Reply</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noResults>
                    <p class="NoResultShow"> No results found </p>
                </ng-template>
                <div class="text-left">
                    <br>
                    <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="Reject" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5>Notes</h5>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <div class="container-fluid">
                        <div class="row centertxt">
                            <div class="col-lg-3">
                                Notes
                            </div>
                            <div class="col-lg-7">
                                <textarea rows="3" id="Notes1" name="Notes1" [(ngModel)]="Notes1" class="form-control"
                                    placeholder="Notes"></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row centertxt">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-5">
                                <button class="upload" (click)="UpdateReply()">Reply</button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Related Attachments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4" *ngFor="let details of multipleattachmentlist">
                            <div class="row">
                                <div class="col-lg-10">
                                    <!-- <a href="{{details.attachment}}" target="_blank">
                                    <img style="width:100%;height:auto;" src="{{details.attachment}}">
                                  </a> -->
                                    <img src="{{details.attachment}}" *ngIf="details.filetype=='Image'"
                                        (click)="openAttchments(details.attachment)"
                                        style="width: 171px; height: 117px;">

                                    <img src="assets/Images/pdf.png" *ngIf="details.filetype=='Pdf'"
                                        (click)="openAttchments(details.attachment)"
                                        style="width: 171px; height: 117px;">
                                    <img src="assets/Images/word.png" *ngIf="details.filetype=='Document'"
                                        (click)="openAttchments(details.attachment)"
                                        style="width: 171px; height: 117px;">
                                    <img src="assets/Images/files.png" *ngIf="details.filetype=='Ppt'"
                                        (click)="openAttchments(details.attachment)"
                                        style="width: 171px; height: 117px;">
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />