<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li *ngIf="OTEligibility==1"><a class="active Heading underlineclr"
                                routerLink="/Employee/MyOverTimeDetails">My
                                OverTime Details</a></li>
                        <li *ngIf="roleid==2"><a class="active Heading ulalign"
                                routerLink="/Manager/MyTeamOverTimeDetails">
                                <u>My Team OverTime Details</u>
                            </a></li>
                        <li *ngIf="roleid==2"><a class="active Heading underlineclr"
                                routerLink="/Manager/allstaffovertimedetails">
                                <u>All Staff OverTime Details</u>
                            </a></li>

                        <li *ngIf="roleid==1||roleid==9||roleid==11||roleid==10"><a class="active Heading ulalign"
                                routerLink="/Manager/MyTeamOverTimeDetails">
                                <u>Company OverTime Details</u>
                            </a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card filtercard">
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/Images/filter.svg" class="filter-img">
                        <p class="filter">Filter By:</p>
                    </div>
                    <div class="col-md-2">
                        <p>Start Date
                            <input class="form-control" type="date" placeholder="Duration" id="sdate" name="sdate"
                                [(ngModel)]="sdate">
                    </div>
                    <div class="col-md-2">
                        <p>End Date
                            <input class="form-control" type="date" placeholder="Duration" id="edate" name="edate"
                                [(ngModel)]="edate" (change)="filterdate()">
                    </div>
                    <div class="col-md-4">
                        <p><br>
                            <!-- <input class="form-control" id="term" name="term" [(ngModel)]="term" type="search"
                                (ngModelChange)="FilterAttendence()" placeholder="Search for staff.. "> -->
                            <input class="form-control" id="term" name="term" [(ngModel)]="term" type="search"
                                placeholder="Search for staff.. ">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    <a><button *ngIf="selecallbtn" class="form-control AddExpense" (click)="Approveall()">Approve
                            All</button></a>
                </div>
            </div>

            <!--  <div class="row FilterClass">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2">
                            <button class="Addbutton" type="button" (click)="exportexcel1()">Download Report</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>
            <div class="row">

                <div class="col-lg-10">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode2 == 'tab111'" rel="tab111"
                                (click)="viewMode2 ='tab111'">
                                Pending</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode2 == 'tab222'" rel="tab222"
                                (click)="viewMode2 ='tab222'">Approved</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode2 == 'tab333'" rel="tab333"
                                (click)="viewMode2 ='tab333'">Rejected</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="Addbutton" type="button" (click)="exportexcel1()">Download Report</button>
                </div>
            </div>
            <br>
             <!-- <div class="col-lg-12">
                    <div class="col-lg-3" style="    margin-top: 20px;
                    margin-left: -16px;">
                        <select class="form-control inputfield" id="ManagerID" name="ManagerID" [(ngModel)]="ManagerID"
                            (ngModelChange)="getManagerID()">
                            <option value="0">Select Manager</option>
                            <option value="{{leavetype.id}}" *ngFor="let leavetype of managerlist">
                                {{leavetype.name}} </option>
                        </select>
                    </div>
                    <div class="col-lg-3" style="margin-left: 291px;
                    margin-top: -35px;
                ">
                        <select class="form-control inputfield" id="StaffID1" name="StaffID1" [(ngModel)]="StaffID1"
                            (ngModelChange)="getStaffID()">
                            <option value="0">Select Staff</option>
                            <option value="{{leavetype.id}}" *ngFor="let leavetype of stafflist">
                                {{leavetype.name}} </option>
                        </select>
                    </div>
                </div> -->

            <div class="row">
                <div class="tab-slider--container" [ngSwitch]="viewMode2">
                    <div *ngSwitchCase="'tab111'" id="tab111">

                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{(timedetails1|filter:term)?.length}}</span>
                                    RESULTS
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left:12px">
                            <div class="container-fluid">
                                <table class="table">
                                    <thead>
                                        <tr class="thwidth">
                                            <th>Employee Name</th>
                                            <th class="thwidth">Date</th>
                                            <th class="thwidth">Start Time</th>
                                            <th class="thwidth">End Time</th>
                                            <th class="thwidth">OT Details</th>
                                            <!-- <th class="thwidth">Normal OT Hrs</th>
                                                <th class="thwidth">Night OT Hrs</th>
                                                <th class="thwidth">Restday OT </th>
                                                <th class="thwidth">Holiday OT</th> -->
                                            <th class="thwidth">Attachment</th>
                                            <th class="thwidth">Comments</th>
                                            <th class="thwidth">Status</th>
                                            <th *ngIf="roleid==2 || roleid!=1">Action</th>
                                        </tr>
                                        <tr
                                            *ngFor="let time of timedetails1|filter:term|paginate: { itemsPerPage: count1, currentPage: p}">
                                            <td>{{time.staffname}}</td>
                                            <td>{{time.date|date}}</td>
                                            <td>{{time.startTime|date:'HH:mm'}}</td>
                                            <td>{{time.endTime|date:'HH:mm'}}</td>
                                            <td>
                                                <button class="upload-det" data-toggle="modal"
                                                    (click)="GetOTDetails(time)"
                                                    data-target="#CheckListStatusform">Details
                                                </button>
                                            </td>
                                            <!-- <td>{{time.noofhours}}</td>
                                                <td>{{time.nightOT}}</td>
                                                <td>{{time.restNormalOT}}</td>
                                                <td>{{time.specialNormalOT}}</td> -->
                                            <td>
                                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                                    (click)="image(time.id)" data-toggle="modal"
                                                    data-target="#exampleModal1">

                                                <!-- <a href="{{time.attachment}}" target="blank"> <img
                                                            *ngIf="time.attachment!=null"
                                                            src="assets/Images/attachment (1).png"
                                                            class="attachmentimg"></a> -->
                                            </td>
                                            <td>{{time.comments}}</td>
                                            <td>{{time.status}}</td>
                                            <td *ngIf="roleid==2  || roleid!=1">
                                                <!--   <img *ngIf="time.status=='Manager Pending HR Pending'|| time.status==null || time.status=='Manager Pending'"
                                                    class="img" (click)="ManagerOTApprove(time)"
                                                    src="assets/Images/check-mark.png">
                                                <img *ngIf="time.status=='Manager Pending HR Pending'|| time.status==null || time.status=='Manager Pending'"
                                                    class="imgcancel" (click)="ManagerOTReject(time)"
                                                    data-toggle="modal" data-target="#Reject"
                                                    src="assets/Images/cancel (1).png"> -->


                                                <button
                                                    *ngIf="time.status=='Manager Pending HR Pending'|| time.status==null || time.status=='Manager Pending'"
                                                    (click)="ManagerOTApprove(time)"
                                                    class="apro-btn">Approve</button><br><br>
                                                <button *ngIf="time.status=='Manager Pending HR Pending'||
                                                    time.status==null || time.status=='Manager Pending'"
                                                    (click)=" ManagerOTReject(time)" data-toggle="modal"
                                                    data-target="#Reject" class="edit-btn">Cancel</button>

                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <ng-template #noResults>
                                <div class="card">
                                    <p class="NoResultShow"> No results found !! </p>
                                </div>
                            </ng-template>
                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns">
                                </pagination-controls>
                            </div>
                            <!--  </ng-template> -->
                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab222'" id="tab222">

                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{(timedetails2|filter:term)?.length}}</span>
                                    RESULTS
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left: 12px;">
                            <div class="container-fluid">
                                <table class="table">
                                    <thead>
                                        <tr class="thwidth">
                                            <th>Employee Name</th>
                                            <th class="thwidth">Date</th>
                                            <th class="thwidth">Start Time</th>
                                            <th class="thwidth">End Time</th>
                                            <th class="thwidth">OT Details</th>
                                            <!-- <th class="thwidth">Normal OT Hrs</th>
                                                <th class="thwidth">Night OT Hrs</th>
                                                <th class="thwidth">Restday OT </th>
                                                <th class="thwidth">Holiday OT</th> -->
                                            <th class="thwidth">Attachment</th>
                                            <th class="thwidth">Comments</th>
                                            <th class="thwidth">Status</th>
                                        </tr>
                                        <tr
                                            *ngFor="let time of timedetails2|filter:term|paginate: { itemsPerPage: count1, currentPage: p}">
                                            <td>{{time.staffname}}</td>
                                            <td>{{time.date|date}}</td>
                                            <td>{{time.startTime|date:'HH:mm'}}</td>
                                            <td>{{time.endTime|date:'HH:mm'}}</td>
                                            <td>
                                                <button class="edit-btn" data-toggle="modal"
                                                    (click)="GetOTDetails(time)"
                                                    data-target="#CheckListStatusform">Details
                                                </button>
                                            </td>
                                            <!-- <td>{{time.noofhours}}</td>
                                                <td>{{time.nightOT}}</td>
                                                <td>{{time.restNormalOT}}</td>
                                                <td>{{time.specialNormalOT}}</td> -->
                                            <td>
                                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                                    (click)="image(time.id)" data-toggle="modal"
                                                    data-target="#exampleModal1">
                                                <!-- <a href="{{time.attachment}}" target="blank"> <img
                                                            *ngIf="time.attachment!=null"
                                                            src="assets/Images/attachment (1).png"
                                                            class="attachmentimg"></a> </td> -->
                                            <td>{{time.comments}}</td>
                                            <td>{{time.status}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <ng-template #noResults>
                                <div class="card">
                                    <p class="NoResultShow"> No results found !! </p>
                                </div>
                            </ng-template>
                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab333'" id="tab333">

                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{(timedetails3|filter:term)?.length}}</span>
                                    RESULTS
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left: 12px;">
                            <div class="container-fluid">
                                <table class="table">
                                    <thead>
                                        <tr class="thwidth">
                                            <th>Employee Name</th>
                                            <th class="thwidth">Date</th>
                                            <th class="thwidth">Start Time</th>
                                            <th class="thwidth">End Time</th>
                                            <th class="thwidth">OT Details</th>
                                            <!-- <th class="thwidth">Normal OT Hrs</th>
                                                <th class="thwidth">Night OT Hrs</th>
                                                <th class="thwidth">Restday OT </th>
                                                <th class="thwidth">Holiday OT</th> -->
                                            <th class="thwidth">Attachment</th>
                                            <th class="thwidth">Comments</th>
                                            <th class="thwidth">Status</th>
                                        </tr>
                                        <tr
                                            *ngFor="let time of timedetails3|filter:term|paginate: { itemsPerPage: count1, currentPage: p}">
                                            <td>{{time.staffname}}</td>
                                            <td>{{time.date|date}}</td>
                                            <td>{{time.startTime|date:'HH:mm'}}</td>
                                            <td>{{time.endTime|date:'HH:mm'}}</td>
                                            <td>
                                                <button class="edit-btn" data-toggle="modal"
                                                    (click)="GetOTDetails(time)"
                                                    data-target="#CheckListStatusform">Details
                                                </button>
                                            </td>
                                            <!-- <td>{{time.noofhours}}</td>
                                                <td>{{time.nightOT}}</td>
                                                <td>{{time.restNormalOT}}</td>
                                                <td>{{time.specialNormalOT}}</td> -->
                                            <td>
                                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                                    (click)="image(time.id)" data-toggle="modal"
                                                    data-target="#exampleModal1">
                                                <!-- <a href="{{time.attachment}}" target="blank"> <img
                                                            *ngIf="time.attachment!=null"
                                                            src="assets/Images/attachment (1).png"
                                                            class="attachmentimg"></a> -->
                                            </td>
                                            <td>{{time.comments}}</td>
                                            <td>{{time.status}}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <ng-template #noResults>
                                <div class="card">
                                    <p class="NoResultShow"> No results found !! </p>
                                </div>
                            </ng-template>
                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div id="CheckListStatusform" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OT Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>OT Type</th>
                        <th>No of Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Normal OT </td>
                        <td>{{noofhours}}</td>
                    </tr>
                    <tr>
                        <td>Night OT </td>
                        <td>{{nightOT}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Restday OT </td>
                        <td> {{restNormalOT}}</td>
                    </tr> -->

                    <tr>

                        <td> Excess Night OT </td>
                        <td> {{ExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Excess Normal OT </td>
                        <td> {{ExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Night OT </td>
                        <td> {{RestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Rest Normal OT </td>
                        <td>{{RestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Excess Rest Normal OT </td>
                        <td> {{ExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Excess Night OT </td>
                        <td> {{RestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Night OT </td>
                        <td> {{LegalNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Normal OT </td>
                        <td> {{LegalNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Normal OT </td>
                        <td> {{LegalExccessNormalOt}}</td>
                    </tr>
                    <tr>
                        <td>Legal Excess Night OT </td>
                        <td>{{LegalExccessNightOt}}</td>
                    </tr>
                    <tr>
                        <td> Special Night OT </td>
                        <td> {{SpecialNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Normal OT </td>
                        <td> {{SpecialNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Normal OT </td>
                        <td> {{SpecialExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Night OT </td>
                        <td> {{SpecialExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Night OT </td>
                        <td> {{SpecialRestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Special Rest Normal OT </td>
                        <td>{{SpecialRestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Rest Excess Normal OT </td>
                        <td> {{SpecialRestExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Excess Night OT </td>
                        <td> {{SpecialRestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Night OT </td>
                        <td> {{LegalRestNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Normal OT </td>
                        <td> {{LegalRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Normal OT </td>
                        <td> {{LegalExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Night OT </td>
                        <td> {{LegalExccessRestNightOt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Related Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let details of multipleattachmentlist">
                        <div class="row">
                            <div class="col-lg-10">
                                <!-- <a href="{{details.attachment}}" target="_blank">
                                    <img style="width:100%;height:auto;" src="{{details.attachment}}">
                                  </a> -->

                                <img src="{{details.attachment}}" *ngIf="details.filetype=='Image'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">

                                <img src="assets/Images/pdf.png" *ngIf="details.filetype=='Pdf'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/word.png" *ngIf="details.filetype=='Document'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/files.png" *ngIf="details.filetype=='Ppt'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">


                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>