.butn-sadow {
    position: relative;
    height: 40px;
    margin-left: 175px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .butn-sadow {
        position: relative;
        height: 40px;
        margin-left: 295px;
    }
}