<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-11">
                    <p class="Heading1">Loan Configuration</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2" *ngIf="login !=1">
                    <button class="Addbutton" (click)="showDialog()" ><img src="assets/Images/plus.svg"
                            class="plus-icon" >Add Loan</button>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Loan</th>
                                <th>Applied Amount Capital-Employee </th>
                                <th>Applied Amount Capital-Manager</th>
                                <th>Applied Amount Capital-Other-Position</th>
                                <th *ngIf="login!=1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let holiday of holidaylist|filter:term">
                                <td>{{holiday.type}}</td>
                                <td>{{holiday.employeeApply}}</td>
                                <td>{{holiday.managerApply}}</td>
                                <td>{{holiday.otherRolesApply}}</td>
                                <td *ngIf="login!=1"> <button class="edit-btn"
                                        (click)="edit(holiday.id)">Edit</button> 
                                        <!-- <img
                                        class="delete" src="assets/Images/delete.svg"
                                        (click)="DeleteHolidays(holiday.id)" class="delete"> -->
                                        &nbsp; &nbsp; &nbsp;

                                        <button class="edit-btn" (click)="DeleteHolidays(holiday.id)">Delete</button>
                                    <!--  <button class="upload" (click)="DeleteHolidays(holiday.id)">Delete</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />