<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Transportation Type</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <img src="assets/Images/filter.svg" class="filter-img">
                <p class="filter">Filter By:</p>

            </div>
            <!-- <div class="col-lg-2">
                <input class="form-control" type="date">
            </div> -->
            <div class="col-lg-5 search">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control">
            </div>
            <div class="col-lg-3" style="text-align: center;">
            </div>
        </div>
    </div> <br>

    <div class="row">
        <div class="col-md-10" style="margin-left: -10px;">
            <p class="show3res">SHOWING <span> {{travellist?.length}} </span>RESULTS</p>
        </div>
        <div class="col-md-2" *ngIf="login !=1">
            <button class="Addbutton" routerLink="/HR/TransportationTypeForm"><img src="assets/Images/plus.svg"
                    class="plus-icon">Add Travel</button>
        </div>
    </div>
    <br>
    <div class="row" style="margin-left: -99px;">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Travel Type</th>
                            <th>Description</th>
                            <th *ngIf="login!=1">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let travel of travellist|filter:term">
                            <td style="color:#0C275A ">{{travel.name}}</td>
                            <td style="color:#0C275A ">{{travel.description}}</td>
                            <td *ngIf="login!=1" style="color:#0C275A "> <button class="edit-btn"
                                    [routerLink]="['/HR/TransportationTypeForm',travel.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img class="delete" src="assets/Images/delete.svg"
                                    (click)="DeleteTransportRequestType(travel.id)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />