<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <!-- <li><a class="" routerLink="/Employee/Employeeloandash"> My Loan Details</a></li> -->
                        <span *ngIf="roledid!=11"><span class="Heading" routerLink="/Employee/Employeeloandash">My Loan
                                Details</span></span>&nbsp;&nbsp;
                        <!-- <li *ngIf="roledid==9"><a class="leavelist" routerLink="/HR//MyTeamLoans"><u>My Team Loans
                                Details</u></a>
                    </li> -->
                        <span *ngIf="roledid==9 || roledid==1 || roledid==10 || roledid==11"><a class="Heading"
                                routerLink="/HR//MyTeamLoans">All Company Loan
                                    Details
                                    <hr class="line-border listForm"> </a></span>
                    </ul>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="row">
                    <div class="col-md-1">
                        <p>Filter By</p>
                    </div>
                    <div class="col-md-2">
                        <p>Start Date
                            <input class="form-control" type="date" placeholder="Duration" id="date" name="date"
                                [(ngModel)]="date">
                    </div>
                    <div class="col-md-2">
                        <p>End Date
                            <input class="form-control" type="date" placeholder="Duration" id="edate" name="edate"
                                [(ngModel)]="edate" (change)="getedate()">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <!-- <button class=" form-control submitbtn" routerLink="/applyloan">Add New</button> -->
                </div>
            </div>
            <br>

            <div class="row">
                <br />
                <div class="col-lg-12 dashbutton bttn">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                                (click)="viewMode ='tab1'">
                                New Request</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                                (click)="viewMode ='tab2'">Approved</li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                                (click)="viewMode ='tab3'">Rejected</li>
                        </ul>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="tab-slider--container" [ngSwitch]="viewMode">
                    <div *ngSwitchCase="'tab1'" id="tab1">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{stafflistnewrequest?.length}}</span> RESULTS
                                </p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row tablehead">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4">
                                <h5 style="text-align: center;margin-left: 66px;"></h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table" id="lvs"
                                *ngIf="(stafflistnewrequest | paginate: { itemsPerPage: count1, currentPage: p})?.length > 0; else noResults">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th *ngIf="roledid!=6">Employee Id</th>
                                        <th *ngIf="roledid!=6">Employee Name</th>
                                        <th *ngIf="roledid!=6">Position</th>
                                        <th *ngIf="roledid!=6">Department</th>
                                        <th *ngIf="roledid!=6">Phone Number</th>
                                        <th *ngIf="roledid!=6">Email ID</th>
                                        <th>Tenure</th>
                                        <th>Loan Type</th>
                                        <th>Loan Amount</th>
                                        <th>Attachment</th>
                                        <th>Comments</th>
                                        <th>Status</th>
                                        <th *ngIf="roledid!=6 && roledid!=1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of stafflistnewrequest |paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td>{{item.modifiedDate|date}}</td>
                                        <td *ngIf="roledid!=6">000{{item.id}}</td>
                                        <td *ngIf="roledid!=6">{{item.name}}</td>
                                        <td *ngIf="roledid!=6">{{item.role}}</td>
                                        <td *ngIf="roledid!=6">{{item.department_name}}</td>
                                        <td *ngIf="roledid!=6">{{item.mobile}}</td>
                                        <td *ngIf="roledid!=6">{{item.emailID}}</td>
                                        <td>{{item.period}}</td>
                                        <td>{{item.loanType}}</td>
                                        <td>{{item.loanAmount}}</td>

                                        <td>
                                            <img src="assets/Images/image.png" style="width:20px; height:20px"
                                                (click)="image(item.id)" data-toggle="modal"
                                                data-target="#exampleModal1">
                                            <!-- <p *ngIf="item.attachment==null">No Attachment</p>
                                            <a href="{{item.attachment}}" target="blank"> <img
                                                    *ngIf="item.attachment!=null" src="assets/Images/attachment (1).png"
                                                    style="width:40px;margin-left:10px"></a> -->
                                        </td>

                                        <td>{{item.comments}}</td>
                                        <td>
                                            <p *ngIf="item.status==null">Pending</p>
                                            <p *ngIf="item.status!=null">{{item.status}}</p>
                                        </td>
                                        <td *ngIf="roledid!=6 && roledid!=1">
                                            <button class="submitbtn form-control"
                                                *ngIf="(item.status==null || item.status=='HR Pending') && roledid=='9'"
                                                data-toggle="modal" data-target="#Approveloan"
                                                (click)="Approve(item)">Approve</button>&nbsp;&nbsp;
                                            <button
                                                *ngIf="(item.status==null || item.status=='HR Pending' ) && roledid=='9'"
                                                class="submitbtn form-control" data-toggle="modal"
                                                data-target="#Approveloan"
                                                (click)="Reject(item)">Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #noResults>

                                <p class="NoResultShow"> No results found</p>

                            </ng-template>

                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab2'" id="tab2">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{stafflistapproved?.length}}</span> RESULTS
                                </p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row tablehead">
                            <div class="col-lg-8"></div>
                            <div class="col-lg-4">
                                <h5 style="text-align: center;margin-left: 66px;"></h5>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="table" id="lvs"
                                *ngIf="(stafflistapproved | paginate: { itemsPerPage: count1, currentPage: p})?.length > 0; else noResults">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th *ngIf="roledid!=6">Employee Id</th>
                                        <th *ngIf="roledid!=6">Employee Name</th>
                                        <th *ngIf="roledid!=6">Position</th>
                                        <th *ngIf="roledid!=6">Department</th>
                                        <th *ngIf="roledid!=6">Phone Number</th>
                                        <th *ngIf="roledid!=6">Email ID</th>
                                        <th>Tenure</th>
                                        <th>Loan Type</th>
                                        <th>Loan Amount</th>
                                        <th>Interest Rate</th>
                                        <th>Start Date</th>
                                        <th>Comments</th>
                                        <th>Status</th>
                                        <th>HR Comments</th>

                                        <!-- <th *ngIf="roledid!=6">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let item of stafflistapproved |paginate: { itemsPerPage: count1, currentPage: p}">
                                        <td>{{item.modifiedDate|date}}</td>
                                        <td *ngIf="roledid!=6">000{{item.id}}</td>
                                        <td *ngIf="roledid!=6">{{item.name}}</td>
                                        <td *ngIf="roledid!=6">{{item.role}}</td>
                                        <td *ngIf="roledid!=6">{{item.department_name}}</td>
                                        <td *ngIf="roledid!=6">{{item.mobile}}</td>
                                        <td *ngIf="roledid!=6">{{item.emailID}}</td>
                                        <td>{{item.period}}</td>
                                        <td>{{item.loanType}}</td>
                                        <td>{{item.loanAmount|number:'1.2-2'}}</td>
                                        <td>{{item.interest|number:'1.2-2'}}</td>
                                        <td>{{item.loanstartdate|date}}</td>

                                        <td>{{item.comments}}</td>
                                        <td>
                                            <p *ngIf="item.status==null">Pending</p>
                                            <p *ngIf="item.status!=null">{{item.status}}</p>
                                        </td>
                                        <td>{{item.hrComments}}</td>
                                        <!-- <td *ngIf="roledid!=6">
                                            <button class="edit"
                                                *ngIf="(item.status==null || item.status=='Pending') && roledid=='9'"
                                                data-toggle="modal" data-target="#Approveloan"
                                                (click)="Approve(item)">Approve</button>&nbsp;&nbsp;
                                            <button *ngIf="item.status==null" class="edit"
                                                (click)="CancelLeave(item)">Reject</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #noResults>

                                <p class="NoResultShow"> No results found</p>

                            </ng-template>

                            <div class="text-left">
                                <br>
                                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'tab3'" id="tab3">
                        <div class="row">
                            <div class="col-md-10">
                                <p class="show3res">SHOWING <span>{{stafflistrejected?.length}}</span> RESULTS</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th *ngIf="roledid!=6">Employee Id</th>
                                            <th *ngIf="roledid!=6">Employee Name</th>
                                            <th *ngIf="roledid!=6">Position</th>
                                            <th *ngIf="roledid!=6">Department</th>
                                            <th *ngIf="roledid!=6">Phone Number</th>
                                            <th *ngIf="roledid!=6">Email ID</th>
                                            <th>Tenure</th>
                                            <th>Loan Type</th>
                                            <th>Loan Amount</th>
                                            <th>Comments</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of stafflistrejected|filter:term">
                                            <td>{{item.modifiedDate|date}}</td>

                                            <td *ngIf="roledid!=6">000{{item.id}}</td>
                                            <td *ngIf="roledid!=6">{{item.name}}</td>
                                            <td *ngIf="roledid!=6">{{item.role}}</td>
                                            <td *ngIf="roledid!=6">{{item.department_name}}</td>
                                            <td *ngIf="roledid!=6">{{item.mobile}}</td>
                                            <td *ngIf="roledid!=6">{{item.emailID}}</td>
                                            <td>{{item.period}}</td>
                                            <td>{{item.loanType}}</td>
                                            <td>{{item.loanAmount|number:'1.2-2'}}</td>
                                            <td>{{item.comments}}</td>
                                            <td>
                                                <p *ngIf="item.status!='HR Approved'&& item.status!='HR Rejected'">
                                                    Manager Pending</p>
                                                <p *ngIf="item.status=='HR Approved'">HR
                                                    Approved</p>
                                                <p *ngIf="item.status=='HR Rejected'">HR
                                                    Rejected</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="Approveloan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 *ngIf="showreject==2">Approve Loan</h5>
                        <h5 *ngIf="showreject==1">Reject Loan</h5>

                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            Sanctioned Amount
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="SanctionAmount" name="SanctionAmount" [(ngModel)]="SanctionAmount"
                                class="form-control" placeholder=" Sanctioned Amount">
                        </div>
                    </div>
                    <br />
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            Ammortization Months
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="period" name="period" [(ngModel)]="period" class="form-control"
                                placeholder=" Ammortization Months">
                        </div>
                    </div>
                    <br />
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            Interest Rate
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="Interest" name="Interest" [(ngModel)]="Interest"
                                class="form-control" placeholder=" Interest Rate">
                        </div>
                    </div>
                    <br />
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            EMI Amount
                        </div>
                        <div class="col-lg-4">
                            <input type="number" id="EMIAmount" name="EMIAmount" [(ngModel)]="EMIAmount"
                                class="form-control" placeholder=" EMI Amount">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            Start Date
                        </div>
                        <div class="col-lg-4">
                            <input type="date" id="startdate" name="startdate" [(ngModel)]="startdate"
                                class="form-control" placeholder=" Ammortization Months">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center;" *ngIf="showreject==2">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            End Date
                        </div>
                        <div class="col-lg-4">
                            <input type="date" id="enddate" name="enddate" [(ngModel)]="enddate" class="form-control"
                                placeholder=" Ammortization Months">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-3">
                            Comments
                        </div>
                        <div class="col-lg-6">
                            <textarea id="HRComments" name="HRComments" [(ngModel)]="HRComments" placeholder="Comments"
                                class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-5">
                            <button *ngIf="showreject==2" class="upload" (click)="ApproveEmployeeloan()"
                                data-dismiss="modal">Submit</button>
                            <button *ngIf="showreject==1" class="upload" (click)="RejectEmployeeloan()"
                                data-dismiss="modal">Reject</button>
                        </div>
                    </div>

                    <br />

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Related Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let details of multipleattachmentlist">
                        <div class="row">
                            <div class="col-lg-10">
                                <!-- <a href="{{details.attachment}}" target="_blank">
                                    <img style="width:100%;height:auto;" src="{{details.attachment}}">
                                  </a> -->

                                <img src="{{details.attachment}}" *ngIf="details.filetype=='Image'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">

                                <img src="assets/Images/pdf.png" *ngIf="details.filetype=='Pdf'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/word.png" *ngIf="details.filetype=='Document'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/files.png" *ngIf="details.filetype=='Ppt'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">


                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />