<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Vaccination Details</p>
            </div>
        </div>
        <div class="card">
            <div class="row leavereq">
                <!-- <div class="col-md-3">
                    <label>Staff<span class="span">*</span></label>
                </div> -->
                <div class="col-md-2">
                    <p>Vaccination Name<span class="span">*</span></p>
                </div>
                <div class="col-md-2">
                    <p>First Dose Date<span class="span">*</span></p>
                </div>
                <div class="col-md-2">
                    <label>Second Dose Date<span class="span">*</span></label>
                </div>
                <div class="col-md-2">
                    <p>Booster Name<span class="span">*</span></p>
                </div>
            </div>
            <div class="row leavereq">
                <!-- <p></p> -->
                <!-- <div class="col-md-3">
                    <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
                    </ng-multiselect-dropdown>
                </div> -->
                <div class="col-md-2">
                    <input type="text" class="form-control" id="VaccinationName" name="VaccinationName"
                        [(ngModel)]="VaccinationName" placeholder="Vaccination Name">
                </div>
                <div class="col-md-2">
                    <input type="date" id="FirstDoseDate" name="FirstDoseDate" [(ngModel)]="FirstDoseDate"
                        class="form-control" placeholder="First Dose Date">
                </div>
                <div class="col-md-2">
                    <input type="date" id="SecondDoseDate" name="SecondDoseDate" [(ngModel)]="SecondDoseDate"
                        class="form-control" placeholder="Second Dose Date">
                </div>
                <div class="col-md-2">
                    <input type="text" id="BoosterName" name="BoosterName" [(ngModel)]="BoosterName"
                        class="form-control" placeholder="Booster Name">
                </div>
            </div>
            <br>
            <div class="row leavereq">
                <div class="col-md-2">
                    <p>Booster Date<span class="span">*</span></p>
                </div>
                <div class="col-md-2">
                    <label>First Dose Certificate<span class="span">*</span></label>
                </div>
                <div class="col-md-2">
                    <label>Second Dose Certificate<span class="span">*</span></label>
                </div>
                <div class="col-md-2">
                    <label>Booster Certificate<span class="span">*</span></label>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-2">
                    <input type="date" id="BoosterDoseDate" name="BoosterDoseDate" [(ngModel)]="BoosterDoseDate"
                        class="form-control" placeholder="Booster Dose Date">
                </div>
                <div class="col-md-2">
                    <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf" (change)="onSelect21($event)"
                        class="dropfile">
                        <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                            (removed)="onRemove21(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-md-2">
                    <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf" (change)="onSelect22($event)"
                        class="dropfile">
                        <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of attachments22" [removable]="true"
                            (removed)="onRemove22(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
                <div class="col-md-2">
                    <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf" (change)="onSelect23($event)"
                        class="dropfile">
                        <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of attachments23" [removable]="true"
                            (removed)="onRemove23(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-1">
                    <button class="form-control Edit" *ngIf="ID==undefined" (click)="Save()">Submit</button>
                </div>
                <div class="col-lg-1">
                    <button class="form-control Edit" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>