.butn-sadow1{
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 39px;
    left: 30px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.658333px;
    color: #ffffff;
    background: #3247D5;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    border-radius: 5px solid #3247D5;
    border: 5px solid #3247D5;
    
  
  }