<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="Heading">Benefits Position Mapping</h3>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-10"></div>
            </div> -->
            <br>
            <!-- <div class="row LocDashboard">
                <div class="col-lg-12">
                    <label style="padding-left: 10px;">Add Salary Details</label>
                </div>
            </div> -->
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-3">
                        <label>Level<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Position<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <p>Benefits<span style="color: red;">*</span></p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <select class="form-control" id="Department" name="Department" [(ngModel)]="level"
                            (change)="GetRole()">
                            <option value="">Select Level</option>
                            <option value="1"> Level 1 (CEO) </option>
                            <option value="2"> Level 2 (Senior President) </option>
                            <option value="3"> Level 3 (Vice President) </option>
                            <option value="4"> Level 4 (Director) </option>
                            <option value="5"> Level 5 (Senior Manager) </option>
                            <option value="6"> Level 6 (Manager) </option>
                            <option value="7"> Level 7 (Team Lead) </option>
                            <option value="8"> Level 8 (Senior Developer) </option>
                            <option value="9"> Level 9 (Developer) </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" style="font-weight: 100" id="RoleID" name="RoleID"
                            [(ngModel)]="RoleID">
                            <option value="">Select Position</option>
                            <option *ngFor="let item of RoleTypeList" value="{{item.id}}">{{item.short}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <ng-multiselect-dropdown [placeholder]="'Select Benefits'" [settings]="dropdownSettings1"
                            [data]="dropdownList1" [(ngModel)]="selectedItems1" (onSelect)="onItemSelect1($event)">
                        </ng-multiselect-dropdown>
                    </div>

                </div>
                <br>

                <br>
                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-1">
                        <button class="button" (click)="cancel()">Cancel</button>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <button class="button" (click)="Save()">Submit</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>