<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="Heading">Benefits Position Mapping</h3>
            <div class="card filtercard">
                <div class="row">
                    <div class="col-lg-1">
                        <p>Filter By</p>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control">
                    </div>

                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-3" style="text-align: center;">

                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{leavelist?.length}} </span>RESULTS</p>
                </div>
                <div class="col-md-2">
                    <button class=" form-control btn" routerLink="/HR/Rolebenefitsmapping">Add New</button>
                </div>
            </div>
            <br>
            <div class="row" style="margin-left: -99px;">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <table class="table table-bordered text">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th>Position</th>
                                    <th>Benefits</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let holiday of leavelist|filter:term">
                                    <td>
                                        <p *ngIf="holiday.levelid==1">Level 1</p>
                                        <p *ngIf="holiday.levelid==2">Level 2</p>
                                        <p *ngIf="holiday.levelid==3">Level 3</p>
                                        <p *ngIf="holiday.levelid==4">Level 4</p>
                                        <p *ngIf="holiday.levelid==5">Level 5</p>
                                        <p *ngIf="holiday.levelid==6">Level 6</p>
                                        <p *ngIf="holiday.levelid==7">Level 7</p>
                                        <p *ngIf="holiday.levelid==8">Level 8</p>
                                        <p *ngIf="holiday.levelid==9">Level 9</p>
                                    </td>
                                    <td>{{holiday.role}}</td>
                                    <td>{{holiday.benefits}}</td>
                                    <td>{{holiday.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />