<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-lg-11">
            <p class="Heading"><u>Employee Resignation</u></p>
        </div> -->
        <div class="col-md-8">
            <ul>
                <li><span class="active Heading ">
                    Employee Resignation 
                    <hr class="line-border listForm">
                </span></li>&nbsp;&nbsp;&nbsp;

                <li *ngIf="login==2"><a class=" Heading" style="margin-left: 38px;"
                        routerLink="/Manager/Exitformalityformdash"><u> Team Resignation
                        </u></a></li>
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div><br>
    <div class="card" *ngIf="roleid=='9'||roleid=='2'">
        <div class="row">
            <div class="col-lg-1">
                <img src="assets/Images/filter.svg" class="filter-img">
                <p class="filter">Filter By:</p>
            </div>
            <div class="col-lg-2">
                <select class="form-control" id="month" name="month" (change)="getchangemonth($event)">
                    <option value="0">Select Month</option>
                    <option value="1">January</option>
                    <option value="2">Febuary</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="col-lg-4">
                <input class="form-control search-icon" type="search" [(ngModel)]="search"
                    placeholder="Search for Staff...">
            </div>
            <div class="col-lg-3"> <button class="Addbutton" (click)="add()"><img src="assets/Images/plus.svg"
                        class="plus-icon"> add
                    resignation</button></div>
            <div class="col-lg-2 ">
                <p class="active">Count: {{Employeelist?.length}}</p>
            </div>
        </div>
    </div>
    <br>
    <!--  <div class="row"> //UI COMM

        <div class="col-lg-10">
        </div>
        <div class="col-lg-2" *ngIf="roleid !=1">
            <button class="Addbutton" (click)="add()"><img src="assets/Images/plus.svg" class="plus-icon"> add
                resignation</button>
        </div>
    </div> -->

    <div class="row ">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th *ngIf="roleid!=6">Employee Name</th>
                        <th>Resignation Date</th>
                        <th>Reason</th>
                        <th>Attachments</th>
                        <th>Status</th>
                        <th *ngIf="login!=1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let details of Employeelist|filter:search">
                        <td *ngIf="roleid!=6">{{details.name}}</td>
                        <td>{{details.lastworkingdate|date}}</td>
                        <td>{{details.notes}}</td>
                        <td class="expcol">
                            <img src="assets/Images/image.png" style="width:20px; height:20px"
                                (click)="images(details.id)" data-toggle="modal" data-target="#exampleModal1">
                            <!-- <a *ngIf="details.experienceletter!=0" href="{{details.experienceletter}}" target="_blank">
                                <button class="form-control button ">Experience
                                    Letter</button>
                            </a>
                            <a *ngIf="details.releavingletter!=0" target="_blank" href="{{details.releavingletter}}">
                                <button class="form-control button"> Relieving Letter
                                </button></a>
                            <a *ngIf="details.filetype=='pdf' && details.attachment!=0" href="{{details.attachment}}"
                                target="_blank"> <img src="assets/Images/pdf.png" alt="pdf.img"
                                    class="attachmentalign"></a>
                            <img *ngIf="details.attachment!=null && details.filetype!='pdf'"
                                src="{{details.attachment}}" (click)="getmedicalurl(details.attachment)"
                                alt="attachment.img" data-toggle="modal" data-target="#Allocate" class="imgurl">
                            <p *ngIf="details.attachment==0">No Attachment</p> -->
                        </td>
                        <td>
                            <label *ngIf="details.ownclearance=='0'" class="pending">Manager Pending</label><br>
                            <label *ngIf="details.hRclearance=='0'&& details.ownclearance!=2" class="pending">HR
                                Pending</label>
                            <label *ngIf="details.ownclearance=='1'" class="approved">Manager Approved</label><br>
                            <label *ngIf="details.hRclearance=='1'" class="approved">HR Approved</label>
                            <label *ngIf="details.ownclearance=='2'" class="approved">Retained</label>
                        </td>
                        <td *ngIf="login!=1">
                            <button *ngIf="details.ownclearance!='1'" class="edit-btn"
                                (click)="CancelResignRequest(details.id)">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ng-template #noResults1 *ngIf="Employeelist?.length!=0">
                <p class="NoResultShow"> No results found </p>
            </ng-template>

          
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img target="_blank" src="{{image}}" alt="medical.img" width="90%" height="auto">
        </div>
    </div>
</div>

<div id="Allocate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Attachment</h1>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centertxt">
                        <div class="col-lg-3">
                        </div>
                        <img src="{{attachment}}" alt="attachment.img" class="imgwidth">
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Related Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let details of multipleattachmentlist">
                        <div class="row">
                            <div class="col-lg-10">
                                <!-- <a href="{{details.attachment}}" target="_blank">
                                    <img style="width:100%;height:auto;" src="{{details.attachment}}">
                                  </a> -->
                                <img src="{{details.attachment}}" (click)="openAttchments(details.attachment)"
                                    style="width: 171px; height: 117px;">

                                <!-- <img src="assets/Images/pdf.png" *ngIf="details.filetype=='Pdf'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/word.png" *ngIf="details.filetype=='Document'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/files.png" *ngIf="details.filetype=='Ppt'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;"> -->

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>